:host {
    max-height: 500px;
    overflow: auto;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.m10 {
    margin: 10px;
}

.btn-primary {
    background-color: #18a689 !important;
    border-color: #18a689 !important;
    color: #FFFFFF !important;
}