.weui-cells{
    margin-top: 5px;
}
.status_title{
  font-size: .8em;
  color:green;
}
.main{
  padding: 0 10px;
}

.weui-cells{
  padding-top: 5px;
}

.h10{
  height: 10px;
}

.main{
  ul{
    padding: 15px 12px 8px;
    background: #fff;
    li{
      padding-left: 10px;
      overflow: hidden;
      height: 40px;
      &.fl{
        width: 40px;
        height: 40px;
        overflow:hidden;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}

.fl{
  float: left;
}

.f-14rem {
  font-size: 1.4rem;
}
.rel {
  position: relative;
}
.clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

.index-poster-kind {
  overflow: hidden;
  height: 16px;
}

.index-poster-name {
  color: #5a85ce;
  font-weight: bold;
  margin-right: 4px;
  max-width: 110px;
}
