:host {
    display: flex;
    flex-direction: column;
}

.widget {
    position: relative;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    overflow: hidden;
    padding: 5px 20px;
    &:hover {
        background: #e8e8e8;
    }
}

.widgets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .operate-navs {
        text-align: center;
        border: none;
        background-color: #F6F6F6;
        height: 50px;
        border-bottom: 1px solid #bfbfbf;
        border-top: 1px solid #bfbfbf;
        clear: both;
        span {
            width: 33%;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 51px;
            height: 51px;
            color: #858585;
            &.active {
                color: #efbf1f;
                height: 51px;
                border-bottom: 2px solid #efbf1f;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.icon-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    vertical-align: middle;
    text-indent: 0;
    text-decoration: none;
    text-align: center;
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}