
<div class="weui-cell weui-cell_switch">
  <div class="weui-cell__bd">是否永久</div>
  <div class="weui-cell__ft">
    <input class="weui-switch" [(ngModel)]="isForever" type="checkbox">
  </div>
</div>

<div class="" *ngIf="!isForever">
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">开始时间</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="datetime-local" value="" placeholder="">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">结束时间</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="datetime-local" value="" placeholder="">
    </div>
  </div>
</div>