<div class="tag-list-container">
  <div class="cap-taglist cap-action--clearfix">
    <div class="cap-taglist-sidenav" style="height: 2744px;">
      <div class="van-badge-group" style="position: fixed; top: 0px; bottom: 0px;">
        <a href="javascript:;" class="van-badge van-badge--select" mark="123123">
          <div class="van-badge__active"></div>
          <!---->螃蟹测试</a>
        <a href="javascript:;" class="van-badge" mark="456654">
          <div class="van-badge__active"></div>
          <!---->螃蟹测试2号分组</a>
        <a href="javascript:;" class="van-badge" mark="456655123">
          <div class="van-badge__active"></div>
          <!---->螃蟹测试3号分组</a>
        <a href="javascript:;" class="van-badge" mark="456655">
          <div class="van-badge__active"></div>
          <!---->螃蟹测试4号分组</a></div>
    </div>
    <div class="cap-taglist-goods">
      <div>
        <div id="avascript:;" class="cap-taglist-goods__title cap-action--ellipsis">螃蟹测试</div>
        <div class="van-cell-group">
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/02/17/FnDwvwHmU-OiqsbjAO5X7wh1KWrR.jpg!100x100.jpg" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
        </div>
      </div>
      <div>
        <div id="avascript:;" class="cap-taglist-goods__title cap-action--ellipsis">螃蟹测试2号分组</div>
        <div class="van-cell-group">
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/12/Fgaekp0-31InuRTWXQ6MruV1wboD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马2</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.11</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/12/Fgaekp0-31InuRTWXQ6MruV1wboD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马2</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.11</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/12/Fgaekp0-31InuRTWXQ6MruV1wboD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马2</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.11</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
        </div>
      </div>
      <div>
        <div id="avascript:;" class="cap-taglist-goods__title cap-action--ellipsis">螃蟹测试3号分组</div>
        <div class="van-cell-group">
          <a class="cap-taglist-goods__empty van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">此类下暂时没有商品</div>
            <!----></a>
        </div>
      </div>
      <div>
        <div id="avascript:;" class="cap-taglist-goods__title cap-action--ellipsis">螃蟹测试4号分组</div>
        <div class="van-cell-group">
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/15/FjN09-kDQ1sQY5WyzTBYlcKnWzxL.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.01</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/12/Fgaekp0-31InuRTWXQ6MruV1wboD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马2</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.11</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2016/12/12/Fgaekp0-31InuRTWXQ6MruV1wboD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">2017有赞新款七系蓝色宝马2</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.11</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
          <a class="van-cell">
            <!---->
            <div class="van-cell__value van-cell__value--alone">
              <div class="van-card">
                <div class="van-card__thumb">
                  <img src="https://img.yzcdn.cn/upload_files/2017/01/06/FsxZtyl5fQwfNnQE29Hp5cu93MkD.jpg?imageView2/2/w/120/h/120/q/75" class="van-card__img"></div>
                <div class="van-card__content">
                  <h4 class="van-card__title cap-font--14">666快来买呀走过路过不要错过</h4>
                  <p class="van-card__desc cap-taglist-goods__desc">￥0.02</p></div>
                <div class="van-card__footer"></div>
              </div>
            </div>
            <!----></a>
        </div>
      </div>
    </div>
  </div>
</div>
