
.cap-taglist {
  background: #f8f8f8;
}

.cap-taglist-sidenav {
  position: relative;
  float: left;
  width: 84px;
  background-color: #f2f2f2;
}

.cap-taglist-goods {
  margin-left: 84px;
  .van-cell {
    padding: 0;
  }
  .van-card {
    height: 60px;
    padding: 10px 15px 10px 70px;
    background-color: #fff;
  }
  .van-card__title {
    -webkit-line-clamp: 1;
  }
  .van-card__thumb {
    width: 60px;
    height: 60px;
    left: 0;
    top: 10px;
  }
}

.cap-taglist-goods__title {
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 15px;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #666;
}

.cap-taglist-goods__desc {
  color: #f44;
}

.cap-taglist-goods__empty .van-cell__value {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
}
