<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-content">
        <div class="bottom-nav-type-container">
            导航样式：
            <label (click)="changeNavType('img-text')">
              <input class="bottom-nav-image-text-type" type="radio" [checked]="currentWidget.customFeature['bottom-nav-type'] === 'img-text'">图文</label>
            <label (click)="changeNavType('text')">
              <input class="bottom-nav-text-type" type="radio" [checked]="currentWidget.customFeature['bottom-nav-type'] === 'text'">文字</label>
        </div>
        <span class="tip-wordNav-style">*注：小程序不建议使用“文字导航”样式</span>
        <span class="full-yellow-btn green" (click)="addPicture()">添加</span>
        <ul class="accordion-container js-accordion-container">
            <li class="accordion" *ngFor="let item of currentWidget.content;let i = index" [class.expand]="paraShow === i">
                <p class="set-title"><span (click)="showDetail(i)" class="js-text">{{item.text}}</span><span (click)="deletePicture(item)" class="delete-btn icon-container icon-delete"></span></p>
                <div class="set-content">
                    <div class="setting-row"><span class="setting-label">文字：</span>
                        <input class="input js-title-input" type="text" (change)="updateData(item.text,i)" [(ngModel)]="item.text">
                    </div>
                    <div class="setting-row bottom-nav-img-setting" *ngIf="currentWidget.customFeature['bottom-nav-type'] === 'img-text'">
                        <span class="setting-label">原始图片：</span>
                        <upload-pic-before [currentWidget]="currentWidget" [index]="i" *ngIf="!item.imgBefore"></upload-pic-before>
                        <div class="setting-group img-show-before" *ngIf="item.imgBefore">
                            <div class="setting-img-item">
                                <a href="javascript:;" class="img-thumb-wrap" title="上传图片"><img src="{{item.imgBefore}}"></a>
                            </div>
                            <a (click)="deleteNavPic('before',i)" href="javascript:;" class="btn orange delete-img">删除</a>
                        </div>
                    </div>
                    <div class="setting-row bottom-nav-img-setting" *ngIf="currentWidget.customFeature['bottom-nav-type'] === 'img-text'">
                        <span class="setting-label">按下图片：</span>
                        <upload-pic-after [currentWidget]="currentWidget" [index]="i" *ngIf="!item.imgAfter"></upload-pic-after>
                        <div class="setting-group img-show-before" *ngIf="item.imgAfter">
                            <div class="setting-img-item">
                                <a href="javascript:;" class="img-thumb-wrap" title="上传图片"><img src="{{item.imgAfter}}"></a>
                            </div>
                            <a (click)="deleteNavPic('after',i)" href="javascript:;" class="btn orange delete-img">删除</a>
                        </div>
                    </div>
                    <div class="setting-row">
                        <p><span class="setting-label">连接至</span>
                            <select #pageResponse class="js-button-page-link" [value]="setResponseSelection(i)" (change)="pageChange(pageResponse.value,i)">
                      <option value="none">无</option>
                      <option value="tabbarShoppingCart">购物车</option>
                      <option value="tabbarMyOrder">我的订单</option>
                      <option value="custom-link">自定义链接</option>
                      <optgroup *ngFor="let group of catalogService.getGroupsData()" label="{{ group.group }}">
                        <option *ngFor="let page of group.pages" value="{{ page.router }}">{{ page.name }}</option>
                      </optgroup>
                    </select>
                        </p>
                        <input class="input custom-link-input" [style.display]="pageResponse.value === 'custom-link' ? 'block':'none'" [(ngModel)]="currentWidget.content[i].link" type="text" placeholder="以http://或https://开头">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <div class="setting-inline">
                    <background-color [currentWidget]="currentWidget"></background-color>
                </div>
                <div class="setting-inline">
                    <background-image [currentWidget]="currentWidget"></background-image>
                </div>
            </div>
            <div class="setting-row">
                <shadow-style [currentWidget]="currentWidget"></shadow-style>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">图片设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">尺寸</div>
                <div class="setting-inline">
                    <label> </label>
                    <icon-size [currentWidget]="currentWidget"></icon-size>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>上</label>
                    <bottom-nav-top-style [currentWidget]="currentWidget"></bottom-nav-top-style>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">文字设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">初始颜色</div>
                <div class="setting-inline">
                    <font-color [currentWidget]="currentWidget"></font-color>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">选中颜色</div>
                <div class="setting-inline">
                    <active-font-color [currentWidget]="currentWidget"></active-font-color>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>下</label>
                    <bottom-nav-bottom-style [currentWidget]="currentWidget"></bottom-nav-bottom-style>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-inline" style="margin-bottom: 10px;">
                    <font-size [currentWidget]="currentWidget"></font-size>
                    <div class="divide-line"></div>
                    <font-decoration [currentWidget]="currentWidget"></font-decoration>
                    <div class="divide-line"></div>
                    <text-align [currentWidget]="currentWidget"></text-align>
                </div>
            </div>
        </div>
    </div>
</div>