<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>

<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-row">
        <span>按钮文字：</span>
        <set-button-text [currentWidget]="currentWidget"></set-button-text>
    </div>
    <div class="setting-row">
        <span class="setting-title">点击事件</span>
        <click-response [currentWidget]="currentWidget"></click-response>
    </div>
    <div class="setting-row bind-data-field" *ngIf="ifShowBindDataField">
        <label>绑定数据对象字段：</label>
        <bind-data-field [currentWidget]="currentWidget"></bind-data-field>
    </div>
</div>

<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">尺寸</div>
                <div class="setting-inline">
                    <label>宽</label>
                    <width-style [currentWidget]="currentWidget"></width-style>
                </div>
                <div class="setting-inline">
                    <label>高</label>
                    <height-style [currentWidget]="currentWidget"></height-style>
                </div>
            </div>
            <div class="setting-row" *ngIf="currentWidget.pattern !== 'free'">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>左</label>
                    <margin-left [currentWidget]="currentWidget"></margin-left>
                </div>
                <div class="setting-inline">
                    <label>上</label>
                    <margin-top [currentWidget]="currentWidget"></margin-top>
                </div>
            </div>
            <div class="setting-row" *ngIf="currentWidget.pattern !== 'free'">
                <div class="setting-row-text">位置</div>
                <widget-position [currentWidget]="currentWidget"></widget-position>
            </div>
            <div *ngIf="currentWidget.pattern === 'free'">
                <free-widget-position [currentWidget]="currentWidget"></free-widget-position>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">透明</div>
                <opacity-style [currentWidget]="currentWidget"></opacity-style>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <div class="setting-inline">
                    <background-color [currentWidget]="currentWidget"></background-color>
                </div>
                <div class="setting-inline">
                    <background-image [currentWidget]="currentWidget"></background-image>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">圆角</div>
                <div class="setting-inline" style="margin-right: 10px;">
                    <border-radius-style [currentWidget]="currentWidget"></border-radius-style>
                </div>
                <div class="setting-inline">
                    <border-circle-style [currentWidget]="currentWidget"></border-circle-style>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">文字设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-inline" style="margin-bottom: 10px;">
                    <font-size [currentWidget]="currentWidget"></font-size>
                    <div class="divide-line"></div>
                    <font-decoration [currentWidget]="currentWidget"></font-decoration>
                    <div class="divide-line"></div>
                    <font-color [currentWidget]="currentWidget"></font-color>
                    <text-align [currentWidget]="currentWidget"></text-align>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-accordion">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">边框设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">样式</div>
                <div class="setting-inline">
                    <border-style [currentWidget]="currentWidget"></border-style>
                </div>
                <div class="setting-row-text">粗细</div>
                <div class="setting-inline">
                    <border-width [currentWidget]="currentWidget"></border-width>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">颜色</div>
                <div class="setting-inline">
                    <border-color [currentWidget]="currentWidget"></border-color>
                </div>
            </div>
            <div class="setting-row">
                <shadow-style [currentWidget]="currentWidget"></shadow-style>
            </div>
        </div>
    </div>
</div>