<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-row">
        <span class="setting-label">列表名称：</span>
        <input class="input" type="text" [(ngModel)]="currentWidget.customFeature.name">
    </div>
    <div class="setting-row">
        <p>
            <label>手机端展示高度：</label>
            <not-auto-height [currentWidget]="currentWidget" [autoHeight]="currentWidget.customFeature.vesselAutoheight"></not-auto-height>
        </p>
        <div style="margin-top:10px">
            <label for="autoheight">高度自适应：</label><input id="autoheight" (click)="setAutoHeight(currentWidget.customFeature.vesselAutoheight)" [checked]="currentWidget.customFeature.vesselAutoheight == 1" type="checkbox" name="height">
            <div class="question-note">
                <span class="icon-help"></span>
                <div class="help-tip">'商家列表' 设置为高度自适应后，需放置于页面底部才能正常滚动加载(暂不支持小程序中高度自适应，如果在小程序中使用请设置列表高度)</div>
            </div>
        </div>
    </div>
    <!--   <div class="setting-row">
          <label for="contact">是否使用客服组件：</label><input id="contact" (click)="setContact(currentWidget.customFeature.ifUseContact)" [checked]="currentWidget.customFeature.ifUseContact" type="checkbox" name="height">
          <div class="setting-inline" style="margin-left:50px;">
            <a style="color: #d61518;" target="_blank" href="http://bbs.zhichiwangluo.com/forum.php?mod=viewthread&tid=11865">怎么使用？</a>
          </div>
        </div> -->
    <div class="setting-row">
        <label>绑定数据对象：</label><select [value]="currentWidget?.customFeature.form" disabled><option value="app_shop">商家</option></select>
        <div style="margin-top:10px">
            <p>
                <label>请选择商家分类：</label>
                <select #select class="data-source-select" [value]="currentWidget?.customFeature.source || 'none'" (change)="bindSource(select.value)">
                <option disabled *ngIf="currentWidget.customFeature.form == ''">请先绑定数据对象</option>
                <option value="none">全部</option>
                <option *ngFor="let category of widgetSettingService.getFormCategory(currentWidget.customFeature.form)" value="{{ category.id }}">{{ category.name }}</option>
              </select>
            </p>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-title">列表项点击事件：</div>
        <div>
            跳转至：
            <select disabled><option>商家详情页</option></select>
            <div class="question-note">
                <span class="icon-help"></span>
                <div class="help-tip left-help-tip">无须手动添加商家详情页, 绑定数据对象后，可在预览时点击商家列表查看详情页效果</div>
            </div>
        </div>
    </div>
</div>

<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <!-- <div class="setting-row">
              <div class="setting-row-text" style="margin-right: 2px; vertical-align: top;">样式</div>
              <div class="setting-inline">
                <ul class="layout-wrap">
                  <li class="list-layout" (click)="setDoubleDisplay(0)" [class.selected]="currentWidget.customFeature.mode === 0">
                    <div class="list-layout-content">
                      <div class="line"><div class="small-block"><div class="gray-block"></div></div></div>
                      <div class="small-block"><div class="gray-block"></div></div>
                    </div>
                  </li>
                  <li class="list-layout sec-mode" (click)="setDoubleDisplay(1)" [class.selected]="currentWidget.customFeature.mode === 1">
                    <div class="list-layout-content">
                      <div style="border-right: 2px solid #767676;" class="big-block"><div class="gray-block"></div></div>
                      <div class="big-block"><div class="gray-block"></div></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>上</label>
                    <margin-top [currentWidget]="currentWidget"></margin-top>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <background-color [currentWidget]="currentWidget"></background-color>
                <background-image [currentWidget]="currentWidget"></background-image>
            </div>
            <div class="setting-row">
                <div class="setting-row-text" style="margin-right: 9px;">行背景</div>
                <line-background-color [currentWidget]="currentWidget"></line-background-color>
                <line-background-image [currentWidget]="currentWidget"></line-background-image>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">透明</div>
                <opacity-style [currentWidget]="currentWidget"></opacity-style>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">图片设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">尺寸</div>
                <div class="setting-inline">
                    <label style="width: 28px; text-align: right;">宽</label>
                    <good-list-pic-width [currentWidget]="currentWidget"></good-list-pic-width>
                </div>
                <div class="setting-inline">
                    <label style="width: 28px; text-align: right;">高</label>
                    <good-list-pic-height [currentWidget]="currentWidget"></good-list-pic-height>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">每行</div>
                <div class="setting-inline">
                    <label>高度</label>
                    <item-height [currentWidget]="currentWidget"></item-height>
                </div>
                <div class="setting-inline">
                    <label>间隔</label>
                    <item-margin-bottom [currentWidget]="currentWidget"></item-margin-bottom>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">文字设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-inline">
                    <label>颜色</label>
                    <font-color [currentWidget]="currentWidget"></font-color>
                </div>
                <div class="setting-inline">
                    <label>大小</label>
                    <font-size [currentWidget]="currentWidget"></font-size>
                </div>
            </div>
        </div>
    </div>
</div>