<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-row">
        <span class="setting-label">列表名称：</span>
        <input class="input" type="text" [(ngModel)]="currentWidget.customFeature.name">
    </div>
    <div class="setting-row">
        <input id="contact" (click)="setContact(currentWidget.customFeature.ifUseContact)" [checked]="currentWidget.customFeature.ifUseContact" type="checkbox" name="height">
        <label for="contact">是否使用客服组件</label>
        <div class="setting-right">
            <a style="color: #efbf1f;" target="_blank" href="http://bbs.zhichiwangluo.com/forum.php?mod=viewthread&tid=11865">教程</a>
        </div>
    </div>
    <div class="setting-row">
        <input id="setIsIntegral" (click)="setIsIntegral(currentWidget.customFeature.isIntegral)" [checked]="currentWidget.customFeature.isIntegral" type="checkbox" name="height">
        <label for="setIsIntegral">是否限定为积分商品</label>
        <div class="setting-right">
            <a style="color: #efbf1f;" target="_blank" href="http://bbs.zhichiwangluo.com/forum.php?mod=viewthread&tid=12320">教程</a>
        </div>
    </div>
    <div class="setting-row">
        <input id="setIsHideSales" (click)="setIsHideSales(currentWidget.customFeature.isHideSales)" [checked]="currentWidget.customFeature.isHideSales" type="checkbox" name="height">
        <label for="setIsHideSales">是否隐藏销量</label>
    </div>
    <div class="setting-row">
        <input id="setIsHideStock" (click)="setIsHideStock(currentWidget.customFeature.isHideStock)" [checked]="currentWidget.customFeature.isHideStock" type="checkbox" name="height">
        <label for="setIsHideStock">是否隐藏库存</label>
    </div>
    <div class="setting-row">
        <input id="shoppingBtn" (click)="setIsShoppingCart(currentWidget.customFeature.isShoppingCart)" [checked]="currentWidget.customFeature.isShoppingCart" type="checkbox" name="height">
        <label for="shoppingBtn">是否显示加购物车按钮</label>
    </div>
    <div class="setting-row setting-second-level" *ngIf="currentWidget.customFeature.isShoppingCart">
        <input id="setIsBuyNow" (click)="setIsBuyNow(currentWidget.customFeature.isBuyNow)" [checked]="currentWidget.customFeature.isBuyNow" type="checkbox" name="height">
        <label for="setIsBuyNow">是否添加立即购买按钮</label>
    </div>
    <div class="setting-row">
        <label>绑定商品数据对象：</label><select #goodsTypeSelect class="goods-type-select" [value]="currentWidget?.customFeature.form" (change)="changeGoodsType(goodsTypeSelect.value)"><option value="goods">电商</option><option value="appointment">预约</option><option value="tostore">到店</option></select>
        <div style="margin-top:10px">
            <p>
                <label>请选择商品分类：</label>
                <select #select class="data-source-select" [value]="currentWidget?.customFeature.source || 'none'" (change)="bindSource(select.value)">
                        <option disabled *ngIf="currentWidget.customFeature.form == ''">请先绑定数据对象</option>
                        <option value="none">全部</option>
                        <option *ngFor="let category of widgetSettingService.getFormCategory(currentWidget.customFeature.form)" value="{{ category.id }}">{{ category.name }}</option>
                    </select>
            </p>
        </div>
    </div>
    <div class="setting-row">
        <p>
            <label>列表高度：</label>
        </p>
        <div class="setting-second-level">
            <div class="setting-second-row">
                <input id="customheight" (click)="setAutoHeight(0)" [checked]="currentWidget.customFeature.vesselAutoheight == 0" type="radio" name="height">
                <label for="customheight">自定义高度</label>
            </div>
            <div class="setting-second-level setting-second-row" *ngIf="currentWidget.customFeature.vesselAutoheight == 0">
                <label>高度设置：</label>
                <not-auto-height [currentWidget]="currentWidget" [autoHeight]="currentWidget.customFeature.vesselAutoheight"></not-auto-height>
            </div>
        </div>
        <div class="setting-second-level">
            <div class="setting-second-row">
                <input id="autoheight" (click)="setAutoHeight(1)" [checked]="currentWidget.customFeature.vesselAutoheight == 1" type="radio" name="height">
                <label for="autoheight">自适应高度</label>
            </div>
            <div class="setting-second-level" *ngIf="currentWidget.customFeature.vesselAutoheight == 1">
                <div class="setting-second-row">
                    <label>加载方式：</label>
                    <label><input type="radio" name="loading-data" [checked]="currentWidget.customFeature.loadingMethod == 1" (click)="setLoadingMethod(1)" >点击加载</label>
                    <label class="loading-way"><input type="radio" name="loading-data" [checked]="currentWidget.customFeature.loadingMethod == 0" (click)="setLoadingMethod(0)">滚动加载</label>
                </div>
                <div class="setting-second-row" *ngIf="currentWidget.customFeature.loadingMethod == 1">
                    <div class="setting-second-row">
                        <label>每次加载数据条数：</label>
                        <loading-num [currentWidget]="currentWidget"></loading-num>
                    </div>
                    <div>
                        <label>按钮样式：</label>
                        <div class="setting-second-row">
                            <label><input type="radio" name="loading-btn" [checked]="currentWidget.customFeature.loadingStyle == 'img'" (click)="setLoadingStyle('img')" />图片</label>
                            <div class="setting-second-level setting-second-row">
                                <loading-img [currentWidget]="currentWidget"></loading-img>
                            </div>
                        </div>
                        <div class="setting-second-row">
                            <label><input type="radio" name="loading-btn" [checked]="currentWidget.customFeature.loadingStyle == 'text'" (click)="setLoadingStyle('text')" />文字</label>
                            <div class="setting-second-level setting-second-row">
                                <input class="input loading-text-input" type="text" [(ngModel)]="currentWidget.customFeature.loadingText" />
                                <loading-color [currentWidget]="currentWidget"></loading-color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-second-row" *ngIf="currentWidget.customFeature.loadingMethod == 0">
                    <span class="tip-in-list-vessel-setting">*注：使用高度自适应的滚动加载，组件必须放置于页面底部，才能有滚动加载效果</span>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-title">列表项点击事件：</div>
        <div>
            跳转至：
            <select disabled><option>商品详情页</option></select>
            <div class="question-note">
                <span class="icon-help"></span>
                <div class="help-tip left-help-tip">
                    商品详情页无需设置, 绑定数据后可在预览时查看页面效果
                </div>
            </div>
        </div>
    </div>
</div>

<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text" style="margin-right: 2px; vertical-align: top;">样式</div>
                <div class="setting-inline">
                    <ul class="layout-wrap">
                        <li class="list-layout" (click)="setDoubleDisplay(0)" [class.selected]="currentWidget.customFeature.mode === 0">
                            <div class="list-layout-content" title="单列">
                                <div class="line">
                                    <div class="small-block">
                                        <div class="gray-block"></div>
                                    </div>
                                </div>
                                <div class="small-block">
                                    <div class="gray-block"></div>
                                </div>
                            </div>
                            <!-- <p>单列展示</p> -->
                        </li>
                        <li class="list-layout sec-mode" (click)="setDoubleDisplay(1)" [class.selected]="currentWidget.customFeature.mode === 1">
                            <div class="list-layout-content" title="双列">
                                <div style="border-right: 2px solid #767676;height: 18px;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                                <div style="height: 18px;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                                <div style="border-right: 2px solid #767676;height: 18px;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                                <div style="height: 18px;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                            </div>
                            <!-- <p>双列展示</p> -->
                        </li>
                        <li class="list-layout sec-mode" (click)="setDoubleDisplay(2)" [class.selected]="currentWidget.customFeature.mode === 2">
                            <div class="list-layout-content" title="横向滚动">
                                <div style="border-right: 2px solid #767676;width: 27%;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                                <div style="border-right: 2px solid #767676;width: 27%;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                                <div style="width: 22%;padding-right: 0;" class="big-block">
                                    <div class="gray-block"></div>
                                </div>
                            </div>
                            <!-- <p>横划展示</p> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="setting-row" *ngIf="currentWidget.customFeature.mode === 2">
                <span class="tip-in-list-vessel-setting">*注：使用横向滚动样式，组件默认滚动加载，设置点击加载将不生效</span>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>上</label>
                    <margin-top [currentWidget]="currentWidget"></margin-top>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <background-color [currentWidget]="currentWidget"></background-color>
                <background-image [currentWidget]="currentWidget"></background-image>
            </div>
            <div class="setting-row">
                <div class="setting-row-text" style="margin-right: 9px;">行背景</div>
                <line-background-color [currentWidget]="currentWidget"></line-background-color>
                <line-background-image [currentWidget]="currentWidget"></line-background-image>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">透明</div>
                <opacity-style [currentWidget]="currentWidget"></opacity-style>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">图片设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">尺寸</div>
                <div class="setting-inline">
                    <label style="width: 28px; text-align: right;">宽</label>
                    <good-list-pic-width [currentWidget]="currentWidget"></good-list-pic-width>
                </div>
                <div class="setting-inline">
                    <label style="width: 28px; text-align: right;">高</label>
                    <good-list-pic-height [currentWidget]="currentWidget"></good-list-pic-height>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">每行</div>
                <div class="setting-inline">
                    <label>高度</label>
                    <item-height [currentWidget]="currentWidget"></item-height>
                </div>
                <div class="setting-inline">
                    <label>间隔</label>
                    <item-margin-bottom [currentWidget]="currentWidget"></item-margin-bottom>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">文字设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-inline">
                    <label>颜色</label>
                    <font-color [currentWidget]="currentWidget"></font-color>
                </div>
                <div class="setting-inline">
                    <label>大小</label>
                    <font-size [currentWidget]="currentWidget"></font-size>
                </div>
            </div>
        </div>
    </div>
</div>