<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>

<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-row">
        是否开启城市过滤：<input type="checkbox" [checked]="currentWidget.customFeature.ifLocation" (click)="toggleLocation()" />
        <div class="question-note">
            <span class="icon-help"></span>
            <div class="help-tip">开启该功能后，若用户未同意授权微信获取相关信息，在同意授权前可能无法登录获取验证码</div>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-row">搜索提示</div>
        <div class="setting-row"><input class="text-input" type="text" [(ngModel)]="currentWidget.content.placeholder" /></div>
        <div class="setting-row tip-text">默认显示在搜索框内的提示语</div>
    </div>
    <div class="setting-row">
        <div class="setting-row">搜索范围（关联列表）</div>
        <div class="setting-row">
            <select id="search-object" class="select-list" [value]="currentWidget.customFeature.searchObject?currentWidget.customFeature.searchObject.customFeature.id:''" (change)="refreshObject()">
                    <option value="">选择列表</option>
                    <option *ngFor="let listVessel of widgetService.getCurrentPageWidgets('list-vessel')" [attr.data-id]="listVessel.id" value="{{ listVessel.customFeature.id }}">{{ listVessel.customFeature.name }}</option>
                    <option *ngFor="let goodsList of widgetService.getCurrentPageWidgets('goods-list')" [attr.data-id]="goodsList.id" value="{{ goodsList.customFeature.id }}">{{ goodsList.customFeature.name }}</option>
                    <option *ngFor="let franchisee of widgetService.getCurrentPageWidgets('franchisee-list')" [attr.data-id]="franchisee.id" value="{{ franchisee.customFeature.id }}">{{ franchisee.customFeature.name }}</option>
                </select>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-row">
            快捷标签：<input type="checkbox" [checked]="currentWidget.customFeature.hasQuickTags" (click)="toggleTags()" />
        </div>
        <div *ngIf="currentWidget.customFeature.hasQuickTags">
            <div class="setting-row">
                <div class="quick-tags">
                    <input (keydown)="enterEvent($event)" #tagText placeholder="输入搜索标签" type="text" />
                    <span id="addtags" (click)="addTags(tagText.value)">+</span>
                </div>
            </div>
            <div class="setting-row">
                <span class="tags" *ngFor="let tag of currentWidget.customFeature.quickTags,let index = index">{{tag}}<i (click)="deleteTag(index)" class="icon-cross"></i></span>
            </div>
            <div class="setting-row tip-text">
                默认搜索将以标签显示在搜索页，最多设置7项，每个标签不得超过6个字。
            </div>
        </div>
    </div>
</div>

<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>上</label>
                    <margin-top [currentWidget]="currentWidget"></margin-top>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <div class="setting-inline">
                    <background-color [currentWidget]="currentWidget"></background-color>
                </div>
                <div class="setting-inline">
                    <background-image [currentWidget]="currentWidget"></background-image>
                </div>
            </div>
        </div>
    </div>
</div>