<div class="feed dataItem">
  <div class="feed-hd">
    <div class="avatar">
      <b class="pic loaded" [ngStyle]="{'background-image': 'url('+info?.avatar+')'}"></b>
    </div>
    <div class="info vip-user">
      <p class="title">
        <span class="username">{{info.nickname}}</span>
        <span class="isvip" *ngIf="info?.isvip">
            <ng-content select=".vip"></ng-content>
        </span>
      </p>
      <p class="metas">
        <span class="time">{{info.create_time}}</span></p>
    </div>
  </div>
  <div class="feed-bd">
    <p class="txt">
      <ng-content select=".content"></ng-content>
    <div class="images ui-img-list">
      <figure class="item" *ngFor="let img of info.thumbs">
        <span class="img loaded" [ngStyle]="{'background-image':'url('+img+')'}"></span>
      </figure>
    </div>

    <div class="actions js_actions">
      <p class="views">{{info.look_num}}次浏览</p>
      <button class="item js-like like" [class.liked]="info.liked" (click)="_like(info)">赞</button>
      <button class="item comment" (click)="_comment(info)">评论</button>
      <button class="item repost" (click)="_share(info)">转发</button>
    </div>
  </div>
  <div class="feed-ft js-feedft" *ngIf="info?.goods.length > 0">
    <div class="likes j-likelist">
      <a class="username" *ngFor="let good of info.goods;last as isLast;">{{good.nickname}}<i class="dot" *ngIf="!isLast">、</i></a>觉得赞
    </div>
    <div class="comments min-comments">
      <div class="list js-comment-list">
        <div class="comment-item" *ngFor="let comment of info.comments">
          <div class="avatar" *ngIf="showCommentAvatar">
            <b class="pic" [ngStyle]="{'background-image': 'url('+comment.avatar+')'}"></b>
          </div>
          <div class="mainer">
            <div class="comment-info">
              <p class="title">
                <a class="username">{{comment.nickname}}</a>
              </p>
              <p class="metas"><span class="time">{{comment.create_time}}</span></p>
            </div>
            <div class="comment-text">{{comment.content}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

