.feed {
  background-color: #fff;
  margin: 15px 0 0;
  padding: 20px 0 0;
  position: relative;
}

.feed-bd {
  .img, .video {
    position: relative;
  }
}

a, address, b, blockquote, body, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, label, legend, li, ol, p, s, span, table, tbody, td, tfoot, th, thead, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Helvetica,Arial,sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.feed-hd {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 10px;
  .avatar {
    padding: 0 12px;
  }
}

.avatar .pic {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #eee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.feed-bd {
  padding: 0 10px;
  .txt {
    line-height: 1.333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    img {
      vertical-align: text-bottom;
    }
  }
}

.large-em, .mini-em {
  height: 18px !important;
}

.feed-bd .images {
  margin-left: -2px;
}

.audio, .images, .video {
  margin: 10px 0 0;
}

.images .item {
  position: relative;
  float: left;
  width: 33.3333%;
  padding: 0;
  margin: 0;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feed-bd {
  .img:nth-child(1), .video:nth-child(1) {
    margin: 0;
  }
}

.images {
  &:nth-child(1) {
    margin: 0;
  }
  .item .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-background-size: cover;
  }
}

.qboss-banner {
  background-position: 50% 50%;
  -webkit-background-size: cover;
}

.feed-bd .img {
  margin: 10px 0 0;
  background-color: #ccc;
  background-size: cover;
}

.images {
  &:after, &:before {
    display: table;
    content: '';
  }
}

.feed-bd .views {
  color: #707070;
  font-size: 14px;
  position: absolute;
  left: 12px;
  bottom: 14px;
}

.feed .actions {
  text-align: right;
  padding: 3px 0;
  position: relative;
  .item {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    color: transparent;
    vertical-align: top;
  }
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.feed .actions {
  .like:after {
    background-image: url(./gb.png);
    background-position: -75px -17px;
    background-size: 157px 128px;
  }
  .liked:after {
    background-image: url(./gb.png);
    background-position: -63px -75px;
    background-size: 157px 128px;
  }
  .item:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .comment:after {
    background-image: url(gb.png);
    background-position: -42px -75px;
    background-size: 157px 128px;
  }
  .repost:after {
    background-image: url(gb.png);
    background-position: -21px -75px;
    background-size: 157px 128px;
  }
}

.feed-ft {
  padding: 10px 12px;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .input-btn:after {
    width: 150%;
    height: 150%;
    -webkit-transform: scale(0.6666);
    transform: scale(0.6666);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .feed-ft:before {
    -webkit-transform: scaleY(0.6666);
    transform: scaleY(0.6666);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .input-btn:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .feed-ft:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .input-btn:after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.3333);
    transform: scale(0.3333);
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .feed-ft:before {
    -webkit-transform: scaleY(0.3333);
    transform: scaleY(0.3333);
  }
}

.likes, .rewards {
  color: #285c9d;
  font-size: 14px;
  line-height: 1.5;
  .username {
    color: #285c9d;
    font-size: 14px;
    line-height: 1.5;
  }
}

.likes:before, .rewards:before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-image: url(gb.png);
  background-position: 0 -96px;
  background-size: 157px 128px;
}

.likes, .rewards {
  color: #285c9d;
  font-size: 14px;
  line-height: 1.5;
  .username {
    color: #285c9d;
    font-size: 14px;
    line-height: 1.5;
  }
}

a {
  text-decoration: none;
}

.min-comments .comment-item {
  margin: 8px 0 0;
}

.comment-item {
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.min-comments {
  .comment-info .metas, .comment-item .avatar {
    display: none;
  }
}

.comment-item .avatar {
  margin-right: 10px;
}

.avatar .pic {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #eee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.comment-item .mainer {
  position: relative;
  min-width: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.min-comments {
  .comment-info {
    display: inline;
    .title {
      display: inline;
    }
  }
  .comment-text {
    display: inline;
  }
  .comment-info .username {
    color: #285c9d;
    margin-right: 5px;
    font-size: 14px;
    &:after {
      content: ':';
    }
  }
}

.comment-info .metas {
  color: #707070;
  font-size: 12px;
  margin: 3px 0 0;
}

.min-comments {
  .comment-text {
    margin: 0;
  }
  .comment-info {
    display: inline;
    .title {
      display: inline;
    }
  }
  .comment-text {
    display: inline;
  }
}

.images {
  &:after {
    clear: both;
    display: table;
    content: '';
  }
  &:before, &:after, &:before {
    display: table;
    content: '';
  }
}

.mini-em {
  height: 18px !important;
}
