<div class="weui-wepay-pay-select" style="background:#fff;">
  <div class="weui-wepay-pay-select__hd">
    <h1 class="weui-wepay-pay-select__title">{{_props.title}}</h1>
    <p class="weui-wepay-pay-select__info">{{_props.desc}}</p>
  </div>
  <div class="weui-wepay-pay-select__bd">
    <ul class="weui-wepay-pay-select__element">
      <li class="weui-wepay-pay-select__li" (click)="_onItem(item)" *ngFor="let item of _props.items">
        <a href="javascript:;" class="weui-wepay-pay-select__item" [class.weui-wepay-pay-select__item_on]="item.active" >{{item.title}}</a>
      </li>
    </ul>
  </div>
  <div class="weui-wepay-pay-select__ft">
    <div class="weui-wepay-pay__btn">
      <a href="javascript:;" class="weui-btn weui-btn_primary" (click)="pay()">{{_props.btn}}</a>
    </div>
    <p class="weui-wepay-pay__info">{{_props.tip}}</p>
  </div>
</div>