<div class="jd-express-news">
  <a report-eventid="MHome_BJDTitle" report-eventlevel="1" report-eventparam="785" page_name="index" class="J_ping jd-news-tit" href="https://pro.m.jd.com/mall/active/3vWapAz58pJGYRfNeG88ddfsMM8S/index.html"><img src="//st.360buyimg.com/m/images/index/jd-news-tit.png"></a>
  <div id="scroll-news" class="news-list-wrapper">
    <ul class="news-list" style="transform: translate3d(0px, 0px, 0px);">
      <li class="news-item" *ngFor="let item of items">
        <a href="javascript:;" class="J_ping">
          <span class="red">{{item['tag']}}</span>{{item['title']}}
        </a>
      </li>
    </ul>
  </div>
  <a report-eventid="MHome_BJDNewsMore" report-eventlevel="1" report-eventparam="785" page_name="index" class="J_ping jd-news-more" href="https://pro.m.jd.com/mall/active/3vWapAz58pJGYRfNeG88ddfsMM8S/index.html"><i class="line"></i>更多</a>
</div>
