

<div class="title">
  超重加价
</div>

<div class="weui-cells">
  <a class="weui-cell weui-cell_access" (click)="moreJuli(item,i)" *ngFor="let item of post.weightItems;index as i;" href="javascript:;">
    <div class="weui-cell__bd">
      <p>{{item['price']}}元{{post['qujian_jifei'] ? '' : '/公斤'}}</p>
    </div>
    <div class="weui-cell__ft">{{item['start']}}-{{item['end']}}公斤</div>
  </a>
  <a class="weui-cell weui-cell_access" (click)="addJuli()" href="javascript:;">
    <div class="weui-cell__bd">
      <p>添加</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
</div>
<div class="js_dialog" *ngIf="showJuliEdit">
  <div class="weui-mask"></div>
  <div class="weui-dialog">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title">重量加价设置</strong></div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">大于公斤</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" [(ngModel)]="juliEditItem['start']" type="number" pattern="[0-9]*" placeholder="请输入重量,单位为公斤">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">小于公斤</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" [(ngModel)]="juliEditItem['end']" type="number" pattern="[0-9]*" placeholder="请输入重量,单位为公斤">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">价格</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" [(ngModel)]="juliEditItem['price']" pattern="[0-9]*" placeholder="请输入价格">
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="save()">保存</a>
    </div>
  </div>
</div>
