<div class="wiz_android_edit_note_info">
    <div class="nogroup title-ctn">
        <input type="text" placeholder="" style="">
        <i class="icon_style_mention icon-mention"></i>
    </div>
    <div class="nogroup path-ctn">
        <i class="icon_style_folder icon-folder"></i>
        <span class="path-info"></span>
        <i class="icon_style_select icon-select"></i>
        <span class="path-info"></span>
    </div>
</div>

<div contenteditable="true" class="wiz-template-editable">
    <ng-content></ng-content>
</div>