<div style="margin-bottom: 10px;" id="topic-item-18219421">
  <div class="bg-fff index-post-all rel" id="conart-18219421">
    <!--帖主头像昵称时间浏览-->
    <ul style="padding: 15px 12px 8px;">
      <li class="fl" style="width: 40px;height: 40px;overflow:hidden;">
        <a href="/u/i-155155300">
          <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZiawdu2gXNtzcnbyQmh34bprz8BXBchsRibdnvJvPcFpE1Yq2nmIiaOq7IyRvbJhYkBcMMXDFcWWV6gxqWicyye3QibY/132" width="100%"></a>
      </li>
      <li style="padding-left: 10px;overflow: hidden;height:40px;">
        <div class="f-14rem rel" style="padding-right:15px;height:20px;margin-top:1px;">
          <div class="clearfix" style="display:block;">
            <span class="index-poster-name fl wzsl" style="height:20px;">微赞直播技术客服姜</span>
            <div class="index-poster-kind" id="topic-state-18219421">
              <span class="color-block f-11rem" style="background: #5bc3ff;">V.3</span>
              <span class="icon-top-post"></span>
            </div>
          </div>
          <a style="cursor:pointer;" href="javascript:;" data-setfrom="1" class="abs jiantouzhankai" data-artid="18219421" data-cphref="/cp/i-1?returl=%2ff%2fs-1%3fvPageIndex%3d1%26vSeeId%3d18219421&amp;artid=18219421"></a>
        </div>
        <label class="f-11rem c858 clearfix" style="display: block;margin-top:3px;">
          <span>6-12</span>&nbsp;&nbsp;
          <span>浏览74836</span></label>
      </li>
    </ul>
    <!--帖子正文内容-->
    <ul style="padding: 0 12px;">
      <li class="clearfix f-16rem word-break" style="color: black;line-height: 150%;margin-bottom: 8px;">
        <a href="/t/d-18219421?pageIndex=1">
          <p class="f-16rem" style="font-weight:bold;">论坛帖子审核规则</p></a>
        <a href="/f/s-1?typeId=875&amp;h=0" class="f-12rem fl section-theme wzsl" id="artTypeName-18219421">教程中心</a>
        <div style="display:inline;" id="article-default-18219421">
          <a href="/t/d-18219421?pageIndex=1">各位用户：如报道事故新闻相关帖子，其内图片和视频有血液的部分和对于事故中的死者和伤员的脸部以及伤口部位等画面全部都需要打上马赛克，否则会被系统删除。 更多帖子审核机制请参照...
            <span style="color:#17b5ee">查看全文</span></a>
        </div>
      </li>
      <!--赏转评赞-->
      <li class="c858 clearfix f-12rem index-icon-bt" style="text-align: center;">
        <span style="width:25%;cursor:pointer;" id="replybtn-1zan18219421" class="fr temp-zan-btn" data-itemid="18219421" data-typeid="1">
          <i class="icon-zan"></i>
          <em>赞 94</em></span>
        <span class="fr temp-reply-btn" style="width:25%;cursor:pointer;" id="replybtn- 18219421" nickname="" pcomtid="0" artid="18219421" duid="0" floorid="0" data-artfrom="1">
          <i class="icon-ping"></i>
          <em>评 65</em></span>
        <span class="fr" style="width: 25%;">
          <a class="c858" href="/t/d-18219421?t=share">
            <i class="icon-zhuan"></i>
            <em>转 7</em></a>
        </span>
      </li>
    </ul>
    <ul class="reward-touxiang rel">
      <li class="clearfix">
        <i class="abs"></i>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-293410828">
            <img uid="293410828" src="http://wx.qlogo.cn/mmopen/tZOqj4KIx0h38nWLib7mmrlycyzCKWVHFGuibLialkgxZhkyBz4LmKAA3kTgWGSmkMU06gEZNABVcsqnkduLVfNgmLNhoBErwke/0" style="width:100%;height:100%;"></a>
        </span>
      </li>
    </ul>
    <ul id="zan-touxiang-18219421" class="zan-touxiang rel">
      <li class="clearfix">
        <i class="abs"></i>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-256485017">
            <img src="http://wx.qlogo.cn/mmopen/SCug0ESSOHicwe4IBn1FFEIm9ibuKo7PwXXrtBH8dcib42b9LIR4HvGfv0tSwxcL8ug0bHEE8PTz1zHWus4nsR0gq8QzdiblMUmu/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-318958029">
            <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZgWwdN3bRHhzoLc1bFB44xonSs6ickgHz1qIc5ELLM3ua6DGbglFPODDeyicmicAVkKt1q46uCrLFuPg/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-232898649">
            <img src="http://wx.qlogo.cn/mmopen/tZOqj4KIx0hu64Zu1zFZ2GpGpWkRJI3ngPhKOUxCqhXl40gBq5POE6Hbvc1dmBicU9sL40uYlACHyjics9o5Q7LLoEJclqL08r/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-312585647">
            <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZhPIwk2T4zz9plmDxueibPdEiayBhib5s66RfVUFqFlzUCs2QUdyejFnhKz09GzUS8sYshkp4wLb8pmt8ic1v7qZhRp/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-292353990">
            <img src="http://wx.qlogo.cn/mmopen/tZOqj4KIx0h38nWLib7mmruoCYGjEV2neufKt2ciaUrXDWiaTu9Wek5xzMLZpLVkkX7icu1FHibSoPt6gBh48RCfkFUUG1hVKbhVV/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-308339024">
            <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZjQmHibJCwAVwMF5w4ekwqpoFSmaulfPKzGvngxIqlEarXG6YRqO6WmUPEAjcGQzsQSIepIZRuwC57KnENpxUr4w/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-314744422">
            <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZh1awunBIzNFC2U11KOGqZu5PIcZDpIMEPricj9KBoBchubxmSyPCS61Onr4qACnrBjPmmAEIvoRH4veenPgsnoR/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-314664435">
            <img src="http://wx.qlogo.cn/mmopen/6X98wIia7OtE0RPQHa1oCYofN4llIvEPR6gTheDg2ag34MuicqP8oiagNiaK1cmH4RribnbUx7n5wgiaXeIKskDSa7Sl0Ziammzuf8G/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-175778860">
            <img src="http://wx.qlogo.cn/mmopen/7hINACNJlZjQmHibJCwAVwP47RFHVpYGFlZyIQDicIh6t08l57OuCFBtnGAdCD4KqOpJcoPU47sCR6ZD5VSRb9qPFVh07ujSEK/0" style="width:100%;height:100%;"></a>
        </span>
        <span class="fl bz" style="overflow:hidden;">
          <a href="/u/i-290446426">
            <img src="http://wx.qlogo.cn/mmopen/wcLBdiaDTlsuqIj0ibFGANqlkjaqyiaqPmdt3xHLgZmpNb8utTiacicG7c1QnvvpETonRVFCQy7CjXCbdaDFQYJI7q40fHh0bK2OE/0" style="width:100%;height:100%;"></a>
        </span>
      </li>
    </ul>
    <ul class="index-pl rel">
      <i class="abs index-icon-pl"></i>
      <li id="comms_36349113" class="d-flex index-pl-li rel">
        <div style="width:35px;overflow:hidden;">
          <a href="/u/i-563757">
            <img src="http://wx.qlogo.cn/mmopen/wcLBdiaDTlsuqIj0ibFGANqqyZIRgMNKkdWXzOTwXwUO58ejibA7Ht89oJJHVTRWgoniauI7lny0P7zKxaOzdnDXb4rqqwhJUULt/132" width="100%"></a>
        </div>
        <ul class="flex temp-comment-menu" style="padding-left:6px;cursor:pointer;" data-commentid="36349113" data-setfrom="1">
          <li class="clearfix" id="comment-state-36349113">
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;margin-right:4px;line-height:15px;">祁波@南京</label>
            <span class="fr f-11rem" style="color: #cccccc;margin-top: 1px;">6-1</span></li>
          <li class="clearfix word-break" style="line-height:140%;margin-top:1px;">
            <span class="fl">回复</span>
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;">画工小弟</label>:
            <span>修改原来的帖子后、也要“被审核”……你审核就审核吧，至少原来的旧贴可以显示出来吧，
              <img src="http://i.pengxun.cn/content/skin/emoji/new/49.gif" alt="鄙视" code="749" class="vzan-ubb qq-face-gif" width="24px" height="24px">但是、然而索性旧贴也不给显示...</span></li>
        </ul>
      </li>
      <li id="comms_36776834" class="d-flex index-pl-li rel">
        <div style="width:35px;overflow:hidden;">
          <a href="/u/i-305585316">
            <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKicxCPgzZu76PXHq68iaVPZYsWX0UuVBhA16StbVMaa1t0mFDsrhsunfmM9OVaboHc8Xr5kAGKIpzQ/132" width="100%"></a>
        </div>
        <ul class="flex temp-comment-menu" style="padding-left:6px;cursor:pointer;" data-commentid="36776834" data-setfrom="1">
          <li class="clearfix" id="comment-state-36776834">
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;margin-right:4px;line-height:15px;">善良的老实人</label>
            <span class="fr f-11rem" style="color: #cccccc;margin-top: 1px;">6-9</span></li>
          <li class="clearfix word-break" style="line-height:140%;margin-top:1px;">
            <span class="fl">回复</span>
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;">村里一枝花！</label>:
            <span>因为你是村里一枝花，如果你是台上一枝花就好办了，原因你懂的，这就是现实</span></li>
        </ul>
      </li>
      <li id="comms_36776884" class="d-flex index-pl-li rel">
        <div style="width:35px;overflow:hidden;">
          <a href="/u/i-305585316">
            <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKicxCPgzZu76PXHq68iaVPZYsWX0UuVBhA16StbVMaa1t0mFDsrhsunfmM9OVaboHc8Xr5kAGKIpzQ/132" width="100%"></a>
        </div>
        <ul class="flex temp-comment-menu" style="padding-left:6px;cursor:pointer;" data-commentid="36776884" data-setfrom="1">
          <li class="clearfix" id="comment-state-36776884">
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;margin-right:4px;line-height:15px;">善良的老实人</label>
            <span class="fr f-11rem" style="color: #cccccc;margin-top: 1px;">6-9</span></li>
          <li class="clearfix word-break" style="line-height:140%;margin-top:1px;">
            <span class="fl">回复</span>
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;">曹阳</label>:
            <span>你好！现在还有老百姓说理的地方吗？我想只能在电视上看到，为人民服务已经成了挂羊头卖狗肉了，</span></li>
        </ul>
      </li>
      <li id="comms_36776895" class="d-flex index-pl-li rel">
        <div style="width:35px;overflow:hidden;">
          <a href="/u/i-305585316">
            <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKicxCPgzZu76PXHq68iaVPZYsWX0UuVBhA16StbVMaa1t0mFDsrhsunfmM9OVaboHc8Xr5kAGKIpzQ/132" width="100%"></a>
        </div>
        <ul class="flex temp-comment-menu" style="padding-left:6px;cursor:pointer;" data-commentid="36776895" data-setfrom="1">
          <li class="clearfix" id="comment-state-36776895">
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;margin-right:4px;line-height:15px;">善良的老实人</label>
            <span class="fr f-11rem" style="color: #cccccc;margin-top: 1px;">6-9</span></li>
          <li class="clearfix word-break" style="line-height:140%;margin-top:1px;">
            <span class="fl">回复</span>
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;">风雨过后是彩虹，</label>:
            <span>你的电视剧看多了吧，</span></li>
        </ul>
      </li>
      <li id="comms_36776919" class="d-flex index-pl-li rel">
        <div style="width:35px;overflow:hidden;">
          <a href="/u/i-305585316">
            <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKicxCPgzZu76PXHq68iaVPZYsWX0UuVBhA16StbVMaa1t0mFDsrhsunfmM9OVaboHc8Xr5kAGKIpzQ/132" width="100%"></a>
        </div>
        <ul class="flex temp-comment-menu" style="padding-left:6px;cursor:pointer;" data-commentid="36776919" data-setfrom="1">
          <li class="clearfix" id="comment-state-36776919">
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;margin-right:4px;line-height:15px;">善良的老实人</label>
            <span class="fr f-11rem" style="color: #cccccc;margin-top: 1px;">6-9</span></li>
          <li class="clearfix word-break" style="line-height:140%;margin-top:1px;">
            <span class="fl">回复</span>
            <label class="fl wzsl" style="color: #5a85ce;max-width: 110px;">源源归潭迎日照</label>:
            <span>现如今不论大小无官不贪，不搞特权，不官僚，毛泽东时代干部和群众心连心，现在官老爷们和老百姓已经成为敌我矛盾了，为人民服...</span></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="check-huifu rel" style="background: #fff;">
    <a style="color: #5a85ce;" href="/t/d-18219421?pageIndex=1">查看全部
      <em>65</em>条回复</a></div>
</div>
