<div class="container">
    <div class="container-left">
        <div class="aside-title">
            页面装修
        </div>
        <div class="aside">
            <menu-container (click)="setCurrentPage(page)" [class.active]="page.active" (onEdit)="editPage(page)" (onDelete)="deletePage(page)" *ngFor="let page of page$.dates">
                {{page.title}}
            </menu-container>
        </div>
        <div>
            <a href="javascript:;" (click)="addPage()" class="btn btn-default">+添加页面</a>
        </div>
    </div>
    <div class="container-center">
        <div class="ibox">
            <div class="ibox-title"></div>
            <div class="ibox-content">
                <iphone6>
                    <free-widget-view (click)="setCurrentView(widget)" *ngFor="let widget of widgets" [widget]="widget"></free-widget-view>
                </iphone6>
            </div>
        </div>
    </div>

    <div class="container-right">
        <div class="ibox">
            <div class="ibox-title">
                <h5>参数设置</h5>
            </div>
            <div class="ibox-content">
                <free-widget-setting [widget]="currentWidget"></free-widget-setting>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>组件库</h5>
            </div>
            <div class="ibox-content">
                <nav-tabs>
                    <nav-tab-pane title="容器组件">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">行容器(button)</a>
                                <a href="javascript:;" (click)="addList()" class="btn btn-primary">列容器(list)</a>
                                <a href="javascript:;" (click)="addInput()" class="btn btn-primary">混合容器(input)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>
                    <nav-tab-pane title="表单">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">按钮(button)</a>
                                <a href="javascript:;" (click)="addList()" class="btn btn-primary">列表(list)</a>
                                <a href="javascript:;" (click)="addInput()" class="btn btn-primary">输入框(input)</a>
                                <a href="javascript:;" (click)="addSlider()" class="btn btn-primary">滑动条(slider)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">上传附件(uploader)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>

                    <nav-tab-pane title="基础组件">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">文章(article)</a>
                                <a href="javascript:;" (click)="addList()" class="btn btn-primary">徽章(badge)</a>
                                <a href="javascript:;" (click)="addInput()" class="btn btn-primary">布局(flex)</a>
                                <a href="javascript:;" (click)="addSlider()" class="btn btn-primary">底部版权(footer)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">图片预览(gallery)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">九宫格(grid)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">加载中(loadmore)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">面板(panel)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">预览(preview)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">进度(progress)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>

                    <nav-tab-pane title="操作反馈">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">底部快捷(action-sheet)</a>
                                <a href="javascript:;" (click)="addList()" class="btn btn-primary">对话框(dialog)</a>
                                <a href="javascript:;" (click)="addInput()" class="btn btn-primary">提示页(msg)</a>
                                <a href="javascript:;" (click)="addSlider()" class="btn btn-primary">选择器(picker)</a>
                                <a href="javascript:;" (click)="addUploader()" class="btn btn-primary">轻提示(toast)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>

                    <nav-tab-pane title="搜索相关">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">搜索框(search-bar)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>

                    <nav-tab-pane title="导航相关">
                        <ng-template navTabPaneRef>
                            <div class="widget-container">
                                <a href="javascript:;" (click)="addButton()" class="btn btn-primary">顶部切换(navbar)</a>
                                <a href="javascript:;" (click)="addList()" class="btn btn-primary">底部菜单(tabbar)</a>
                            </div>
                        </ng-template>
                    </nav-tab-pane>
                </nav-tabs>

            </div>
        </div>

    </div>

</div>
<div class="footer-save">
    <a href="javascript:;" (click)="saveCurrentPage()" class="btn btn-primary ">保存</a>
    <a href="javascript:;" (click)="productCurrentPage()" class="btn btn-danger">生成</a>
</div>