<div class="container">
    <div class="container-left">
        <div style="height: 20px;"></div>
        <nav-tabs>
            <nav-tab-pane title="页面">
                <ng-template navTabPaneRef>
                    <catalog-section [appId]="app_id"></catalog-section>
                </ng-template>
            </nav-tab-pane>
            <nav-tab-pane title="组件" *ngIf="showComponent">
                <ng-template navTabPaneRef>
                    <widget-section (onSelect)="addWidget($event)"></widget-section>
                </ng-template>
            </nav-tab-pane>
            <nav-tab-pane title="操作" *ngIf="showComponent">
                <ng-template navTabPaneRef>
                    <action-section (onSelect)="addWidget($event)"></action-section>
                </ng-template>
            </nav-tab-pane>
        </nav-tabs>
    </div>
    <div class="container-center">
        <div class="ibox">
            <div class="ibox-content">
                <iphone6>
                    <layout-view [widget]="currentPage"></layout-view>
                </iphone6>
            </div>
            <div class="ibox-content">
                <div class="footer-save">
                    <a href="javascript:;" (click)="saveCurrentPage()" [class.btn-disable]="saveBtn.loading" class="btn btn-primary ">
                        <i class="weui-loading" *ngIf="saveBtn.loading"></i>{{saveBtn.title}}
                    </a>
                    <a class="btn btn-danger" *ngIf="currentPage.id" (click)="doPreview()">html5</a>
                    <a class="btn btn-success" [href]="wxappHref">小程序</a>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{currentWidget?.name}}参数设置</h5>
                </div>
                <div class="ibox-content">
                    <free-widget-setting [widget]="currentWidget"></free-widget-setting>
                </div>
            </div>
        </div>
    </div>
</div>