.emoji {
    background: url("./emoji.png") top left no-repeat;
    width: 20px;
    height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}