
.van-cell {
  width: 100%;
  display: table;
  position: relative;
  padding: 10px 15px 10px 0;
  box-sizing: border-box;
  line-height: 24px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-bottom: 1px solid #e5e5e5;
  }
  &:last-child:after {
    border-bottom: 0;
  }
}

.van-cell__title {
  display: table-cell;
}

.van-cell__label {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #666;
}

.van-cell__value {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  overflow: hidden;
}

.van-cell__value--link {
  padding-right: 20px;
}

.van-cell__value--alone {
  text-align: left;
}

.van-cell--required {
  overflow: visible;
  .van-cell__title {
    float: none;
    display: inline-block;
  }
  &:before {
    content: "*";
    position: absolute;
    left: -7px;
    font-size: 14px;
    color: #f44;
  }
}

.van-cell__right-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
  font-size: 12px;
}

.van-cell-swipe {
  .van-cell-left, .van-cell-right, .van-cell-wrapper {
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
  }
  position: relative;
  min-height: 48px;
  overflow: hidden;
}

.van-cell-right {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.van-cell-left, .van-cell-right {
  position: absolute;
  height: 100%;
  top: 0;
}

.van-cell-left {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
