<!-- <rich-edit>
    <h2>这是一个很牛逼的编辑器</h2>
</rich-edit> -->
<!-- 
<office-page>
    <office-icon name="mail"></office-icon>
    <office-icon name="MailAlert"></office-icon>
    <office-icon name="MailCheck"></office-icon>
    <office-icon name="DocsLogo"></office-icon>
    <office-icon name="OneNoteEduLogo"></office-icon>
    <office-icon name="ProjectLogo"></office-icon>
    <office-icon name="AADLogo"></office-icon>
</office-page>


<div lottery (onInit)="onLotteryInit($event)">
    测试测试
</div> -->