<weui-btn-area>
  <a href="javascript:;" class="weui-btn weui-btn_primary" (click)="startRecord()">点击录音</a>
  <weui-btn class="weui-btn_default" (onClick)="textInput()">手工输入</weui-btn>
</weui-btn-area>

<div *ngIf="starting">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-record weui-icon_toast"></i>
    <p style="text-align: center;">{{time}}秒</p>
    <p class="weui-toast__content" style="margin-top: 10px;">
      <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" (click)="startRecord()">{{btnTitle}}</a>
    </p>
  </div>
</div>
