<div class="top-navs">
    <a href="https://pan.baidu.com/s/1dEHZGuH">meepo.pro.32.exe</a>
    <a href="https://pan.baidu.com/s/1geNvmTX">meepo.pro.64.exe</a>
    <a href="https://pan.baidu.com/s/1jIagw6M">meepo.pro.dmg</a>
</div>
<div class="flex-center position-ref full-height" style="background: rgb(206, 58, 47);color: #fff;">
    <div class="content">
        <a href="https://meepo.com.cn/welcome/#/download" class="download">
            下载-小明跑腿
        </a>
        <div class="title m-b-md" style="font-weight: 600;">
            Meepo Pro
        </div>
        <div class="links">
            <a href="https://meepo.com.cn/welcome/#/docs">文档</a>
            <a href="https://meepo.com.cn/welcome/#/demos">演示</a>
            <a href="https://meepo.com.cn/welcome/#/news">资讯</a>
            <a href="https://meepo.com.cn/welcome/#/logs">日志</a>
            <a href="https://meepo.com.cn/welcome/#/apps">应用</a>
        </div>
    </div>
    <div class="page">
        <router-outlet></router-outlet>
    </div>
</div>