.statushead{
  position: relative;
  padding-top: 85px;
  text-align: center;
  padding-bottom: 0px;
  .statuscircle{
    position: absolute;
    top:  0px;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    padding:16.5px;
    border-radius: 50%;
    z-index: 100;
    will-change: transform;
    -webkit-transform-origin: top;
    transform-origin: top;
    .circleimage{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .statustext{
    display: inline-block;
    margin: 0 auto 1.5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .helptext{
    text-align: center;
    padding: 0 50px;
    color: #fff;
    font-size: 12px;
  }
  .buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    button{
      height: 40px;
      width: 170px;
      white-space: nowrap;
      border-radius: 10px;
      font-size: 14px;
      color: #666;
      margin: 5px 10px 0;
      border: 1px solid #ccc;
      background-color: transparent;
      &:active{
        background:#ccc;
      }
    }
  }
}

.map,.map-container{
  min-height: 300px;
  margin-top: 30px;
  position: relative;
  .empty{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    z-index: 27 ;
    text-align: center;
    color:#fff;
    background: rgba(0,0,0,0.5);
  }
}


.orderregion-title {
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #666;
  padding: 0px 15px;
  background: #eee;
  font-weight: normal;
}
