.themes{
  background-image: url('./themes.png');
  background-size: cover;
  width: 3em;
  height: 3em;
  position: fixed;
  right: 5px;
  top: 0px;
  background-color: #000;
  border-radius: 50%;
}

template-select{
  display: block;
  position: fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width: 100%;
}