.activity_ul_liu {
    li {
        a {
            display: block;
            overflow: hidden;
            border-bottom: 1px solid #F5F5F8;
            background: #fff;
            padding: 12px;
            &:active {
                background-color: #eee;
            }
        }
        h3 {
            height: 38px;
            font-size: 14px;
            font-weight: normal;
            color: #000;
            line-height: 19px;
            margin: -1px 0 15px;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .no_img {
        h3 {
            height: auto;
        }
        .box_d .right {
            padding: 0;
            height: auto;
        }
    }
    .box_d {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-width: 30%;
            padding-right: 10px;
            img {
                min-width: 100%;
                vertical-align: middle;
                height: 80px;
            }
        }
        .right {
            height: 80px;
            position: relative;
            flex: 1;
            p {
                font-size: 11px;
                line-height: 16px;
                color: #aaa;
                margin: -2px 0 0px;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .text_two {
                float: left;
                margin: 0;
            }
            .text_three {
                margin: 0;
                display: inline;
                color: #ff9e00;
                font-size: 14px;
                float: right;
                b {
                    font-size: 16px;
                }
                span {
                    font-size: 12px;
                }
            }
            .num {
                font-size: 14px;
            }
        }
    }
}

.activity_ul_liuPh li {
    &:nth-child(1) {
        background: #FFF url(http://cdn.hudongba.com/static_v4/images/other/top01.png) no-repeat 0 0 / 37px 14px;
    }
    &:nth-child(2) {
        background: #FFF url(http://cdn.hudongba.com/static_v4/images/other/top02.png) no-repeat 0 0 / 37px 14px;
    }
    &:nth-child(3) {
        background: #FFF url(http://cdn.hudongba.com/static_v4/images/other/top03.png) no-repeat 0 0 / 37px 14px;
    }
    &:nth-child(1):active {
        background: #EEE url(http://cdn.hudongba.com/static_v4/images/other/top01.png) no-repeat 0 0 / 37px 14px;
    }
    &:nth-child(2):active {
        background: #EEE url(http://cdn.hudongba.com/static_v4/images/other/top02.png) no-repeat 0 0 / 37px 14px;
    }
    &:nth-child(3):active {
        background: #EEE url(http://cdn.hudongba.com/static_v4/images/other/top03.png) no-repeat 0 0 / 37px 14px;
    }
}