
.van-panel {
  background: #fff;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
}

.van-panel__header {
  padding: 10px 15px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-bottom: 1px solid #e5e5e5;
  }
}

.van-panel__title {
  font-size: 14px;
  color: #333;
}

.van-panel__desc {
  font-size: 12px;
  color: #666;
}

.van-panel__status {
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #f44;
}

.van-panel__footer {
  padding: 10px 15px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-top: 1px solid #e5e5e5;
  }
}
