@import "app/meepo-core/core-scss/variables";
suyun-* {
    display: block;
    position: relative;
}

.quick-menu-contatiner {
    z-index: 999001 !important
}

.weui-toast {
    z-index: $toast-zindex !important;
    color: #fff;
}

.bg {
    z-index: $toast-zindex !important;
}

.alloy-selector-wrap {
    z-index: $alloy-selector-zindex !important;
}

.bottom-bar-pannel {
    z-index: $bottom-zindex !important;
}

.layim-chat-footer {
    z-inddex: $quick-menu-zindex !important;
}

.sticky {
    z-index: $sticky-zindex !important;
}

.mjd-popCover {
    width: 90% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position: absolute !important;
    bottom: 0px !important;
    top: 40px !important;
    right: 0px !important;
    min-height: 300px !important;
    z-index: $quick-menu-zindex !important;
}

.address-select,
.time-select {
    z-index: $select-index !important;
}

.show-position {
    z-index: 9999999999 !important;
    position: absolute;
}

.alloy-selector-mask {
    psoition: fixed !important;
}

.weui-mask {
    z-index: $toast-zindex !important;
}

.weui-actionsheet {
    z-index: $actionsheet-zindex !important;
}

.fixed {
    z-index: $select-index !important;
}

.weui-dialog {
    z-index: $dialog-zindx !important;
}