<!-- 预约记录-->
<suyun-top-nav [items]="tabs" (onItem)="onTab($event)"></suyun-top-nav>
<div class="weui-cells">
    <ng-template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn">
        <div class="weui-cell weui-cell_access" (click)="_onClick(item)">
            <div class="weui-cell__hd"><img [src]="item['avatar']"></div>
            <div class="weui-cell__bd" *ngIf="item.type == 2">
                <span>私教预约</span>
                <p>预约时间: {{item['day']}}&nbsp;{{item['time']}}</p>
            </div>
            <div class="weui-cell__bd" *ngIf="item.type == 1">
                <span>器材预约: <span style="color:green;">{{item['goods']}} {{item['seat']}}</span></span>
                <p>预约时间: {{item['day']}}&nbsp;{{item['time']}}</p>
            </div>

            <div class="weui-cell__bd" *ngIf="item.type == 3">
                <span>课程预约: <span style="color:green;">{{item['goods']}} {{item['seat']}}</span></span>
                <p>预约时间: {{item['day']}}&nbsp;{{item['time']}}</p>
            </div>

            <div class="weui-cell__ft">
                {{item['status']}}
            </div>
        </div>
    </ng-template>
</div>