.opt{
  text-align: center;
}
.weui-label{
  width: auto;
}
.weui-input{
  color: green;
  font-size: .9em;
  margin-left: 1em;
}
.weui-dialog{
  .weui-cell{
    text-align: left;
  }
}

.desc{
  font-size: .8em;
  color: red;
}