<week-tag [isMuti]="isMutil" (onSelect)="onSelectWeekTag($event)"></week-tag>

<div class="weui-panel weui-panel_access">
  <div class="" *ngFor="let lesson of lessons;index as i;">
    <a href="javascript:void(0);" (click)="detail(lesson)" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" [src]="lesson['image']" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{{lesson['title']}} </h4>
        <p class="desc">{{lesson['week']}}{{lesson['start']}}-{{lesson['end']}}</p>
        <p class="weui-media-box__desc">{{lesson['desc']}}</p>
      </div>
    </a>
    <div class="opt">
      <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" (click)="edit(lesson,i)">编辑</a>
      <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn" (click)="delete(lesson,i)">删除</a>
    </div>
  </div>
</div>

<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" href="javascript:" (click)="add()">添加</a>
</div>

<div class="js_dialog" *ngIf="showEdit">
  <div class="weui-mask" (click)="cancel()"></div>
  <div class="weui-dialog">
    <coach-lesson-tag code="tag" (onSelect)="onSelect($event)"></coach-lesson-tag>
    <week-tag [week]="editItem['week']" [isMuti]="isMutil" (onSelect)="onWeekTag($event)"></week-tag>
    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="selectStartTime()">
      <div class="weui-cell__bd">
        <p>开始时间</p>
      </div>
      <div class="weui-cell__ft">{{editItem['start']['title'] || '请选择'}}</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="selectEndTime()">
      <div class="weui-cell__bd">
        <p>结束时间</p>
      </div>
      <div class="weui-cell__ft">{{editItem['end']['title'] || '请选择'}}</div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">课程标题</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" [(ngModel)]="editItem['title']" placeholder="请输入课程标题">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" [(ngModel)]="editItem['desc']" placeholder="请输入课程简介" rows="3"></textarea>
      </div>
    </div>
    <suyun-uploader [images]="editItem['image']" total="1"></suyun-uploader>
    <suyun-uploader [images]="editItem['images']" total="6"></suyun-uploader>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">课程费用</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" [(ngModel)]="editItem['price']" placeholder="请输入课程费用">
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="save()">保存</a>
    </div>
  </div>
</div>

<suyun-hour-select (onSelect)="onHourSelect($event)" (onInit)="onHourInit($event)" *ngIf="showTime"></suyun-hour-select>