<div class="ibox-content no-padding">
    <h5>内间距</h5>
    <div class="input-box">
        <div class="input-item">
            <div class="input-title">上</div>
            <number-px [(model)]="widget['padding-top']"></number-px>
        </div>
        <div class="input-item">
            <div class="input-title">下</div>
            <number-px [(model)]="widget['padding-bottom']"></number-px>
        </div>

        <div class="input-item">
            <div class="input-title">左</div>
            <number-px [(model)]="widget['padding-left']"></number-px>
        </div>

        <div class="input-item">
            <div class="input-title">右</div>
            <number-px [(model)]="widget['padding-right']"></number-px>
        </div>
    </div>
</div>