node_modules/*
gulpfile.ts
.DS_Store
config/*
dist/*
desktop/*
.cordova/*
/**/assets/**/*
/src/admin/app/styles/css/*
/src/admin/app/styles/fonts/*
yarn.lock
yarn-error.log
tslint.json
tsconfig.json
src/inc/*
help-docs/_book/*
src/runner-old/app/active/
src/runner-old/app/admin/
dist/*
desktop/*
release/*
meepo-admin-1.0.0-full.nupkg