

.van-card {
  color: #333;
  height: 90px;
  background: #fafafa;
  position: relative;
  padding: 5px 15px 5px 115px;
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.van-card--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.van-card__thumb {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 5px;
  left: 15px;
  width: 90px;
  height: 90px;
  position: absolute;
  img {
    border: none;
    max-width: 100%;
    max-height: 100%;
  }
}

.van-card, .van-card__row, .van-card__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.van-card__content {
  width: 100%;
}

.van-card__content--center {
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.van-card__desc {
  line-height: 20px;
  word-break: break-all;
}

.van-card__title {
  line-height: 20px;
  word-break: break-all;
  max-height: 40px;
  -webkit-line-clamp: 2;
}

.van-card__desc, .van-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.van-card__desc {
  color: #666;
  font-size: 12px;
  max-height: 20px;
  -webkit-line-clamp: 1;
}

.van-card__num {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 80px;
  line-height: 20px;
  text-align: right;
}

.van-card__price {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 80px;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
}

.van-card__num {
  color: #666;
  font-size: 12px;
}

.van-card__footer {
  right: 15px;
  bottom: 5px;
  position: absolute;
  .van-button {
    margin-left: 5px;
  }
}
