
.cap-logistics {
  position: relative;
  .van-icon-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
    line-height: 40px;
    font-size: 12px;
    color: #999;
  }
  &:after {
    content: "";
    display: block;
    height: 2px;
    background-image: url(//b.yzcdn.cn/v2/image/wap/address/border2@2x.png);
    background-size: 34px 2px;
  }
}

.cap-logistics__empty-address {
  position: relative;
  padding: 16px 10px 16px 60px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  background: url(//b.yzcdn.cn/v2/image/wap/address/add@2x.png) (10px / 40px) 40px no-repeat;
  background-color: #fff;
}

.cap-logistics__address {
  position: relative;
  padding: 15px 10px;
  min-height: 22px;
  line-height: 22px;
  background-color: #fff;
  .van-icon-location {
    float: left;
    margin-right: 10px;
  }
}

.cap-logistics__address-content {
  overflow: hidden;
  margin-right: 18px;
  padding-right: 0;
  > div {
    overflow: hidden;
    font-size: 14px;
  }
}

.cap-logistics__address-name {
  float: left;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cap-logistics__address-tel {
  float: right;
}

.cap-logistics__address-detail {
  margin-top: 2px;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  word-break: break-all;
}
