<div style="position: relative;" [style.min-height.px]="util.edit ? '80' : '0'">
  <suyun-edit-btn (onEditer)="onList()"></suyun-edit-btn>
  <div class="weui-grids">
    <a href="javascript:;" [class.hide]="!item.active" [routerLink]="item.link" class="weui-grid" *ngFor="let item of items">
      <div class="weui-grid__icon">
        <img [src]="item.icon" alt="">
      </div>
      <p class="weui-grid__label">{{item.title}}</p>
    </a>
  </div>
</div>


<div class="" *ngIf="showList">
	<div class="js_dialog">
	    <div class="weui-mask" (click)="cancelList()"></div>
	    <div class="weui-dialog">
	        <div class="weui-grids">
			    <a href="javascript:;" (click)="onEdit(item,i)" class="weui-grid" *ngFor="let item of items;index as i;">
			      <div class="weui-grid__icon">
			        <img [src]="item.icon" alt="">
			      </div>
			      <p class="weui-grid__label">{{item.title}}</p>
			      <div class="tag">{{item.tag || '关闭'}}</div>
			    </a>
			</div>
			<div class="weui-dialog__ft">
                <a href="javascript:;" (click)="cancelList()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
            </div>
	    </div>
	</div>
</div>

<div class="" *ngIf="showEdit">

</div>
