<nav class="navbar-default navbar-static-side">
  <div class="nav-close">
    <i class="fa fa-times-circle"></i>
  </div>
  <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
    <div class="sidebar-collapse" style="width: auto; height: 100%;">
      <ul class="nav" id="side-menu" style="display: block;">
        <li *ngFor="let item of menus" routerLinkActive="active" [routerLink]="item.link">
          <a href="javascript:;">
            <i class="fa fa-home"></i>
            <span class="nav-label">{{item.title}}</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" routerLinkActive="in" [routerLink]="item.link">
            <li *ngFor="let m of item['web']">
              <a class="J_menuItem" href="javascript:;" [routerLink]="m['link']">{{m['title']}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 900px;"></div>
    <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div>
  </div>
</nav>
