<coach-advs code="coach.setting.seat.advs"></coach-advs>

<coach-seat-class code="coach.setting.seat.class" (onItem)="onItem($event)">
  <suyun-coach-seat-tag [code]="activeNav['code']" (onSelect)="onSelectSeat($event)"></suyun-coach-seat-tag>
  <days-navs (onSelect)="onSelectTime($event)">
    <suyun-coach-seat-time-tag #seatTime [code]="activeNav['code']" (onSelect)="onSelectTag($event)"></suyun-coach-seat-time-tag>
  </days-navs>
</coach-seat-class>

<div class="weui-cells" *ngIf="showMobile">
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" [(ngModel)]="post['realname']" type="text" placeholder="请输入姓名">
    </div>
  </div>
  <suyun-mobile-verity [post]="post" (onSuccess)="onSuccess($event)"></suyun-mobile-verity>
</div>


<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" href="javascript:" (click)="save()">提交预约</a>
</div>
<div class="h45"></div>
<div class="h45"></div>
