<a class="cap-express-way van-cell">
  <!---->
  <div class="van-cell__value van-cell__value--alone">
    <zan-actionsheet>
      <zan-cell-group>

      </zan-cell-group>
      <div class="van-cell-group">
        <a class="cap-express-way-option van-cell">
          <!---->
          <div class="van-cell__value van-cell__value--alone">
            <zan-radios>
              <div class="cap-express-way-option__content">
                <h3 class="cap-express-way-option__title">
                  <span>同城配送</span>
                  <span>¥100.50</span></h3>
                <p>由商家门店提供配送服务, 起送价 0.01 元</p>
              </div>
            </zan-radios>
          </div>
        </a>
        <a class="cap-express-way-option van-cell">
          <!---->
          <div class="van-cell__value van-cell__value--alone">
            <zan-radios>
              <div class="cap-express-way-option__content">
                <h3 class="cap-express-way-option__title">
                  <span>快递发货</span>
                  <span>免运费</span></h3>
                <p>由商家选择合作快递为您服务</p>
                <div class="cap-express-way-option__warn">3天后发货</div>
              </div>
            </zan-radios>
          </div>
        </a>
      </div>
    </zan-actionsheet>
    <a class="van-cell">
      <div class="van-cell__title">
        <!---->
        <span class="van-cell__text">配送方式</span>
        <!----></div>
      <div class="van-cell__value van-cell__value--link">
        <p class="cap-express-way__fee">¥100.50</p>
        <p class="cap-express-way__type">同城配送</p></div>
      <i class="van-cell__right-icon van-icon van-icon-arrow"></i>
    </a>
    <div class="van-modal" style="z-index: 2002;"></div>
  </div>
  <!----></a>
