.container {
    display: inline-block;
    width: 3em;
    height: 3em;
    position: fixed;
    right: 10px;
    z-index: 9999999999999999;
    background: #000;
    bottom: 120px;
    background-image: url(Touch-Point.png);
    background-size: 2em 2em;
    border-radius: 20%;
    background-position-x: .5em;
    background-position-y: .5em;
    background-repeat: no-repeat;
}