<div [ngClass]="wrapClass" *ngIf="toast">
    <div [ngClass]="prefixCls+'-content'" *ngIf="text">
        <span [ngClass]="spinnerClass" aria-hidden="true"></span>
        <span [ngClass]="prefixCls+'-toast'">{{text}}</span>
    </div>
    <div [ngClass]="prefixCls+'-content'" *ngIf="!text">
        <span [ngClass]="spinnerClass" aria-label="Loading"></span>
    </div>
</div>

<div *ngIf="!toast">
    <div [ngClass]="wrapClass" *ngIf="text">
        <span [ngClass]="spinnerClass" aria-hidden="true"></span>
        <span [ngClass]="prefixCls+'-tip'">{{text}}</span>
    </div>
    <div [ngClass]="wrapClass" *ngIf="!text">
        <span [ngClass]="spinnerClass" aria-label="loading"></span>
    </div>
</div>