
.am-accordion {
  position: relative;
  border-top: 1px solid #ddd;
}

.am-accordion-anim-active {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.am-accordion .am-accordion-item {
  .am-accordion-header {
    position: relative;
    color: #000;
    font-size: .34rem;
    height: .88rem;
    line-height: .88rem;
    background-color: #fff;
    box-sizing: content-box;
    padding-left: .3rem;
    padding-right: .6rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      width: 100%;
      border-bottom: 1px solid #ddd;
    }
    i {
      position: absolute;
      display: block;
      top: .3rem;
      right: .3rem;
      width: .3rem;
      height: .3rem;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    &[aria-expanded~=true] i {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
  .am-accordion-content {
    overflow: hidden;
    background: #fff;
    .am-accordion-content-box {
      font-size: .3rem;
      color: #333;
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
    }
    &.am-accordion-content-inactive {
      display: none;
    }
  }
}