.am-grid {
  .am-flexbox {
    background: #fff;
    .am-flexbox-item {
      margin-left: 0;
      &.am-grid-item {
        position: relative;
        &:active {
          background-color: #ddd;
        }
        &.am-grid-null-item:active {
          background-color: #fff;
        }
        &:before {
          display: block;
          content: " ";
          padding-bottom: 100%;
        }
      }
      .am-grid-item-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        height: 100%;
        .am-grid-item-inner-content {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          .am-grid-icon {
            margin-top: .18rem;
            width: 28%;
            height: 28%;
          }
          .am-grid-text {
            margin-top: .18rem;
            font-size: .24rem;
            color: #000;
            text-align: center;
          }
          &.column-num-3 .am-grid-text {
            font-size: .32rem;
          }
          &.column-num-2 .am-grid-text {
            margin-top: .3rem;
            font-size: .36rem;
          }
        }
      }
    }
  }
  &.am-grid-line {
    .am-flexbox {
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
      &:last-child {
        border-bottom: 0;
        &:after {
          display: none;
        }
      }
      .am-flexbox-item {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          left: auto;
          bottom: auto;
          width: 1px;
          height: 100%;
          background-color: #ddd;
          display: block;
        }
        &:last-child {
          border-bottom: 0;
          &:after {
            display: none;
          }
        }
      }
    }
    .am-grid-carousel-page {
      border-right: 1px solid #ddd;
      &:first-child {
        border-left: 1px solid #ddd;
      }
    }
  }
  .am-carousel {
    .am-carousel-wrap-dot > span {
      background: #dcdee3;
    }
    .am-carousel-wrap-dot-active > span {
      background: #0ae;
    }
  }
}