.am-icon {
  fill: currentColor;
  background-size: cover;
  width: .44rem;
  height: .44rem;
}

.am-icon-xxs {
  width: .3rem;
  height: .3rem;
}

.am-icon-xs {
  width: .36rem;
  height: .36rem;
}

.am-icon-sm {
  width: .42rem;
  height: .42rem;
}

.am-icon-md {
  width: .44rem;
  height: .44rem;
}

.am-icon-lg {
  width: .72rem;
  height: .72rem;
}

.am-icon-loading {
  -webkit-animation: cirle-anim 1s linear infinite;
  animation: cirle-anim 1s linear infinite;
}