.am-result {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: .6rem;
  padding-bottom: .42rem;
  background-color: #fff;
  &:after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .am-result-pic {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    line-height: 1.2rem;
    background-size: 1.2rem 1.2rem;
  }
  .am-result-message {
    font-size: .42rem;
    color: #000;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .am-result-title {
    font-size: .42rem;
    color: #000;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: .3rem;
    line-height: 1;
  }
  .am-result-message {
    margin-top: .18rem;
    line-height: 1.5;
    font-size: .32rem;
    color: #888;
  }
  .am-result-button {
    padding: 0 .3rem;
    margin-top: .3rem;
  }
}