.am-slider {
  position: relative;
  margin: .32rem 0;
}

.am-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #ddd;
  height: .04rem;
  box-sizing: border-box;
}

.am-slider-wrapper {
  padding: 0 .32rem;
}

.am-slider-track {
  position: absolute;
  left: 0;
  height: .04rem;
  border-radius: .04rem;
  background-color: #108ee9;
}

.am-slider-handle {
  position: absolute;
  margin-left: -.24rem;
  margin-top: -.24rem;
  width: .44rem;
  height: .44rem;
  cursor: pointer;
  border-radius: 50%;
  border: .04rem solid #108ee9;
  background-color: #fff;
  box-sizing: border-box;
  &:focus {
    background-color: #40a5ed;
  }
  &:active {
    background-color: #40a5ed;
    box-shadow: 0 0 .05rem #40a5ed;
  }
}

.am-slider-mark {
  position: absolute;
  top: .4rem;
  left: 0;
  width: 100%;
  font-size: .24rem;
}

.am-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #000;
}

.am-slider-mark-text-active {
  opacity: .3;
}

.am-slider-step {
  position: absolute;
  width: 100%;
  height: .08rem;
  background: transparent;
}

.am-slider-dot {
  position: absolute;
  bottom: -.1rem;
  width: .24rem;
  height: .24rem;
  border: .04rem solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: -.08rem;
  &:first-child, &:last-child {
    margin-left: -.08rem;
  }
}

.am-slider-dot-active {
  border-color: #108ee9;
}

.am-slider-disabled {
  opacity: .3;
  .am-slider-track {
    height: .04rem;
  }
  .am-slider-dot, .am-slider-handle, .am-slider-mark-text {
    cursor: not-allowed;
    box-shadow: none;
  }
}

.am-slider {
  position: relative;
  margin: .32rem 0;
}

.am-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #ddd;
  height: .04rem;
  box-sizing: border-box;
}

.am-slider-wrapper {
  padding: 0 .32rem;
}

.am-slider-track {
  position: absolute;
  left: 0;
  height: .04rem;
  border-radius: .04rem;
  background-color: #108ee9;
}

.am-slider-handle {
  position: absolute;
  margin-left: -.24rem;
  margin-top: -.24rem;
  width: .44rem;
  height: .44rem;
  cursor: pointer;
  border-radius: 50%;
  border: .04rem solid #108ee9;
  background-color: #fff;
  box-sizing: border-box;
  &:focus {
    background-color: #40a5ed;
  }
  &:active {
    background-color: #40a5ed;
    box-shadow: 0 0 .05rem #40a5ed;
  }
}

.am-slider-mark {
  position: absolute;
  top: .4rem;
  left: 0;
  width: 100%;
  font-size: .24rem;
}

.am-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #000;
}

.am-slider-mark-text-active {
  opacity: .3;
}

.am-slider-step {
  position: absolute;
  width: 100%;
  height: .08rem;
  background: transparent;
}

.am-slider-dot {
  position: absolute;
  bottom: -.1rem;
  width: .24rem;
  height: .24rem;
  border: .04rem solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: -.08rem;
  &:first-child, &:last-child {
    margin-left: -.08rem;
  }
}

.am-slider-dot-active {
  border-color: #108ee9;
}

.am-slider-disabled {
  opacity: .3;
  .am-slider-track {
    height: .04rem;
  }
  .am-slider-dot, .am-slider-handle, .am-slider-mark-text {
    cursor: not-allowed;
    box-shadow: none;
  }
}

.am-slider-tooltip, .rc-slider-tooltip {
  position: absolute;
  left: -99.99rem;
  top: -99.99rem;
  z-index: 4;
  visibility: visible;
  box-sizing: border-box;
}

.am-slider-tooltip-hidden, .rc-slider-tooltip-hidden {
  display: none;
}

.am-slider-tooltip-placement-top, .rc-slider-tooltip-placement-top {
  padding: .08rem 0 .2rem;
}

.am-slider-tooltip-inner, .rc-slider-tooltip-inner {
  padding: .12rem .04rem;
  min-width: .48rem;
  height: .32rem;
  font-size: .3rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: .04rem;
}

.am-slider-tooltip-arrow, .rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.am-slider-tooltip-placement-top {
  .am-slider-tooltip-arrow, .rc-slider-tooltip-arrow {
    bottom: .12rem;
    left: 50%;
    margin-left: -.08rem;
    border-width: .08rem .08rem 0;
    border-top-color: rgba(0, 0, 0, 0.4);
  }
}

.rc-slider-tooltip-placement-top {
  .am-slider-tooltip-arrow, .rc-slider-tooltip-arrow {
    bottom: .12rem;
    left: 50%;
    margin-left: -.08rem;
    border-width: .08rem .08rem 0;
    border-top-color: rgba(0, 0, 0, 0.4);
  }
}