.am-textarea-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  box-sizing: border-box;
  min-height: .88rem;
  padding-left: .3rem;
  padding-right: .3rem;
  &:after {
    display: block;
    position: absolute;
    content: "";
    left: .3rem;
    bottom: 0;
    right: auto;
    top: auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  &.am-textarea-item-single-line {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .am-textarea-label {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
    .am-textarea-control {
      padding-top: 0;
      padding-bottom: 0;
      textarea {
        line-height: .51rem;
      }
    }
    .am-textarea-clear, &.am-textarea-error .am-textarea-error-extra {
      margin-top: 0;
    }
  }
}

.am-textarea-label {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #000;
  text-align: left;
  min-height: .88rem;
  font-size: .34rem;
  line-height: .88rem;
  margin-left: 0;
  margin-right: .1rem;
  white-space: nowrap;
  overflow: hidden;
  &.am-textarea-label-2 {
    width: .68rem;
  }
  &.am-textarea-label-3 {
    width: 1.02rem;
  }
  &.am-textarea-label-4 {
    width: 1.36rem;
  }
  &.am-textarea-label-5 {
    width: 1.7rem;
  }
  &.am-textarea-label-6 {
    width: 2.04rem;
  }
  &.am-textarea-label-7 {
    width: 2.38rem;
  }
}

.am-textarea-control {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: .23rem;
  padding-bottom: .21rem;
  textarea {
    color: #000;
    font-size: .34rem;
    line-height: .51rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    overflow: visible;
    display: block;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder {
      color: #bbb;
    }
    &:disabled {
      color: #bbb;
      background-color: #fff;
    }
  }
}

.am-textarea-clear {
  display: none;
  width: .42rem;
  height: .42rem;
  margin-top: .24rem;
  border-radius: 50%;
  overflow: hidden;
  font-style: normal;
  color: #fff;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: .42rem auto;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23fff' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  &:active {
    background-color: #108ee9;
  }
}

.am-textarea-focus .am-textarea-clear {
  display: block;
}

.am-textarea-count {
  position: absolute;
  bottom: .12rem;
  right: .1rem;
  color: #bbb;
  font-size: .28rem;
  span {
    color: #000;
  }
}

.am-textarea-error {
  .am-textarea-control textarea {
    color: #f50;
  }
  .am-textarea-error-extra {
    margin-top: .24rem;
    width: .42rem;
    height: .42rem;
    margin-left: .16rem;
    background-size: .42rem .42rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.266a7.69 7.69 0 0 1 5.469 2.264c.71.71 1.269 1.538 1.657 2.459.404.954.608 1.967.608 3.011a7.69 7.69 0 0 1-2.264 5.469 7.694 7.694 0 0 1-2.459 1.657A7.675 7.675 0 0 1 9 16.734a7.69 7.69 0 0 1-5.469-2.264 7.694 7.694 0 0 1-1.657-2.459A7.675 7.675 0 0 1 1.266 9 7.69 7.69 0 0 1 3.53 3.531a7.694 7.694 0 0 1 2.459-1.657A7.675 7.675 0 0 1 9 1.266zM9 0a9 9 0 0 0-9 9 9 9 0 0 0 9 9 9 9 0 0 0 9-9 9 9 0 0 0-9-9zm0 11.25a.703.703 0 0 1-.703-.703V4.06a.703.703 0 1 1 1.406 0v6.486A.703.703 0 0 1 9 11.25zm-.791 1.916a.791.791 0 1 1 1.582 0 .791.791 0 0 1-1.582 0z' fill='%23F50' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

.am-textarea-disabled .am-textarea-label {
  color: #bbb;
}