.am-menu {
  background-color: #f5f5f9;
  .am-flexbox .am-flexbox-item {
    margin-left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    .am-list {
      padding: 0;
      .am-list-item .am-list-line .am-list-content {
        font-size: .32rem;
      }
    }
    &:first-child {
      background-color: #f7f7f7;
      .am-list {
        .am-list-body {
          background-color: #f7f7f7;
          border-bottom: 0;
          &:after {
            display: none;
          }
        }
        .am-list-item {
          background-color: #f7f7f7;
          .am-list-line {
            border-bottom: 0;
            &:after {
              display: none;
            }
            .am-list-content {
              color: #000;
            }
          }
          &:last-child {
            border-bottom: 0;
            &:after {
              display: none;
            }
          }
          &.am-menu-selected {
            background-color: #fff;
          }
        }
      }
    }
    &:last-child {
      background-color: #fff;
      .am-list .am-list-item {
        background-color: #fff;
        border-bottom: 0;
        &:after {
          display: none;
        }
        .am-list-line .am-list-extra {
          -webkit-box-flex: 0;
          -webkit-flex: 0;
          -ms-flex: 0;
          flex: 0;
        }
        &.am-sub-menu-item-selected .am-list-line .am-list-content {
          color: #108ee9;
        }
        &.am-sub-menu-item-disabled .am-list-line .am-list-content {
          color: #bbb;
        }
      }
    }
    &:only-child .am-list .am-list-item {
      .am-list-line:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
      &:last-child {
        &:after {
          display: block;
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          right: auto;
          top: auto;
          width: 100%;
          border-bottom: 1px solid #ddd;
        }
        .am-list-line {
          border-bottom: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}