.am-pagination-wrap {
  font-size: .36rem;
  color: #000;
  background: none;
  text-align: center;
  .active {
    color: #108ee9;
  }
}

.am-pagination-wrap-btn {
  text-align: center;
}

.am-pagination-wrap-btn-prev {
  text-align: left;
}

.am-pagination-wrap-btn-next {
  text-align: right;
}

.am-pagination-wrap-dot {
  display: inline-block;
  zoom: 1;
  > span {
    display: block;
    width: .16rem;
    height: .16rem;
    margin-right: .1rem;
    border-radius: 50%;
    background: #ccc;
  }
}

.am-pagination-wrap-dot-active > span {
  background: #888;
}