
.cap-goods-list {
  padding: 5px;
  .cap-goods-list__container--waterfall .cap-goods-list-goods.cap-goods-list-goods--small .goods-list-goods__photo {
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}

.cap-goods-list__container--small {
  width: 50%;
  float: left;
}

.cap-goods-list__container--big {
  width: 100%;
  float: left;
}

.cap-goods-list-goods {
  position: relative;
  background-color: #fff;
  margin: 8px 4px;
  min-height: 50px;
  .title {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sub-title {
    color: #333;
    overflow: hidden;
    word-break: break-all;
  }
  .price {
    color: #f44;
    em {
      font-style: normal;
    }
  }
  .goods-buy {
    position: absolute;
    &.btn1 {
      height: 25px;
      width: 30px;
      background-position: 0 0;
      background-image: url(https://b.yzcdn.cn/v2/image/wap/showcase2x-1416814739063.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      right: 10px;
      bottom: 8px;
    }
    &.btn2 {
      background-image: url(https://b.yzcdn.cn/v2/image/wap/showcase2x-1416814739063.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      right: 10px;
      bottom: 8px;
      height: 20px;
      width: 20px;
      background-position: 0 -88px;
    }
    &.btn3 {
      right: 1px;
      height: 25px;
      width: 40px;
      background-position: 0 -25px;
      background-image: url(https://b.yzcdn.cn/v2/image/wap/showcase2x-1416814739063.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      bottom: 8px;
    }
    &.btn4 {
      background-image: url(https://b.yzcdn.cn/v2/image/wap/showcase2x-1416814739063.png);
      background-repeat: no-repeat;
      background-size: 40px auto;
      bottom: 8px;
      right: 12px;
      height: 20px;
      width: 37px;
      background-position: 0 -50px;
    }
  }
  &.cap-goods-list-goods--small {
    img {
      height: 100%;
    }
    .goods-list-goods__photo {
      overflow: hidden;
      text-align: center;
      height: 172px;
    }
  }
  &.cap-goods-list-goods--big img {
    width: 100%;
    vertical-align: bottom;
  }
}

.cap-goods-list-goods--card {
  border: 1px solid #e5e5e5;
  &.cap-goods-list-goods--small {
    .title {
      margin-top: 10px;
      margin-left: 2px;
      height: 35px;
      line-height: 1.3;
      font-size: 13px;
    }
    .price {
      margin-left: 2px;
      margin-top: 5px;
      padding-bottom: 8px;
    }
  }
  &.cap-goods-list-goods--big {
    .goods-list-goods__photo {
      padding: 4px;
    }
    .cap-goods-list-goods--info {
      margin-left: 5px;
    }
    .title {
      width: 85%;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 5px;
    }
    .sub-title {
      width: 85%;
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 6px;
    }
    .price {
      padding-bottom: 10px;
    }
  }
}

.cap-goods-list-goods--simple {
  .cap-goods-list-goods--info-up {
    position: absolute;
    height: 22px;
    bottom: 0;
    right: 10px;
    margin: 5px 0;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    background-clip: border-box;
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    .title {
      float: left;
      color: #fff;
      width: 70%;
      padding-left: 10px;
    }
    .price {
      padding: 0 5px;
      float: right;
      color: #fff;
    }
  }
  .cap-goods-list-goods--info-down {
    background-color: #f9f9f9;
    padding: 0 5px;
    .title-row {
      height: 22px;
    }
    .title {
      float: left;
      width: 70%;
      color: #333;
      font-size: 14px;
      font-weight: 700;
      height: 22px;
      line-height: 22px;
    }
    .price {
      float: right;
    }
    .sub-title {
      word-break: break-all;
      line-height: 16px;
      font-size: 12px;
    }
  }
}

.cap-goods-list-goods--detail {
  height: 137px;
  padding: 0 5px;
  .goods-list-goods__photo {
    overflow: hidden;
    text-align: center;
    height: 125px;
    width: 125px;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cap-goods-list-goods--info {
    padding-top: 5px;
    position: absolute;
    right: 0;
    left: 138px;
    height: 120px;
  }
  .title {
    font-size: 14px;
    line-height: 1.3;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.cap-goods-list-goods--detail-card {
  border: 1px solid #e5e5e5;
}

.cap-goods-list-goods--detail-simple {
  background: transparent;
}

.cap-goods-list-goods--promotion .goods-list-goods__promotion {
  height: 40px;
  position: relative;
  .price {
    color: #ff495b;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
  }
  .buy {
    background-color: #ff495b;
    color: #fff;
    width: 47px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    line-height: 13px;
    padding: 7px 10px;
    box-sizing: border-box;
  }
}
