.title{
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #666;
  padding: 0px 15px;
  background: #eee;
  font-weight: normal;
}

.weui-grid{
  width: calc( 50% - 10px );
  margin: 5px;
  .weui-grid__icon {
    width: 70%;
    height: 80px;
    margin: 0 auto;
  }
  .opt{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.31);
    z-index: 9;
    .weui-btn{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0px;
      margin-left: -2.32em;
      z-index: 10;
      &.buy-btn{
        margin-top: -35px;
      }
    }
  }
}


zan-popup{
  display: block;
  position: fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width: 100%;
}