
.van-badge {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 20px 12px;
  box-sizing: border-box;
  line-height: 1.4;
  background-color: #f8f8f8;
  color: #666;
  font-size: 14px;
  text-decoration: none;
  word-break: break-all;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-bottom: 1px solid #e5e5e5;
  }
  &:last-child:after {
    border-bottom: 0;
  }
}

.van-badge--select {
  font-weight: 700;
  color: #333;
  background-color: #fff;
  .van-badge__active {
    display: block;
  }
  &:after {
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: left top;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-left: 1px solid #e5e5e5;
  }
}

.van-badge__active {
  display: none;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #f44;
}

.van-badge__info {
  position: absolute;
  background-color: #f44;
  top: 2px;
  right: 2px;
  font-size: 10px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  text-align: center;
  box-sizing: border-box;
  padding: 0 6px;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  color: #fff;
}
