.weui-cells{
  margin-top: 0px;
}

.weui-grids{
  background: #fff;
}

.title{
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #666;
  padding: 0px 15px;
  background: #eee;
  font-weight: normal;
}

.empty{
  padding: 10px;
  background: #fff;
  margin: 0px 20px;
  text-align: center;
  border-radius: 5px;
}
.opts{
  overflow: hidden;
  background: #fff;
  .opt-item{
    line-height: 50px;
    width: 50%;
    float: left;
    border-right: 1px solid #c3c3c3;
    text-align: center;
    &.noborder{
      border-right: none;
    }
    p{
      line-height: 1.5em;
      padding-bottom: .5em;
    }
  }
}

.icon{
  width: 2em;
  height: 2em;
  display: block;
  background-size: cover;
  margin: 10px auto 5px;
}

.scan-icon{
  background-image: url('./scan.png');
}

.search-icon{
  background-image: url('./search.png');
}
