/*! CSSDevices v2.2.0 | MIT license | Maintained by Stuart Yamartino | http://cssdevices.io */

.cd-iphone-5s, .cd-iphone-5c, .cd-iphone-5s > .cd-body, .cd-iphone-5c > .cd-body {
  width: 19.8em;
  height: 42em;
}

.cd-iphone-6 {
  width: 23em;
  height: 48em;
  > .cd-body {
    width: 23em;
    height: 48em;
  }
}

.cd-iphone-6-plus {
  width: 25.5em;
  height: 53em;
  > .cd-body {
    width: 25.5em;
    height: 53em;
  }
}

[class^='cd-iphone'] .cd-body {
  position: relative;
  border-style: solid;
  background: #1e1e1e;
}

[class^='cd-iphone-5'] {
  .cd-body {
    border-radius: 2.5em;
    border-width: 0.25em;
  }
  .cd-camera {
    background: #3c3d3d;
    top: 1.7em;
    left: 50%;
    margin-left: -.25em;
    width: .5em;
    height: .5em;
    border-radius: 0.25em;
  }
  .cd-ear {
    background: #292728;
    top: 3em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: .6em;
    border-radius: 0.3em;
  }
  .cd-screen {
    background: black;
    top: 5em;
    left: 50%;
    margin-left: -8.9em;
    width: 17.8em;
    height: 31em;
    border: solid .2em black;
    border-radius: 0.1em;
  }
  .cd-home {
    bottom: 1em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    border: 0.2em solid black;
  }
  .cd-sound {
    top: 5.1em;
    left: -.35em;
    height: 1.8em;
    width: 0.2em;
    &::before {
      content: "";
      top: 4em;
      height: 1.4em;
      width: 0.2em;
    }
    &::after {
      content: "";
      top: 7.2em;
      height: 1.4em;
      width: 0.2em;
    }
  }
  .cd-sleep {
    top: -.35em;
    left: 13.2em;
    height: .2em;
    width: 3em;
  }
}

.cd-iphone-5c {
  .cd-home {
    background: #242324;
    border-width: 0 !important;
    &::after {
      content: "";
      display: block;
      width: 1.2em;
      height: 1.2em;
      top: 1.1em;
      left: 50%;
      margin-left: -.6em;
      border-radius: .3em;
      border: 1px solid #393839;
    }
  }
  .cd-body {
    border-color: #7ec4fc;
  }
  &.cd-green .cd-body {
    border-color: #b3f390;
  }
  &.cd-red .cd-body {
    border-color: #fc828d;
  }
  &.cd-yellow .cd-body {
    border-color: #fff38a;
  }
  &.cd-white .cd-body {
    border-color: #efefee;
  }
  .cd-sound {
    background: #7ec4fc;
    &::before, &::after {
      background: #7ec4fc;
    }
  }
  .cd-sleep {
    background: #7ec4fc;
  }
  &.cd-green {
    .cd-sound {
      background: #b3f390;
      &::before, &::after {
        background: #b3f390;
      }
    }
    .cd-sleep {
      background: #b3f390;
    }
  }
  &.cd-red {
    .cd-sound {
      background: #fc828d;
      &::before, &::after {
        background: #fc828d;
      }
    }
    .cd-sleep {
      background: #fc828d;
    }
  }
  &.cd-yellow {
    .cd-sound {
      background: #fff38a;
      &::before, &::after {
        background: #fff38a;
      }
    }
    .cd-sleep {
      background: #fff38a;
    }
  }
  &.cd-white {
    .cd-sound {
      background: #efefee;
      &::before, &::after {
        background: #efefee;
      }
    }
    .cd-sleep {
      background: #efefee;
    }
  }
}

.cd-iphone-5s .cd-body, .cd-iphone-6 .cd-body, .cd-iphone-6-plus .cd-body {
  border-color: #656565;
}

.cd-iphone-5s.cd-gold .cd-body, .cd-iphone-6.cd-gold .cd-body, .cd-iphone-6-plus.cd-gold .cd-body {
  background-color: #fafafa;
  border-color: #ecdcc8;
  .cd-home {
    background-color: #fafafa;
    border-color: #ecdcc8;
  }
}

.cd-iphone-5s.cd-rosegold .cd-body, .cd-iphone-6.cd-rosegold .cd-body, .cd-iphone-6-plus.cd-rosegold .cd-body {
  background-color: #fafafa;
  border-color: #E9C9C5;
  .cd-home {
    background-color: #fafafa;
    border-color: #E9C9C5;
  }
}

.cd-iphone-5s.cd-silver .cd-body, .cd-iphone-6.cd-silver .cd-body, .cd-iphone-6-plus.cd-silver .cd-body {
  background-color: #fafafa;
  border-color: #bdbfbe;
  .cd-home {
    background-color: #fafafa;
    border-color: #bdbfbe;
  }
}

.cd-iphone-5s .cd-body .cd-home, .cd-iphone-6 .cd-body .cd-home, .cd-iphone-6-plus .cd-body .cd-home {
  border-color: #2c2b2c;
}

.cd-iphone-5s {
  .cd-sound {
    background: #656565;
    &::before, &::after {
      background: #656565;
    }
  }
  .cd-sleep {
    background: #656565;
  }
}

.cd-iphone-6 {
  .cd-sound {
    background: #656565;
    &::before, &::after {
      background: #656565;
    }
  }
  .cd-sleep {
    background: #656565;
  }
}

.cd-iphone-6-plus {
  .cd-sound {
    background: #656565;
    &::before, &::after {
      background: #656565;
    }
  }
  .cd-sleep {
    background: #656565;
  }
}

.cd-iphone-5s.cd-gold {
  .cd-sound {
    background: #ecdcc8;
    &::before, &::after {
      background: #ecdcc8;
    }
  }
  .cd-sleep {
    background: #ecdcc8;
  }
}

.cd-iphone-6.cd-gold {
  .cd-sound {
    background: #ecdcc8;
    &::before, &::after {
      background: #ecdcc8;
    }
  }
  .cd-sleep {
    background: #ecdcc8;
  }
}

.cd-iphone-6-plus.cd-gold {
  .cd-sound {
    background: #ecdcc8;
    &::before, &::after {
      background: #ecdcc8;
    }
  }
  .cd-sleep {
    background: #ecdcc8;
  }
}

.cd-iphone-5s.cd-rosegold {
  .cd-sound {
    background: #E9C9C5;
    &::before, &::after {
      background: #E9C9C5;
    }
  }
  .cd-sleep {
    background: #E9C9C5;
  }
}

.cd-iphone-6.cd-rosegold {
  .cd-sound {
    background: #E9C9C5;
    &::before, &::after {
      background: #E9C9C5;
    }
  }
  .cd-sleep {
    background: #E9C9C5;
  }
}

.cd-iphone-6-plus.cd-rosegold {
  .cd-sound {
    background: #E9C9C5;
    &::before, &::after {
      background: #E9C9C5;
    }
  }
  .cd-sleep {
    background: #E9C9C5;
  }
}

.cd-iphone-5s.cd-silver {
  .cd-sound {
    background: #bdbfbe;
    &::before, &::after {
      background: #bdbfbe;
    }
  }
  .cd-sleep {
    background: #bdbfbe;
  }
}

.cd-iphone-6.cd-silver {
  .cd-sound {
    background: #bdbfbe;
    &::before, &::after {
      background: #bdbfbe;
    }
  }
  .cd-sleep {
    background: #bdbfbe;
  }
}

.cd-iphone-6-plus.cd-silver {
  .cd-sound {
    background: #bdbfbe;
    &::before, &::after {
      background: #bdbfbe;
    }
  }
  .cd-sleep {
    background: #bdbfbe;
  }
}

[class^='cd-iphone-6'] {
  .cd-body {
    border-radius: 3em;
    border-width: 0.4em;
  }
  .cd-camera {
    background: #3c3d3d;
    top: 2.4em;
    left: 50%;
    margin-left: -4em;
    width: .7em;
    height: .7em;
    border-radius: 0.35em;
  }
  &.cd-gold .cd-camera::after, &.cd-rosegold .cd-camera::after, &.cd-silver .cd-camera::after {
    content: "";
    background: #3c3d3d;
    top: -1.4em;
    right: -3.5em;
    width: .5em;
    height: .5em;
    border-radius: 0.25em;
  }
  .cd-ear {
    background: #292728;
    top: 2.5em;
    left: 50%;
    margin-left: -2em;
    width: 4em;
    height: .5em;
    border-radius: 0.3em;
  }
  .cd-screen {
    background: #fff;
    top: 5em;
    left: 50%;
    margin-left: -10.5em;
    width: 21em;
    height: 37em;
    border: solid .2em black;
    border-radius: 0.1em;
  }
  .cd-home {
    bottom: .9em;
    left: 50%;
    margin-left: -1.75em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    border: 0.2em solid black;
  }
  .cd-sound {
    top: 5em;
    left: -.5em;
    height: 1.8em;
    width: 0.2em;
    &::before {
      content: "";
      top: 4.4em;
      height: 3.4em;
      width: 0.2em;
    }
    &::after {
      content: "";
      top: 8.8em;
      height: 3.4em;
      width: 0.2em;
    }
  }
  .cd-sleep {
    top: 9.3em;
    right: -.5em;
    height: 3.4em;
    width: 0.2em;
  }
}

.cd-iphone-6-plus .cd-body .cd-screen {
  top: 5em;
  margin-left: -11.8em;
  width: 23.6em;
  height: 42em;
  border: solid .2em black;
  border-radius: 0.1em;
}

.cd-blueprint {
  .cd-sound {
    left: -2px !important;
  }
  &[class^='cd-iphone-6'] .cd-sleep {
    background: #000 !important;
    width: 1px !important;
    border: none !important;
    right: -2px;
  }
  &[class^='cd-iphone-5'] .cd-sleep {
    background: #000 !important;
    height: 1px !important;
    border: none !important;
    top: -2px;
  }
}

.cd-ipad {
  width: 33.6em;
  height: 48em;
  > .cd-body {
    width: 33.6em;
    height: 48em;
  }
  .cd-body {
    background: #1e1e1e;
    border-radius: 1.6em;
    border: 0.25em solid #656565;
  }
  .cd-camera {
    background: #3c3d3d;
    width: .5em;
    height: .5em;
    top: 1.6em;
    left: 50%;
    margin-left: -.25em;
    border-radius: 0.3em;
  }
  .cd-screen {
    width: 30em;
    height: 40em;
    background: black;
    top: 3.7em;
    left: 50%;
    margin-left: -15em;
    border: 0.2em solid black;
  }
  .cd-home {
    width: 2.2em;
    height: 2.2em;
    border: 0.2em solid #2c2b2c;
    bottom: .8em;
    border-radius: 1.1em;
    left: 50%;
    margin-left: -1em;
  }
  &.cd-gold {
    .cd-body {
      background: #fafafa;
      border-color: #ecdcc8;
    }
    .cd-home {
      border-color: #ecdcc8;
    }
  }
  &.cd-silver {
    .cd-body {
      background: #fafafa;
      border-color: #bdbfbe;
    }
    .cd-home {
      border-color: #bdbfbe;
    }
  }
}

.cd-mac {
  width: 60em;
  height: 34.8em;
  .cd-top {
    width: 52em;
    height: 34em;
    left: 50%;
    margin-left: -26em;
    background: #d6d5da;
    border-radius: 1.5em 1.5em 0.6em 0.6em;
  }
  .cd-camera {
    width: .4em;
    height: .4em;
    background: #3c3d3d;
    left: 50%;
    margin-left: -.2em;
    top: .8em;
    border-radius: 0.2em;
  }
  .cd-screen {
    width: 48em;
    height: 30em;
    background: #3c3d3d;
    overflow: hidden;
    border: 1px solid #3c3d3d;
    top: 2em;
    left: 50%;
    margin-left: -24em;
  }
  .cd-bottom {
    width: 100%;
    height: 1em;
    bottom: 0;
    background: #BDBDBD;
    border-radius: 10em/1.2em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .cd-notch {
    width: 10em;
    height: .5em;
    background: #d6d5da;
    left: 50%;
    margin-left: -5em;
    bottom: .5em;
    border-radius: 0 0 1em 1em;
    border-top: 1px solid #BDBDBD;
  }
  &.cd-pro {
    .cd-top {
      background: #1C1C1C;
    }
    .cd-bottom {
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
}

.cd-watch {
  width: 16.6em;
  height: 28em;
  .cd-bracket {
    height: 19.4em;
    width: 11.2em;
    left: 50%;
    margin-left: -5.6em;
    border: 0.5em solid #D8D8D8;
    border-radius: .8em;
    top: 4.3em;
  }
  [class$='-band'] {
    width: 9em;
    height: 7.05em;
    background: #81DAF5;
    left: 50%;
    margin-left: -4.5em;
  }
  .cd-top-band {
    border-radius: .5em .5em 0 0;
    top: -1.2em;
    transform: perspective(30em) rotateX(45deg);
    -webkit-transform: perspective(30em) rotateX(45deg);
    -ms-transform: perspective(30em) rotateX(45deg);
  }
  .cd-bottom-band {
    border-radius: 0 0 .5em .5em;
    bottom: -1.2em;
    transform: perspective(30em) rotateX(-45deg);
    -webkit-transform: perspective(30em) rotateX(-45deg);
    -ms-transform: perspective(30em) rotateX(-45deg);
  }
  .cd-crown {
    width: .8em;
    height: 3.4em;
    right: 0;
    top: 50%;
    margin-top: -5em;
    background: #D8D8D8;
    border-radius: 0 0.4em 0.4em 0;
  }
  .cd-button {
    width: .4em;
    height: 5em;
    right: .4em;
    top: 50%;
    background: #D8D8D8;
    border-radius: 0 0.3em 0.3em 0;
  }
  .cd-body {
    height: 18em;
    width: 15.2em;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -7.6em;
    border: 0.7em solid #D8D8D8;
    border-radius: 3em;
    background: black;
  }
  .cd-screen {
    background: black;
    overflow: hidden;
    width: 11.2em;
    height: 14em;
    top: 50%;
    left: 50%;
    margin-top: -7em;
    margin-left: -5.6em;
    border-radius: 0.5em;
    > * {
      border-radius: 0.5em;
    }
  }
  &.cd-no-bracket .cd-bracket {
    display: none;
  }
  &.cd-black {
    .cd-crown, .cd-button {
      background: #585858;
    }
    .cd-bracket, .cd-body {
      border-color: #585858;
    }
  }
  &.cd-gold {
    .cd-crown, .cd-button {
      background: #e9d296;
    }
    .cd-bracket, .cd-body {
      border-color: #e9d296;
    }
  }
  &.cd-rosegold {
    .cd-crown, .cd-button {
      background: #e9bfa9;
    }
    .cd-bracket, .cd-body {
      border-color: #e9bfa9;
    }
  }
  &.cd-white-band [class$='-band'] {
    background: #F2F2F2;
  }
  &.cd-blue-band [class$='-band'] {
    background: #81DAF5;
  }
  &.cd-green-band [class$='-band'] {
    background: #C8FE2E;
  }
  &.cd-pink-band [class$='-band'] {
    background: #F66E64;
  }
  &.cd-black-band [class$='-band'] {
    background: #2E2E2E;
  }
  &.cd-brown-band [class$='-band'] {
    background: #876450;
  }
  &.cd-tan-band [class$='-band'] {
    background: #BEB0A6;
  }
  &.cd-navy-band [class$='-band'] {
    background: #56586b;
  }
  &.cd-red-band [class$='-band'] {
    background: #ff4838;
  }
  &.cd-linked-band [class$='-band'] {
    background: linear-gradient(to bottom, #595959, #595959 10%, #B6B6B6 10%, #B6B6B6);
    background-size: 100% 2em;
  }
  &.cd-blueprint {
    .cd-bracket {
      top: 4.6em;
      height: 18.9em;
    }
    .cd-crown, .cd-button {
      border-left: none !important;
    }
    .cd-screen {
      border: none !important;
    }
  }
}

body {
  font-size: 14px;
}

[class^='cd-'] {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  &::after, &::before {
    margin: 0;
    padding: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
}

.cd-iphone-5s, .cd-iphone-5c, .cd-iphone-6, .cd-iphone-6-plus, .cd-ipad, .cd-mac {
  border: 0;
  position: relative;
  z-index: 50;
  font-size: 14px;
  display: block;
}

[class^='cd-'] * {
  position: absolute;
  &::after, &::before {
    position: absolute;
  }
}

.cd-screen {
  overflow: hidden;
  > * {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
    &:first-child {
      display: block;
    }
  }
  &.cd-screen-scrolling {
    overflow-y: scroll;
    > * {
      bottom: none;
      height: auto;
    }
  }
}

.cd-scale-10 {
  font-size: 10% !important;
}

.cd-scale-20 {
  font-size: 20% !important;
}

.cd-scale-30 {
  font-size: 30% !important;
}

.cd-scale-40 {
  font-size: 40% !important;
}

.cd-scale-50 {
  font-size: 50% !important;
}

.cd-scale-60 {
  font-size: 60% !important;
}

.cd-scale-70 {
  font-size: 70% !important;
}

.cd-scale-80 {
  font-size: 80% !important;
}

.cd-scale-90 {
  font-size: 90% !important;
}

.cd-padded-device {
  margin: 20px;
}

.cd-fill-parent, .cd-device-loader {
  visibility: hidden;
}

.cd-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

[class^='cd-'].cd-blueprint * {
  background: white !important;
  border: 1px solid #000 !important;
  &::after, &::before {
    background: white !important;
    border: 1px solid #000 !important;
  }
}

.cd-blueprint {
  .cd-sound {
    background: #000 !important;
    width: 1px !important;
    border: none !important;
    &::before, &::after {
      background: #000 !important;
      width: 1px !important;
      border: none !important;
    }
  }
  .cd-screen * {
    border: none !important;
  }
}

.cd-slideshow > *:nth-child(n+2), .cd-smart-loader > :first-child {
  display: none;
}

.cd-landscape-left {
  &.cd-iphone-5s, &.cd-iphone-5c {
    height: 19.8em;
    width: 42em;
  }
}

.cd-landscape-right {
  &.cd-iphone-5s, &.cd-iphone-5c {
    height: 19.8em;
    width: 42em;
  }
}

.cd-landscape-left.cd-iphone-6, .cd-landscape-right.cd-iphone-6 {
  height: 23em;
  width: 48em;
}

.cd-landscape-left.cd-iphone-6-plus, .cd-landscape-right.cd-iphone-6-plus {
  height: 25.5em;
  width: 53em;
}

.cd-landscape-left.cd-ipad, .cd-landscape-right.cd-ipad {
  height: 33.6em;
  width: 48em;
}

.cd-landscape-left {
  > .cd-body {
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    > .cd-screen {
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform: rotate(90deg) translate(0, -100%);
      -webkit-transform: rotate(90deg) translate(0, -100%);
      -ms-transform: rotate(90deg) translate(0, -100%);
    }
    transform: rotate(-90deg) translate(-100%, 0);
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    -ms-transform: rotate(-90deg) translate(-100%, 0);
  }
  &:not(.cd-landscape-fixed-screen) {
    &.cd-iphone-5s > .cd-body > .cd-screen, &.cd-iphone-5c > .cd-body > .cd-screen {
      height: 17.8em;
      width: 31em;
    }
    &.cd-iphone-6 > .cd-body > .cd-screen {
      height: 21em;
      width: 37em;
    }
    &.cd-iphone-6-plus > .cd-body > .cd-screen {
      height: 23.6em;
      width: 42em;
    }
    &.cd-ipad > .cd-body > .cd-screen {
      height: 30em;
      width: 40em;
    }
  }
}

.cd-landscape-right {
  > .cd-body {
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    > .cd-screen {
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform: rotate(-90deg) translate(-100%, 0);
      -webkit-transform: rotate(-90deg) translate(-100%, 0);
      -ms-transform: rotate(-90deg) translate(-100%, 0);
    }
    transform: rotate(90deg) translate(0, -100%);
    -webkit-transform: rotate(90deg) translate(0, -100%);
    -ms-transform: rotate(90deg) translate(0, -100%);
  }
  &:not(.cd-landscape-fixed-screen) {
    &.cd-iphone-5s > .cd-body > .cd-screen, &.cd-iphone-5c > .cd-body > .cd-screen {
      height: 17.8em;
      width: 31em;
    }
    &.cd-iphone-6 > .cd-body > .cd-screen {
      height: 21em;
      width: 37em;
    }
    &.cd-iphone-6-plus > .cd-body > .cd-screen {
      height: 23.6em;
      width: 42em;
    }
    &.cd-ipad > .cd-body > .cd-screen {
      height: 30em;
      width: 40em;
    }
  }
}

.cd-landscape-fixed-screen > .cd-body > .cd-screen {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform-origin: none;
  -webkit-transform-origin: none;
  -ms-transform-origin: none;
}