<div fxFlexFill fxLayout="row">
    <sidebar-container *ngIf="showMenu">
        <sidebar-list>
            <sidebar-header>
                <img ngStyle.xs="max-width: 2em" class="sidebar-header-avatar" src="assets/img/a1.jpg" alt="">
            </sidebar-header>
            <sidebar-item *ngFor="let item of menus" (onItem)="onItem(item)" class="active">
                <i icon [class]="item.icon"></i> {{item.title}}
                <span *ngIf="item.total>0" sidebar-item-right class="label label-warning pull-right">{{item.total}}</span>
            </sidebar-item>
        </sidebar-list>
    </sidebar-container>
    <sidebar-content fxLayout="column">
        <topnav *ngIf="showMenu">
            <topnav-left>
                <a (click)="openSidebar()" class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;">
                    <i class="fa fa-bars"></i>
                </a>
            </topnav-left>
            <topnav-right>
                <dropdown>
                    <dropdown-toggle title="颜色">
                        <i class="fa fa-bookmark" style="font-size: 1.6em;color: #1ab394;"></i>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <color-select></color-select>
                    </dropdown-menu>
                </dropdown>
                <dropdown>
                    <dropdown-toggle title="图标">
                        <i class="fa fa-life-buoy" style="font-size: 1.6em;color: #1ab394;"></i>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <icon-select></icon-select>
                    </dropdown-menu>
                </dropdown>
            </topnav-right>
        </topnav>
        <div (click)="onContentClick()" style="flex: 1;overflow: auto;background-color: #e8e8e8;">
            <ng-content></ng-content>
        </div>
    </sidebar-content>
</div>