<div style="width: 100%;height: 100%;">
    <!-- 侧边菜单 -->
    <sidebar-container [style.width]="sidebar$._open ? '55px' : '100px'" *ngIf="showMenu">
        <sidebar-list>
            <sidebar-header>
                <img (click)="openSidebar()" [ngStyle]="avatarStyle" class="sidebar-header-avatar" [src]="myinfo.avatar" alt="">
            </sidebar-header>
            <div *ngFor="let item of menus">
                <sidebar-item (onItem)="onItem(item)" class="active">
                    <i icon [class]="item.icon"></i> {{item.title}}
                    <span *ngIf="item.total>0" sidebar-item-right class="label label-warning pull-right">{{item.total}}</span>
                </sidebar-item>
            </div>
        </sidebar-list>
    </sidebar-container>

    <!-- 主要内容 -->
    <sidebar-content [ngStyle]="openStyle.content">
        <div style="width: 100%;height: 100%;overflow: auto;">
            <ng-content></ng-content>
        </div>
    </sidebar-content>

    <sidebar-container class="right-menu" [style.width]="sidebar$._open ? '0px' : '160px'" style="right:0px;background-color: #fff;box-shadow: 0 0 10px 0 rgba(154, 141, 141, 0.6);" *ngIf="showMenu">
        <nav-tabs>
            <nav-tab-pane title="我的应用">
                <ng-template navTabPaneRef>
                    <el-menu class="el-menu-right" *ngIf="showMenu" [style.padding-left]="sidebar$._open ? '55px' : '100px'" theme="dark">
                        <el-submenu class="el-menu-scroll-y" [index]="app.id" *ngFor="let app of myapps;index as ai;">
                            <ng-template #title>
                                {{app.title | slice: 0:6}}
                            </ng-template>
                            <el-menu-item-group [title]="catalog.title" *ngFor="let catalog of app.catalogs;index as ci;">
                                <el-menu-item style="padding-left: 40px;" [index]="page.id" *ngFor="let page of catalog.pages;index as pi;">{{page.title}}</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                    </el-menu>
                </ng-template>
            </nav-tab-pane>
            <nav-tab-pane title="我的消息">
                <ng-template navTabPaneRef>
                    我的消息
                </ng-template>
            </nav-tab-pane>
        </nav-tabs>
    </sidebar-container>
</div>