<div>
  <ul class="album album-leader">
    <li *ngFor="let item of items">
      <a href="javascript:;" (click)="_onClick(item)">
        <div class="avatar" style="position:relative;width:2.65rem;height:2.65rem;border-radius:50%;display:inline-block;">
          <img style="position:relative;width:2.65rem;height:2.65rem;border-radius:50%;display:inline-block;" class="avatarImg" src="https://medias.zaih.com/FkEmfhasvLJmmFkxGnbRLFatpBnT!avatar">
          <img class="verified" style="position:absolute;width:0.8833333333333333rem;height:0.8833333333333333rem;right:0;bottom:0;" src="https://medias.zaih.com/Ft5o9F6sVsq8s1oAMi8ZfJ5wzhIw">
        </div>
        <p>崔玉涛</p>
        <p class="description" data-reactid=".1.0.1:$0.0.2">知名儿科医生</p>
        <p class="description" data-reactid=".1.0.1:$0.0.4">
          <span data-reactid=".1.0.1:$0.0.4.0">610</span>
          <span data-reactid=".1.0.1:$0.0.4.1">个回答，</span>
          <span data-reactid=".1.0.1:$0.0.4.2">57910</span>
          <span data-reactid=".1.0.1:$0.0.4.3">人收听</span></p>
      </a>
      <div class="follow" data-reactid=".1.0.1:$0.1">
        <img src="https://medias.zaih.com/FuG33n6Tx-hT2VhbVrb4FPgm4dCz" class="btn-follow" data-reactid=".1.0.1:$0.1.0">
        <span data-reactid=".1.0.1:$0.1.1">收听</span></div>
    </li>
  </ul>
  <div class="loading" style="display:none;" data-reactid=".1.1">正在加载...</div></div>
