.container {
    display: inline-block;
    width: 3em;
    height: 3em;
    position: fixed;
    right: 10px;
    z-index: 9999999999999999;
    background: #000;
    bottom: 120px;
    background-image: url(Touch-Point.png);
    background-size: 2em 2em;
    border-radius: 20%;
    background-position-x: .5em;
    background-position-y: .5em;
    background-repeat: no-repeat;
}

.kefu {
    display: inline-block;
    width: 3em;
    height: 3em;
    position: fixed;
    right: 10px;
    z-index: 999999999999;
    background: #000;
    bottom: 140px;
    background-image: url(kefu.png);
    background-size: 2em 2em;
    border-radius: 20%;
    background-position-x: .5em;
    background-position-y: .5em;
    background-repeat: no-repeat;
}

.bg {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99998;
}

.quick-menu-contatiner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 16em;
    height: 20em;
    margin-top: -10em;
    margin-left: -8em;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: scroll;
    ul {
        overflow: hidden;
        li {
            width: 33.3333333%;
            float: left;
            text-align: center;
            i {
                width: 2em;
                height: 2em;
                display: inline-block;
                background-size: 100%;
                background-repeat: no-repeat;
                &.add-icon {
                    background-image: url('./2.png');
                }
                &.index-icon {
                    background-image: url('./index.png');
                }
                &.members-icon {
                    background-image: url('./members.png');
                }
                &.mine-icon {
                    background-image: url('./mine.png');
                }
                &.services-icon {
                    background-image: url('./services.png');
                }
                &.shops-icon {
                    background-image: url('./shops.png');
                }
                &.tcwl-icon {
                    background-image: url('./3同城物流.png');
                }
                &.card-icon {
                    background-image: url('./会员卡.png');
                }
                &.active-icon {
                    background-image: url('./同城活动.png');
                }
                &.post-icon {
                    background-image: url('./发布.png');
                }
                &.design-icon {
                    background-image: url('./设计 .png');
                }
                &.clear-icon {
                    background-image: url('./clearall.png');
                }
                &.message-icon {
                    background-image: url('./message.png');
                }
                &.update {
                    background-image: url('./updae.png');
                }
                &.download {
                    background-image: url('./download.png');
                }
                &.themes-icon {
                    background-image: url('./themes.png');
                }
            }
            a {
                color: #fff;
                margin: 5px;
                display: block;
                img {
                    width: 3em;
                    height: 3em;
                }
                p {
                    font-size: .8em;
                }
            }
        }
    }
}