<div *ngFor="let module of modules">
    <a class="weui-cell weui-cell_access" (click)="open(module)" href="javascript:;">
        <div class="weui-cell__bd">
            <p>{{module['title']}}</p>
        </div>
        <div class="weui-cell__ft">权限设置</div>
    </a>
    <div class="main" *ngIf="module['open']">
        <div style="position: relative;" *ngIf="module['admin'].length>0 && props.showAdmin">
            <div class="title2">管理员</div>
            <div class="w_tag bor-b marbot10">
                <a href="javascript:;" class="tab_btn marbot20" [class.on]="item.active" *ngFor="let item of module['admin']" (click)="select(item)">{{item.title}}</a>
            </div>
        </div>
        <div style="position: relative;" *ngIf="module['home'].length>0 && props.showHome">
            <div class=" title2 ">个人中心</div>
            <div class="w_tag bor-b marbot10 ">
                <a href="javascript:; " class="tab_btn marbot20 " [class.on]="item.active " *ngFor="let item of module[ 'home'] " (click)="select(item) ">{{item.title}}</a>
            </div>
        </div>
        <div style="position: relative; " *ngIf="module[ 'index'].length>0 && props.showIndex">
            <div class="title2">首页</div>
            <div class="w_tag bor-b marbot10">
                <a href="javascript:;" class="tab_btn marbot20" [class.on]="item.active" *ngFor="let item of module['index']" (click)="select(item)">{{item.title}}</a>
            </div>
        </div>
        <div style="position: relative;" *ngIf="module['post'].length>0 && props.showPost">
            <div class="title2">发布页</div>
            <div class="w_tag bor-b marbot10">
                <a href="javascript:;" class="tab_btn marbot20" [class.on]="item.active" *ngFor="let item of module['post']" (click)="select(item)">{{item.title}}</a>
            </div>
        </div>
    </div>
</div>