.title {
    height: 40px;
    line-height: 38px;
    font-size: 14px;
    color: #666;
    padding: 0px 15px;
    background: #eee;
    font-weight: normal;
}

.w_tag {
    background: white;
    padding: 13px 3%;
    overflow: hidden;
    text-align: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    a {
        float: left;
        text-align: center;
        color: #5b4428;
        font-size: 13px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

.marbot10 {
    margin-bottom: 5.5px;
}

.marbot20 {
    margin-bottom: 11px;
}

.tab_btn {
    background: #f5f5f5;
    height: 31px;
    width: 22%;
    margin-right: 2.6%;
    line-height: 31px;
    position: relative;
    -webkit-border-radius: 2.8px;
    border-radius: 2.8px;
    &.on {
        color: #f16649;
        border: 1px solid #f16649;
        background: #fff;
        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: url(tabed.png) no-repeat;
            background-size: 100% 100%;
            right: 0;
            bottom: 0;
        }
    }
}

.weui-cells {
    margin-top: 0px;
}

.main {
    padding: 0px 10px;
    background-color: gray;
    .title2 {
        padding: 10px;
        color: white;
        z-index: 9;
        background: green;
        border-radius: 0px;
        font-size: .6em;
    }
}