<div class="showfixedtop" *ngIf="showfixedtop">
  <a name="top"></a>
  <div class="download-pannel" style="display: block;">
    <div class="pannel-bg">
      <img src="http://m.360buyimg.com/img/jfs/t2977/335/1927273397/18081/64a032d5/5796df21N0c6edd4e.png">
    </div>
    <div class="download-close" (click)="onClose()">
      <img id="download_openweb" [src]="closeIcon" class="J_ping">
    </div>
    <div class="download-logo">
      <img [src]="logo">
    </div>
    <div class="download-txt">
      <span class="download-content">
        <em class="content-up" style="font-size:13px;color:#ffffff;">{{title}}</em>
        <em class="content-down" style="font-size:13px;color:#999999;">{{desc}}</em>
      </span>
    </div>
    <div class="download-action">
      <a id="download_openapp" href="javascript:;" class="J_ping" report-eventid="MDownLoadFloatTop_OpenC">
        <span class="font-large" style="color:#FFFFFF;" (click)="_onClick()">{{btnTitle}}</span>
      </a>
    </div>
  </div>
</div>
