<div class="row">
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-title">
                <div class="demo">
                    <el-steps [active]="active" [finish-status]="'success'">
                        <el-step title="企业资料"></el-step>
                        <el-step title="联系方式"></el-step>
                        <el-step title="营业地址"></el-step>
                    </el-steps>
                </div>
            </div>
            <div class="ibox-content">
                <div *ngIf="active == 0">
                    <div class="form-group">
                        <label>企业名</label>
                        <input type="text" [(ngModel)]="componey.title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>企业简介</label>
                        <textarea rows="3" [(ngModel)]="componey.desc" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>企业logo</label>
                        <input type="text" [(uploader)]="componey.logo" class="form-control" readonly placeholder="请选择logo" [(ngModel)]="componey.logo">
                    </div>
                </div>
                <div *ngIf="active == 1">
                    <div class="form-group">
                        <label>真实姓名</label>
                        <input type="text" [(ngModel)]="componey.realname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>联系电话</label>
                        <input type="text" [(ngModel)]="componey.mobile" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>扣扣号码</label>
                        <input type="text" [(ngModel)]="componey.qq" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>微信号码</label>
                        <input type="text" [(ngModel)]="componey.weixin" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>支付宝账号</label>
                        <input type="text" [(ngModel)]="componey.alipay" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text" [(ngModel)]="componey.email" class="form-control">
                    </div>
                </div>
                <div *ngIf="active == 2">
                    <el-alert type="warning" description="请耐心等待，资料核实大约需要2-3个小时……">
                        等待审核
                    </el-alert>
                    <div class="h10"></div>
                </div>

                <div class="form-group">
                    <a class="btn btn-default" (click)="pre()">上一步</a>
                    <a class="btn btn-primary" (click)="next()">下一步</a>
                </div>
            </div>
        </div>
    </div>