<div class="cd-iphone-6 cd-rosegold" style="margin-right: 50px;">
    <div class="cd-body">
        <div class="cd-sound"></div>
        <div class="cd-sleep"></div>
        <div class="cd-camera"></div>
        <div class="cd-ear"></div>
        <div class="cd-home"></div>
        <div dnd-sortable-container style="border: solid .1em black;" [style.background-color]="_background" class="cd-screen cd-transition-slider cd-smart-loader">
            <img *ngIf="!_open" class="screenshot" style="display:block;" src="assets/screenshot.jpg" alt="">
            <div class="content" *ngIf="_open">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    <div class="operate-wrap">
        <span class="icon-container icomoon-forward" title="前进一步"></span>前进
        <span class="icon-container icomoon-backward" title="后退一步"></span>后退
        <span class="icon-container icomoon-template" title="模版"></span>模版
        <span class="icon-container icomoon-conponent" style="font-size: 22px;" title="组件"></span>元素
        <span class="icon-container icomoon-page" style="font-size: 22px;" title="页面"></span>页面
        <span class="icon-container icomoon-heart" style="font-size: 16px;" title="模块"></span>模块
    </div>
</div>