<div class="cd-iphone-6 cd-rosegold">
    <div class="cd-body">
        <div class="cd-sound"></div>
        <div class="cd-sleep"></div>
        <div class="cd-camera"></div>
        <div class="cd-ear"></div>
        <div class="cd-home"></div>
        <div dnd-sortable-container style="border: solid .1em black;" [style.background-color]="_background" class="cd-screen cd-transition-slider cd-smart-loader">
            <img *ngIf="!_open" class="screenshot" style="display:block;" src="assets/screenshot.jpg" alt="">
            <div class="content" *ngIf="_open">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>