.edit {
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(8, 8, 8, 0.5);
    bottom: 0px;
    text-align: center;
    a {
        color: #fff;
        line-height: 56px;
        margin-top: 8px;
        font-size: 14px;
    }
}

.fixed {
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 56px;
    z-index: 102;
    background-color: rgba(8, 8, 8, 0.5);
    a {
        color: #fff;
        line-height: 56px;
        margin-top: 8px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}