<div class="weui-search-bar" [class.weui-search-bar_focusing]="showInput">
  <div class="weui-search-bar__form">
    <div class="weui-search-bar__box">
      <i class="weui-icon-search"></i>
      <input type="search" [(ngModel)]="key" (change)="onChange($event)" class="weui-search-bar__input" placeholder="搜索电话" required="">
      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
    </div>
    <label class="weui-search-bar__label" (click)="onInput()" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
      <i class="weui-icon-search"></i>
      <span>搜索</span>
    </label>
  </div>
  <a href="javascript:" class="weui-search-bar__cancel-btn" (click)="search()">搜索</a>
</div>

<suyun-top-nav *ngIf="navs.length>0" (onItem)="onItem($event)" [items]="navs"></suyun-top-nav>

<div class="weui-cells">
  <div class="weui-cell" *ngFor="let item of runners;index as i;" (click)="option(item,i)">
    <div class="weui-cell__hd"><img [src]="item.avatar" alt="" style="width:20px;margin-right:5px;display:block"></div>
    <div class="weui-cell__bd">
      <p>{{item['realname'] || item['nickname'] }}{{item['mobile']}}</p>
    </div>
    <div class="weui-cell__ft">{{item['tag']}}</div>
  </div>
</div>

<div class="h45"></div>


<div class="js_dialog" *ngIf="showProfile">
  <div class="weui-mask"></div>
  <div class="weui-dialog">
    <p>姓名: {{showItem.realname}}</p>
    <p>手机: {{showItem.mobile}}</p>
    <swiper-default height="auto" hasPage="true">
      <div class="swiper-slide" (click)="previewImage()">
        <img [src]="showItem.card_image1" alt="">
      </div>
      <div class="swiper-slide" (click)="previewImage()">
        <img [src]="showItem.card_image2" alt="">
      </div>
    </swiper-default>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="makeSure()">审核通过</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="makeFail()">回绝申请</a>
    </div>
  </div>
</div>
