
<div class="weui-cells weui-cells_form">
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" [(ngModel)]="post.realname" type="text" placeholder="请输入真实姓名">
    </div>
  </div>
</div>
<div class="mt10">
  <suyun-mobile-verity (onSuccess)="onSms($event)"></suyun-mobile-verity>
</div>

<div class="weui-cells mt10">
  <suyun-cap-idcard-uploader (onUpload)="onUpload($event)"></suyun-cap-idcard-uploader>
</div>

<div class="weui-cells main mt10" *ngIf="myinfo['isrunner'] != 1">
  <suyun-controls-option-tap code="setting.my.realinfo" [items]="itemsTap" (onItem)="onItem($event)"></suyun-controls-option-tap>
  <p style="color:green;font-size:.8em;padding-bottom:10px;margin-top: 10px;">
    信誉可用来接单抵押,如:账户信誉额度为200元,则可接200元以下订任务(包含200元)
  </p>
</div>

<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" (click)="payOrder()" href="javascript:">确定</a>
</div>

<suyun-order-create *ngIf="createOrder" [post]="post" (onSuccess)="onPaySuccess($event)"></suyun-order-create>
<div class="h45"></div>


<div class="js_dialog" *ngIf="showEditer">
  <div class="weui-mask"></div>
  <div class="weui-dialog">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title">设置项目</strong></div>
    <div class="weui-dialog__bd">

    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancelEditer()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
    </div>
  </div>
</div>
