.marquee-box {
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    .marquee a {
        color: #00ACEE;
    }
    .laba {
        height: 14px;
        margin-top: -2px;
    }
}