.ibox {
    &:after {
        position: relative;
        display: block;
        margin: 11px;
        content: "";
        border-bottom: 1px solid #e4eaec;
        clear: both;
    }
}

.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    label {
        margin: 5px 10px;
        cursor: pointer;
    }
}