<head-img [info]="myinfo" [items]="items" (onItem)="onRight()"></head-img>

<myjd-content style="display: block;position: relative;">
    <ul class="in-list bdt-1px bdb-1px">
        <li *ngFor="let item of items"  [routerLink]="item.link">
            <div class="in-item my-item">
                <div class="couponIn-icon w-18">
                    <img [src]="item.icon">
                </div>
                <div class="in-item-info my-item bdb-1px">
                    <div class="fl">
                        <span class="myJD-Order">{{item.title}}</span>
                    </div>
                    <div class="fr">
                        <!--<span class="myJD-AllOrder">{{item.desc}}</span>-->
                        <span class="myJD-arrow"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</myjd-content>

<myjd-content style="display: block;position: relative;">
    <ul class="in-list bdt-1px bdb-1px">
        <li *ngFor="let item of grids" [class.hide]="!item.active" [routerLink]="item.link">
            <div class="in-item my-item">
                <div class="couponIn-icon w-18">
                    <img [src]="item.icon">
                </div>
                <div class="in-item-info my-item bdb-1px">
                    <div class="fl">
                        <span class="myJD-Order">{{item.title}}</span>
                    </div>
                    <div class="fr">
                        <!--<span class="myJD-AllOrder">{{item.desc}}</span>-->
                        <span class="myJD-arrow"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</myjd-content>

<myjd-content>
    <ul class="in-list bdt-1px bdb-1px">
        <li *ngFor="let item of grids2" [class.hide]="!item.active" [routerLink]="item.link">
            <div class="in-item my-item">
                <div class="couponIn-icon w-18">
                    <img [src]="item.icon">
                </div>
                <div class="in-item-info my-item bdb-1px">
                    <div class="fl">
                        <span class="myJD-Order">{{item.title}}</span>
                    </div>
                    <div class="fr">
                        <!--<span class="myJD-AllOrder">{{item.desc}}</span>-->
                        <span class="myJD-arrow"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</myjd-content>