$white: #ffffff;
//语义
$default: #000000;
$success: #54c952;
$primary: #44abf7;
$info: #3abbdb;
$warning: #ffc000;
$danger: #eb6060;
// 颜色
$green: #15d2b9;
$blue: #50b6fe;
$orange: #ff741d;
$yellow: #feb312;
$red: #fd5454;
$colorMap: ( "default": $default, "success": $success, "primary": $primary, "info": $info, "warning": $warning, "danger": $danger, "green": $green);