@import "../scss/component/list";
@import "../scss/component/btn";

.hi-light {
  background-color: #fff !important;
}


.gift-logo {
  background-color: #ff9422;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(common.png);
  background-position: 0 -186px;
  -webkit-background-size: 262px auto;
  background-size: 262px auto;
}

.compete-logo {
  background-color: #ff6248;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(common.png);
  background-position: 0 0;
  -webkit-background-size: 262px auto;
  background-size: 262px auto;
}
.ui-list-img{
  width: 50px;
  height: 50px;
  margin-top: 18px;
  >span{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
  }
}

.news-logo {
  background-color: #25c3ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(common.png);
  background-position: 0 -312px;
  -webkit-background-size: 262px auto;
  background-size: 262px auto;
}