<ul class="ui-list friend-list ui-list-function ">
  <li class="active hi-light">
    <div class="ui-list-img">
      <span class="pro-logo" style="background-image: url(./assets/images/avatar.png)"></span>
    </div>
    <div class="ui-list-info ui-border-b">
      <h4 class="ui-nowrap ">游戏中心公测红包群</h4>
      <p class="sub-msg ui-nowrap">快来快来发红包啦</p>
      <p>邀请人：产品汪-琳琳</p>
    </div>
    <div class="ui-btn">同意</div>
    <div class="figer figer1" data-index="1"></div>
  </li>
  <li class="active hi-light">
    <div class="ui-list-img">
      <span class="gift-logo"></span>
    </div>
    <div class="ui-list-info ui-border-b">
      <h4 class="ui-nowrap">游戏中心公测红包群</h4>
      <p class="sub-msg ui-nowrap ">你有一个游戏礼包未领取</p>
      <p class="">邀请人：礼包&amp;邮递员</p>
    </div>
    <div class="ui-btn">同意</div>
    <div class="figer figer2" data-index="2"></div>
  </li>
  <li class="active hi-light">
    <div class="ui-list-img">
      <span class="compete-logo"></span>
    </div>
    <div class="ui-list-info ui-border-b">
      <h4 class="ui-nowrap">游戏中心公测红包群</h4>
      <p class="sub-msg ui-nowrap ">带你与高手同场爽快竞技</p>
      <p class="">邀请人：赛事♀女主播</p>
    </div>
    <div class="ui-btn">同意</div>
    <div class="figer figer3" data-index="3"></div>
  </li>
  <li class="active hi-light">
    <div class="ui-list-img">
      <span class="news-logo"></span>
    </div>
    <div class="ui-list-info ui-border-b">
      <h4 class="ui-nowrap">游戏中心公测红包群</h4>
      <p class="sub-msg ui-nowrap ">进群领红包</p>
      <p class="">邀请人：社区-新大使</p>
    </div>
    <div class="ui-btn">同意</div>
    <div class="figer figer4" data-index="4"></div>
    <!--<div class="txt-btn">已同意</div>-->
  </li>
</ul>

<frozen-loading (onInit)="initLoading($event)"></frozen-loading>