<coach-advs code="post.advs" *ngIf="_props.adv.show"></coach-advs>
<bbs-gong-gao code="post.index.gonggao" *ngIf="_props?.gonggao.show"></bbs-gong-gao>
<div [formGroup]="form">
    <core-tags [code]="_code" (onSelect)="onGoodsSelect($event)"></core-tags>
    <white-space size="xs" *ngIf="_props?.start.show"></white-space>
    <div class="weui-cells" *ngIf="_props?.start.show" [formGroup]="form.get('start')">
        <a class="weui-cell weui-cell_access" [class.weui-cell_warn]="!form.get('start').valid && _props.start.required" href="javascript:;" (click)="sendAddress()">
            <div class="weui-cell__bd">
                <p>{{_props.start.title}}</p>
            </div>
            <div class="weui-cell__ft" *ngIf="_props.start.default.length<=0">{{ form.get('start').get('poiname').value || _props.start.placeholder}}</div>
            <div class="weui-cell__ft" *ngIf="_props.start.default.length>0">{{ form.get('start').get('poiname').value || _props.start.default}}</div>
        </a>
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('start').get('detail').valid && _props.start.detail.required" *ngIf="form.get('start').get('lat').valid">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.start.detail.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" formControlName="detail" type="text" [placeholder]="_props.start.detail.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('start').get('detail').valid && _props.start.detail.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('start').get('mobile').valid  && _props.start.mobile.required" *ngIf="form.get('start').get('lat').valid">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.start.mobile.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" formControlName="mobile" type="tel" [placeholder]="_props.start.mobile.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('start').get('mobile').valid  && _props.start.mobile.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>
    <white-space size="xs" *ngIf="_props.end.show"></white-space>
    <div class="weui-cells" *ngIf="_props.end.show" [formGroup]="form.get('end')">
        <a class="weui-cell weui-cell_access" [class.weui-cell_warn]="!form.get('end').valid  && _props.end.required" href="javascript:;" (click)="reciveAddress()">
            <div class="weui-cell__bd">
                <p>{{_props.end.title}}</p>
            </div>
            <div class="weui-cell__ft" *ngIf="_props.start.default.length<=0">{{form.get('end').get('poiname').value || _props.end.placeholder}}</div>
            <div class="weui-cell__ft" *ngIf="_props.start.default.length>0">{{form.get('end').get('poiname').value || _props.end.default}}</div>
        </a>
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('end').get('detail').valid  && _props.end.detail.required" *ngIf="form.get('end').get('lat').valid">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.end.detail.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" formControlName="detail" type="text" [placeholder]="_props.end.detail.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('end').get('detail').valid  && _props.end.detail.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('end').get('mobile').valid  && _props.end.mobile.required" *ngIf="form.get('end').get('lat').valid">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.end.mobile.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" formControlName="mobile" type="tel" [placeholder]="_props.end.mobile.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('end').get('mobile').valid  && _props.end.mobile.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>

    <white-space size="xs" *ngIf="_props.msg.show"></white-space>
    <div class="weui-cells weui-cells_form mt10">
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('desc').valid  && _props.msg.required">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" formControlName="desc" [placeholder]="_props.msg.placeholder" rows="3"></textarea>
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('desc').valid  && _props.msg.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>

    <white-space size="xs" *ngIf="_props.voice.show"></white-space>
    <suyun-wechat-audio *ngIf="_props.voice.show" [isUpload]="timeLen < 3" [localId]="localId" [audioBtnTitle]="_props.voice.title" (onRecord)="onRecord($event)"></suyun-wechat-audio>


    <white-space size="xs" *ngIf="_props.baojia.show"></white-space>
    <div *ngIf="_props.baojia.show">
        <div class="title">{{_props.baojia.title}}</div>
        <div class="weui-cells m0">
            <core-baojia [code]="_code" (onSelect)="onSelectBaojia($event)"></core-baojia>
        </div>
    </div>


    <white-space size="xs" *ngIf="_props.image.show"></white-space>
    <suyun-uploader *ngIf="_props.image.show" [title]="_props.image.title" (onUpload)="onUpload($event)" [images]="post['images']" [total]="total"></suyun-uploader>


    <white-space size="xs" *ngIf="_props.weight.show"></white-space>
    <div class="weui-cells mt10" *ngIf="_props.weight.show">
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('weight').valid  && _props.weight.required">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.weight.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" formControlName="weight" pattern="[0-9]*" [placeholder]="_props.weight.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('weight').valid  && _props.weight.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>

    <white-space size="xs" *ngIf="_props.tiji.show"></white-space>
    <div class="weui-cells mt10" *ngIf="_props.tiji.show">
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('tiji').valid  && _props.tiji.required">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.tiji.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" formControlName="tiji" pattern="[0-9]*" [placeholder]="_props.tiji.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('tiji').valid  && _props.tiji.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>


    <white-space size="xs" *ngIf="_props.price.show"></white-space>
    <div class="weui-cells mt10" *ngIf="_props.price.show">
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('price').valid  && _props.price.required">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.price.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" formControlName="price" pattern="[0-9]*" [placeholder]="_props.price.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('price').valid  && _props.price.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>


    <white-space size="xs" *ngIf="_props.time.show"></white-space>
    <div class="weui-cells" *ngIf="_props.time.show">
        <a class="weui-cell weui-cell_access" [class.weui-cell_warn]="!form.get('time').valid  && _props.time.required" href="javascript:;" (click)="timeSelect()">
            <div class="weui-cell__bd">
                <p>{{_props.time.title}}</p>
            </div>
            <div class="weui-cell__ft">{{this.form.get('time').value['title'] || _props.time.placeholder}}</div>
        </a>
    </div>

    <white-space size="xs" *ngIf="_props.money.show"></white-space>
    <div class="weui-cells mt10" *ngIf="_props.money.show">
        <div class="weui-cell" [class.weui-cell_warn]="!form.get('money').valid  && _props.money.required">
            <div class="weui-cell__hd"><label class="weui-label">{{_props.money.title}}</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" formControlName="money" [placeholder]="_props.money.placeholder">
            </div>
            <div class="weui-cell__ft" *ngIf="!form.get('money').valid  && _props.money.required">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>

</div>

<white-space size="xs" *ngIf="_props.rule.show"></white-space>
<label class="weui-agree" *ngIf="_props.rule.show">
  <input type="checkbox" class="weui-agree__checkbox" checked>
  <span class="weui-agree__text">
      {{_props.rule.placeholder}}<a href="javascript:void(0);">《{{_props.rule.title}}》</a>
  </span>
</label>

<div class="js_dialog" *ngIf="showPriceDetail">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="table-container">
            <table class="table">
                <tr *ngFor="let item of form.get('juliJietiItems').value">
                    <td>({{item.start}}-{{item.end}})公里 = {{item.money}}元</td>
                </tr>
                <div *ngIf="_props.weight.show">
                    <tr *ngFor="let item of form.get('weightItems').value">
                        <td>({{item.start}}-{{item.end}})公斤 = {{item.money}}元</td>
                    </tr>
                </div>
                <tr *ngIf="form.get('timeAddItem').value['start']">
                    <td>{{form.get('timeAddItem').value['start']}}-{{form.get('timeAddItem').value['end']}} 加价 {{form.get('timeAddItem').value['price']}}元</td>
                </tr>
                <tr *ngFor="let it of priceSetting['tianqiItems']">
                    <td>{{it['title']}}</td>
                </tr>
                <tr *ngIf="_props.baojia.show">保价{{form.get('baojia').value['money']}}元,{{form.get('baojia').value['desc']}}</tr>
                <tr *ngIf="_props.money.show">
                    {{_props.money.title}} - {{form.get('money').value}}元
                </tr>
                <tr>
                    <td> {{routeLen}}公里,{{form.get('weight').value || 0}}公斤,总计: {{form.get('total').value}}元</td>
                </tr>
            </table>
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="openPriceRule()">我知道了</a>
        </div>
    </div>
</div>

<div class="design-icon" (click)="showRule()" *ngIf="util.edit && !showRuleSetting">
    表单
</div>
<core-forms-rule [code]="_code" *ngIf="showRuleSetting" (onSave)="onSaveRuleSetting()"></core-forms-rule>

<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>

<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>
<white-space></white-space>

<pay-order [isActive]="isValid && canPost" (onDetail)="openPriceRule()" [price]="form.get('total').value" [tip]="_props.priceStr" (onPay)="onPay()"></pay-order>


<core-address *ngIf="showAddressSelect" (onSelect)="onSelectAddress($event)"></core-address>
<div class="time-select" [class.show]="openTimeSelect && timeCtrl">
    <suyun-time-select (onInit)="onTimeInit($event)" (onSelect)="onTimeSelect($event)"></suyun-time-select>
</div>

<suyun-order-create *ngIf="createOrder" [post]="form.value" (onSuccess)="onPaySuccess($event)"></suyun-order-create>