<div class="Header">
  <div class="NormalHeader">
    <div class="header-cover-img" style="background-image: url(&quot;https://p.qpic.cn/qqconadmin/0/b9e6e7925a7d4fffaa05c02550216778/0&quot;);"></div>
    <div class="header-wrap">
      <div class="cover mask-gray"></div>
      <div class="info" id="js_bar_info">
        <div class="logo-container">
          <img class="logo" src="https://p.qpic.cn/qqconadmin/0/bd6deb3d4c6c4189a663223b89163ef3/0"></div>
        <div class="ordinary-logo-rank">
          <span class="name">游戏类</span>
          <span class="rank">No.40</span></div>
        <div class="name-info">
          <div class="labels">
            <span class="name">天天酷跑</span></div>
          <div class="info-num">
            <span>
              <label>话题</label>
              <span class="number">1330万</span></span>
            <span>
              <label>关注</label>
              <span class="number">4824万</span></span>
          </div>
        </div>
        <div class="GradeInfo">
          <div class="info-grade-wrap">
            <span class="l-level">LV.1 初级粉丝</span>
            <span class="l-inner-bar" style="width: 13.3333%;"></span>
          </div>
        </div>
        <div class="Operation single-button">
          <div>
            <a class="sign-btn btn">签到</a>
            <i class="downloadApp" style="float: right;"></i>
          </div>
        </div>
      </div>
      <div class="StarsInfo clearfix">
        <img class="stars-avator" src="https://p.qlogo.cn/stranger/MtiaQgQolm5rL7fdprlibxMFvymJv7U9bG/140">
        <img class="stars-avator" src="https://p.qlogo.cn/stranger/E04SQGn8v0NeRNicQdpyM3BNicQ44IlHGs/140">
        <img class="stars-avator" src="https://q.qlogo.cn/g?b=qq&amp;k=yMaLfZlk03xQk4Gt44LO6g&amp;s=100">
        <img class="stars-avator" src="https://q.qlogo.cn/g?b=qq&amp;k=Y9DqzkpMb77srdyYvV3BFA&amp;s=100">
        <img class="stars-avator" src="https://p.qlogo.cn/stranger/aDAyuPFAicIIRoibcVOgXojl1kVmFMFdBu/140">
        <img class="stars-avator" src="https://p.qlogo.cn/stranger/o4bicWd4xd2dTxUnXCPeumGmSBpv9KaD4/140">
        <span class="stars-type">达人&nbsp;&nbsp;&gt;</span>
      </div>
    </div>
  </div>
</div>
