<swiper-default hasPage="true" hasWater="true" height="auto">
  <div class="swiper-slide">
    <img src="http://img.chwlsq.com/1/config/1703192316307966183.png" alt="">
  </div>
</swiper-default>
<div class="h10"></div>

<div style="position:relative;" [class.minEdit]="util.edit">
  <bbs-gong-gao code="bbs.setting.index.gong.gao" [class.minEdit]="util.edit"></bbs-gong-gao>
</div>

<div class="h10"></div>

<feed-tab [items]="classes" (onItem)="onFeedTab($event)">
  <suyun-bbs-list [items]="items"></suyun-bbs-list>
</feed-tab>

<div class="js_dialog" *ngIf="showEdit">
  <div class="weui-mask"></div>
  <div class="weui-dialog" *ngIf="showList">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" (click)="onEdit(it,i)" *ngFor="let it of classes;index as i;">
        <div class="weui-cell__bd">
          <p>{{it.title}}</p>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="add()">添加</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="save()">保存</a>
    </div>
  </div>

  <div class="weui-dialog" *ngIf="!showList">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">标题</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" [(ngModel)]="showItem['title']" placeholder="请输入标题">
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancelEdit()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="delEdit()">删除</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="saveEdit()">保存</a>
    </div>
  </div>

</div>


<div class="h45"></div>
