<div class="header-component">
    <ul id="nav-operation-wrap" class="nav-operation-wrap">
        <li data-type="app-style">
            <i style="font-size: 22px;" class="icon-colorstyle icon-btn"></i>风格
            <ul class="style-palette">
                <li *ngFor="let color of themeColor" [ngStyle]="{'background-color': color}" (click)="selectThemeColor(color)"></li>
                <div class="style-color-control"><input id="select-style-color-control" type="text"></div>
                <div class="weixin-designruler">
                    <a href="https://mp.weixin.qq.com/debug/wxadoc/design/index.html" target="_blank">微信小程序设计规范>></a>
                </div>
            </ul>
        </li>
        <li (click)="turnToAppManager()"><i class="icon-config icon-btn"></i>管理</li>
        <li (click)="showTips()" class="help-btn"><i class="icon-help icon-btn"></i>帮助</li>
        <li *ngIf="false" class="help-btn"><a target="_blank" href="/index.php?r=pc/Webapp/exclusive"><i style="font-size: 24px;" class="icon-diamond icon-btn"></i>定制</a></li>
        <li *ngIf="!is_domain"><a target="_blank" href="http://www.v5kf.com/public/chat/chat?sid=146776&entry=5&ref=link"><i style="font-size: 24px;" class="icon-earphone icon-btn"></i>客服</a></li>
        <li data-type="history">
            <i class="icon-history icon-btn"></i>历史
            <div class="history-wrap" (scroll)="historyListScroll($event)">
                <ol class="history-container">
                    <li *ngFor="let item of historyData">
                        {{ item.add_time }}
                        <span class="operate-btn" (click)="recoverHistory(item)">恢复</span>
                        <span class="operate-btn" (click)="previewHistory(item)">预览</span>
                    </li>
                </ol>
            </div>
        </li>
    </ul>
</div>
<div class="header">
    <a (click)="previewApp()" id="preview-btn" class="preview-btn" target="_blank" href="{{'/index.php?r=pc/Webapp/preview&id='+appService.getAppId()+'&router='+appService.getCurrentPageRouter()}}">预览</a>
    <div (click)="clickSaveApp()" class="save-btn">保存</div>
    <a (click)="clickSaveApp()" class="publish-btn" target="_blank" href="{{'/index.php?r=pc/Webapp/appPublish&id='+appService.getAppId()}}"><i class="icon-publish icon-btn" style="display:inline-block;font-size:16px;margin-top:-2px;"></i>生成</a>
</div>
<help-tips></help-tips>