html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

.pull-left {
  float: left;
}

.clearFix:after {
  content: "";
  display: block;
  clear: both;
}

img {
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-family: HiraginoSansGB-W3\ \5FAE\8F6F\96C5\9ED1;
}

body {
  min-height: 100%;
  line-height: 1.5;
  color: #333;
  position: relative;
  background: #f2f2f2 top no-repeat;
  background-size: 100% auto;
}

.border-info {
  border: 1px dashed #2d2d2d;
  border-radius: 5px;
  background: #ffbe26;
  padding: .5rem;
}

.area {
  background: #fed201;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  .page_top {
    width: 100%;
    position: relative;
    padding-top: .5rem;
    .banner_img {
      width: 100%;
    }
    .ewm-info {
      position: absolute;
      top: 50%;
      height: 6.4rem;
      width: 6.4rem;
      left: 50%;
      margin-left: -2.9rem;
      margin-top: -3.8rem;
      background: #fff;
      text-align: center;
      .ewm_img {
        width: 90%;
        height: 90%;
        margin-top: 5%;
      }
    }
    .invite_code {
      position: absolute;
      top: 67%;
      text-align: center;
      color: #fe5d57;
      font-size: .6rem;
      width: 100%;
    }
  }
  .invite_btn {
    width: 100%;
    margin-top: 1.2rem;
    text-align: center;
    .invite_img {
      width: 65%;
    }
  }
  .my_reward {
    margin: 1.5rem 1rem;
    position: relative;
    .star-reward {
      position: absolute;
      width: .5rem;
      left: 1rem;
      top: 5.8rem;
    }
    .price_img {
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 50%;
      margin-top: -2.5rem;
      left: .5rem;
    }
    .text {
      margin: 0;
      padding-top: .5rem;
      margin-left: 4.5rem;
      font-weight: 700;
      color: #430505;
      font-size: .8rem;
      line-height: 1rem;
      .amount {
        font-size: 1rem;
        color: #fff;
      }
      .price-amount {
        font-size: 1.2rem;
        color: #ff0004;
      }
    }
    .information {
      margin-left: 4.5rem;
      color: #f4542c;
      font-size: .7rem;
      font-weight: 500;
    }
  }
  .page .page_div {
    .activity-rxplain {
      width: 40%;
      margin: 0 auto .5rem;
      .activity-img {
        width: 100%;
      }
    }
    .activity-explain {
      position: relative;
      margin: 0 1rem 1.3rem;
      .star-activity {
        width: .5rem;
        position: absolute;
        right: 1.5rem;
        top: 3.8rem;
      }
      .tips-activity {
        width: 1.5rem;
        position: absolute;
        top: -.8rem;
        right: 1rem;
      }
      ul {
        padding: .5rem;
      }
      li {
        list-style-type: disc;
        font-size: .7rem;
        color: #453a3a;
        padding-bottom: .5rem;
        &:last-child {
          padding: 0;
        }
      }
    }
    .page_bottom {
      margin: 0 1rem 1.3rem;
      padding: .5rem;
      position: relative;
      .star-user {
        position: absolute;
        top: -1rem;
        left: 0;
        width: .5rem;
      }
      .img-info .img-activity {
        width: 48.5%;
        display: inline-block;
        text-align: center;
        .img {
          width: 3.5rem;
          height: 3.5rem;
        }
        .text-info {
          font-size: .5rem;
          color: #ba6e00;
        }
      }
      .txt {
        font-size: .7rem;
        color: #2d2d2d;
        .amount {
          color: #fff;
        }
        .price {
          font-size: .9rem;
          color: #ff0004;
        }
      }
      .rext-info {
        font-size: .6rem;
        color: #ba6e00;
      }
    }
  }
  .footer-img {
    width: 100%;
    text-align: center;
    margin-bottom: .1rem;
    .footer {
      width: 70%;
    }
  }
}

.logout_show {
  width: 100%;
  .banner {
    width: 100%;
    padding: 2.5rem 3rem;
    img {
      width: 100%;
    }
  }
}
