<div class="area">
  <div class="logout_show">
    <div class="banner">
      <img [src]="config.loginout" alt="banner" class="banner_img">
    </div>
  </div>

  <div class="page user-reward ">
    <div class="page_div">
      <div class="activity-rxplain"><img [src]="config.activity" alt="btn" class="activity-img"></div>
      <div class="activity-explain border-info">
        <img [src]="config.tips" alt="banner" class="tips-activity">
        <img [src]="config.star" alt="banner" class="star-activity">
        <ul>
          <li class="clearFix txt">朋友扫码或点击邀请链接注册后，若成功下单并完成订单，则为推荐成功。</li>
          <li class="clearFix txt">现金奖励直接放入余额,无使用限制。</li>
        </ul>
      </div>

      <div class="activity-rxplain"><img [src]="config.myReward" alt="btn" class="activity-img"></div>
      <div class="page_bottom border-info">
        <img [src]="config.star" alt="banner" class="star-user">
        <div class="img-info">
          <div class="img-activity">
            <img [src]="config.amount" alt="btn" class="img">
            <p class="text-info">邀请好友人数</p>
          </div>
          <div class="img-activity">
            <img [src]="config.price" alt="btn" class="img">
            <p class="text-info">您的现金奖励</p>
          </div>
        </div>
        <dl>
          <dd class="clearFix txt">成功推荐<span class="amount">3</span>人,获得<span class="price">20元</span>现金奖励,</dd>
          <dd class="clearFix txt">成功推荐到<span class="amount">10</span>人,再次获得<span class="price">40元</span>现金奖励,</dd>
          <dd class="clearFix txt">成功推荐到<span class="amount">20</span>人,再次获得<span class="price">50元</span>现金奖励,</dd>
          <dd class="clearFix txt">成功推荐到<span class="amount">50</span>人,再次获得<span class="price">150元</span>现金奖励</dd>
          <dd class="clearFix txt">成功推荐到<span class="amount">150</span>人,再次获得<span class="price">300元</span>现金奖励,</dd>
          <dd class="clearFix txt">成功推荐到<span class="amount">200</span>人,再次获得<span class="price">300元</span>现金奖励,</dd>
          <dd class="clearFix rext-info">每增100人，在奖励600元，1000人封顶</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footer-img">
    <img [src]="config.botton" alt="btn" class="footer">
  </div>
</div>
