<div class="ibox">
    <div class="ibox-title">
        <h5>全部店铺</h5>
        <div class="ibox-form"></div>
        <div class="ibox-tools">
            <a href="javascript:;" class="btn btn-primary btn-xs" (click)="add()">添加</a>
            <a href="javascript:;" class="btn btn-success btn-xs" (click)="add()">导出</a>
            <a href="javascript:;" class="btn btn-danger btn-xs" (click)="add()">批量删除</a>
        </div>
    </div>
    <div class="ibox-content">
        <el-table [model]="list" [stripe]="true" [border]="true">
            <el-table-column label="id" width="80" model-key="id"></el-table-column>
            <el-table-column label="店长" width="180">
                <ng-template #slot let-scope="scope">
                    <img style="width: 2em;" *ngFor="let user of list[scope.index].shopers" [src]="user.avatar" alt="">
                    <a class="btn btn-primary btn-xs btn-outline">添加</a>
                </ng-template>
            </el-table-column>

            <el-table-column label="员工" width="180">
                <ng-template #slot let-scope="scope">
                    <img style="width: 2em;" *ngFor="let user of list[scope.index].employers" [src]="user.avatar" alt="">
                    <a class="btn btn-primary btn-xs btn-outline">添加</a>
                </ng-template>
            </el-table-column>

            <el-table-column label="前台" width="180">
                <ng-template #slot let-scope="scope">
                    <img style="width: 2em;" *ngFor="let user of list[scope.index].kefus" [src]="user.avatar" alt="">
                    <a class="btn btn-primary btn-xs btn-outline">添加</a>
                </ng-template>
            </el-table-column>
            <el-table-column model-key="title" label="店名" width="180"></el-table-column>
            <el-table-column label="地址" width="80">
                <ng-template #slot let-scope="scope">
                    <i class="fa fa-location-arrow text-danger"> </i>
                </ng-template>
            </el-table-column>
            <el-table-column label="操作">
                <ng-template #slot let-scope="scope">
                    <a href="javascript:;" class="btn btn-primary btn-xs" (click)="edit(scope.index)">编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs" (click)="delete(scope.index)">删除</a>
                </ng-template>
            </el-table-column>
        </el-table>
        <el-pagination [total]="40 " [layout]="[ 'prev', 'pager', 'next', 'jumper', 'size', 'total'] "></el-pagination>
    </div>
</div>