<div class="weui-grids">
  <a href="javascript:;" class="weui-grid" (click)="onItem(item)" *ngFor="let item of items">
    <div class="weui-grid__icon">
      <img [src]="item.icon" alt="">
    </div>
    <p class="weui-grid__label">{{item.title}}</p>
  </a>
</div>

<div *ngIf="showLoading">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-loading weui-icon_toast"></i>
    <p class="weui-toast__content">数据加载中</p>
  </div>
</div>

<div class="" *ngIf="showDetail">
  <div class="title">
    更新详情
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn fr" *ngIf="hasPay" (click)="download()">立即更新</a>
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn fr" (click)="pay()" *ngIf="!hasPay">去购买</a>
  </div>
  <div class="main">
    <div class="weui-msg">
      <div class="weui-msg__icon-area">
        <img [src]="activeItem.icon" alt="">
      </div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">当前版本: {{version}}</h2>
        <p class="weui-msg__desc">
          {{tip}}共 ({{files.length}})个
        </p>
      </div>
    </div>
    <p *ngFor="let file of files">
      {{file.path}}
    </p>
  </div>
</div>

