.weui-grid{
  width: 33.333%;
}
.weui-grids{
  background: #fff;
}

.title{
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #666;
  padding: 0px 15px;
  background: #eee;
  font-weight: normal;
}

.main{
  padding: 0 20px;
  background: #fff;
}

.weui-btn_warn{
  margin-top: 5px;
}

.weui-msg{
  padding-bottom: 30px;
}

.weui-msg__icon-area{
  img{
    width: 50%;
  }
}