<div class="van-dialog-wrapper">
  <div class="van-dialog">
    <div class="van-dialog__header">
      <div class="van-dialog__title">alert标题</div></div>
    <div class="van-dialog__content">
      <div class="van-dialog__message">弹窗提示文字，左右始终距离边20PX，上下距离20PX，文字左对齐。弹窗提示文字，左右始终距离边20PX，上下距离20PX，文字左对齐。</div></div>
    <div class="van-dialog__footer">
      <button class="van-dialog__btn van-dialog__cancel" style="display: none;">取消</button>
      <button class="van-dialog__btn van-dialog__confirm">确定</button></div>
  </div>
</div>
