<div class="ibox-content">
    <nav-tabs>
        <nav-tab-pane title="门店">
            <ng-template navTabPaneRef>
                <shops-tags-data-select></shops-tags-data-select>
            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="商品">
            <ng-template *navTabPaneRef>

            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="预约">
            <ng-template *navTabPaneRef>

            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="任务">
            <ng-template *navTabPaneRef>

            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="技能">
            <ng-template *navTabPaneRef>

            </ng-template>
        </nav-tab-pane>
    </nav-tabs>
</div>