<div class="ibox-content">
    <nav-tabs>
        <nav-tab-pane title="门店">
            <ng-template navTabPaneRef>
                <shops-group-data-select></shops-group-data-select>
            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="商品">
            <ng-template navTabPaneRef>
                <goods-group-data-select></goods-group-data-select>
            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="工单">
            <ng-template navTabPaneRef>
                <orders-group-data-select></orders-group-data-select>
            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="任务">
            <ng-template navTabPaneRef>
                <tasks-group-data-select></tasks-group-data-select>
            </ng-template>
        </nav-tab-pane>
        <nav-tab-pane title="技能">
            <ng-template navTabPaneRef>
                <skills-group-data-select></skills-group-data-select>
            </ng-template>
        </nav-tab-pane>
    </nav-tabs>
</div>