<h2 class="title">
    主题设置
</h2>
<div class="ibox-content">
    <form-field>
        <span>背景颜色</span>
        <input type="color" [(ngModel)]="widget.styleObj['background-color']" meepoInput>
    </form-field>
    <form-field>
        <span>字体颜色</span>
        <input type="color" [(ngModel)]="widget.styleObj['color']" meepoInput>
    </form-field>
</div>

<h2 class="title">标题设置</h2>

<div class="ibox-content">
    <form-field>
        <input type="text" [(ngModel)]="widget.content" meepoInput class="form-control" placeholder="请输入显示标题">
    </form-field>
</div>


<h2 class="title">
    左边菜单
</h2>

<div class="ibox-content">

</div>

<h2 class="title">
    右边菜单
</h2>

<div class="ibox-content">

</div>