@import './assets/style.css';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/material-font.woff") format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body,
admin-root,
routers-page,
nz-layout,
setting-page {
    height: 100%;
    width: 100%;
    display: block;
}