<div class="field">
  <a href="javascript:;">
    <div class="avatar">
      <span class="avatar-brand" *ngIf="detail.ishot">品牌</span>
      <img [src]="detail.image" class="j-poi-pic avatar-img"></div>
  </a>
  <div class="content">
    <a href="javascript:;">
      <div class="shop-title shop-title-icon-0">
        <div class="shop-na">{{detail.title}}</div>
      </div>
      <div class="shop-mid-line clearfix">
        <div class="appr-status">
          <i class="appr-score"></i>
          <i class="appr-score"></i>
          <i class="appr-score"></i>
          <i class="appr-score"></i>
          <i class="appr-score"></i>
        </div>
        <div class="shop-sold">{{detail.tag}}</div>
        <i class="shop-right">{{detail.duration}}</i>
        <i class="shop-dvd-line">|</i>
        <i class="shop-delivery-time">{{detail.duration_time}}</i>
      </div>
      <div class="shop-line clearfix">
        <span class="shop-line-item">
          {{detail.desc}}
        </span>
        <div class="allocation-icon">
          <span>{{detail.private}}</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="j-shop-discount-entries clearfix shop-discount-entries" *ngIf="hasTicket">
        <ul class="shop-discount-entry-wrap-overflow clearfix">
          <li class="shop-discount-entry clearfix" *ngFor="let ticket of tickets">
            <i class="i-x12">
              <img class="i-x12 bugimg" [src]="ticket.image">
            </i>
            <p class="shop-discount-entry-desc shop-discount-overflow">{{ticket.title}}</p>
          </li>
        </ul>
      </div>
    </a>
  </div>
</div>
