<div class="meepo-list" [ngStyle]="widget.containerStyle">
    <!-- 展示样式 -->
    <ul [class]="widget.model">
        <li class="meepo-list-item" *ngFor="let item of widget.children" [ngStyle]="widget.styleObj">
            <div class="inner-content">
                <img class="meepo-list-image" src="{{item.avatar || './assets/img/a1.jpg'}}" alt="">
                <div class="title-container">
                    <p class="title">
                        {{item.title}}
                    </p>
                    <div class="seckill-list-bottom">
                        <div>
                            <span class="price">${{item.money}}</span>
                        </div>
                        <div>
                            <div class="seckill-progress-wrap">
                                <span class="order-tag" *ngFor="let tag of item.tag">{{tag.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>