.layim-chat-system {
  min-height: 0;
  margin: 20px 0 5px;
  padding: 0;
  osition: relative;
  font-size: 0;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  span {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #ddd;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
}
