.group-page-container {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 59px;
    line-height: 42px;
    text-indent: 28px;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.group-page-nav {
    .group-nav {
        position: relative;
        background-color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #d6d6d6;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            left: 11px;
            top: 16px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 8px solid #666;
            transition: all linear .3s;
        }
    }
    &.active .group-nav {
        box-shadow: 0 0 7px #C7C5C5;
        border-bottom: none;
        &:before {
            transform: rotateZ(90deg);
            -webkit-transform: rotateZ(90deg);
            -moz-transform: rotateZ(90deg);
            -ms-transform: rotateZ(90deg);
        }
    }
    .page-navs {
        display: none;
    }
    .add-page-tip {
        display: none;
        height: 30px;
        width: 90%;
        border: 1px dashed #666;
        margin: 10px auto;
        line-height: 30px;
        text-align: center;
        text-indent: 0;
        border-radius: 5px;
        cursor: pointer;
        color: #8A9294;
    }
    &.active {
        .page-navs {
            display: block;
            min-height: 15px;
        }
        .add-page-tip {
            display: block;
        }
    }
    .add-page-tip:hover {
        background: #EFBF1F;
        border-color: #FFFFFF;
        color: #FFF;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .page-navs {
        .page-nav {
            position: relative;
            text-indent: 25px;
            border-bottom: 1px solid #d3d3d3;
            width: 298px;
        }
        .active {
            border: 1px solid #efbf1f;
            background: #fff;
            z-index: 2;
        }
        li:hover {
            background-color: #fff;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            /* Firefox 4 */
            -webkit-transition: all 0.3s;
            /* Safari 和 Chrome */
            -o-transition: all 0.3s;
            /* Opera */
        }
    }
    .js-page-name {
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        text-indent: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }
}

.new-page-wrap {
    position: absolute;
    bottom: 0;
    width: 300px;
    padding: 12px 0;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    span {
        display: inline-block;
        width: 40%;
        margin: 0 10px;
        cursor: pointer;
        letter-spacing: normal;
        border-radius: 4px;
        background-color: #efbf1f;
        &:hover {
            background-color: #efbf1f;
            background: #eaad00;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}