.catalog-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    .group-nav {
        line-height: 44px;
        height: 44px;
    }
    li {
        padding: 0 20px;
    }
    .group-nav {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        // border-bottom: 1px solid #ccc;
        &.active {
            border-bottom: 1px solid #19b394;
        }
        &:hover {
            .right_opts {
                display: flex;
            }
        }
        span {
            i {
                display: inline-block;
                width: 32px;
                font-size: 14px;
            }
        }
    }
}

.new-page-wrap {
    position: absolute;
    bottom: 0;
    width: 300px;
    padding: 12px 0;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right_opts {
    display: none;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    padding-right: 30px;
    .icon-container {
        display: inline-block;
        padding: 10px 5px;
        &:hover {
            border-radius: 5px;
            cursor: pointer;
            transform: scale(1.3, 1.3);
        }
    }
    span {
        float: right;
    }
}

.page-navs {
    display: block;
    min-height: 15px;
    .active {
        border: 1px solid #efbf1f;
        background: #fff;
        z-index: 2;
    }
}

.group-page-nav {}