.tab-content {
    position: relative;
    height: calc( 100% - 80px);
}

.nav-tabs>li>a {
    padding: 10px 10px 10px 10px;
}

.nav-border {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    li.active {
        border-bottom: 4px solid #19aa8d !important;
        border-left: none;
        background: #fff;
        color: gray;
    }
    li.active>a {
        color: #000;
    }
    li>a {
        padding: 10px 10px 10px 10px;
    }
    li.active {
        border-bottom: 1px solid #ccc;
    }
}