:host {
    display: flex;
    width: 100%;
    min-height: 44px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: #ccc;
    }
    &:hover {
        border: 2px dashed #00a0e9;
        cursor: move;
    }
}

.footer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding: 5px 0px 0px 0px;
    &:hover {
        transform: scale(1.1, 1.1);
    }
}