header {
  color: #666;
  font-size: 22px;
  text-align: center;
  line-height: 1;
  margin: 0 0 5px;
  font-weight: 400;
}

section {
  color: #adadad;
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  padding-top: 30px;
}

