.content {
  position: relative;
  margin-top: 44px;
  height: 280px;
  .large {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f4e3cd;
    -webkit-animation-name: largeAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
  }
  .middle {
    position: absolute;
    width: 120px;
    top: 60px;
    left: 50%;
    margin-left: -60px;
    height: 120px;
    border-radius: 50%;
    background-color: #fad099;
    -webkit-animation-name: middleAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
  }
  .small {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fd8926;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    p {
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 26px;
      span {
        font-size: 27px;
        padding-top: 10px;
      }
    }
  }
}



@-moz-keyframes middleAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.63);
  }
}


@-webkit-keyframes middleAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.63);
  }
}


@-o-keyframes middleAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.63);
  }
}


@keyframes middleAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.63);
  }
}


@-moz-keyframes largeAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.21);
  }
}


@-webkit-keyframes largeAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.21);
  }
}


@-o-keyframes largeAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.21);
  }
}


@keyframes largeAnimation {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.21);
  }
}

.example-header-image {
  background-size: cover;
}

md-card-actions{
  text-align: right;
}

.example-card{
  background-color:rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
  margin: 0 10px;
  .card-progress{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    background-color:#ff7500;
    z-index:-1;
    width: 10%;
  }
}
