
<div class="content">
  <div class="large"></div>
  <div class="middle"></div>
  <div class="small">
    <p>
      听单中 <br>
      <span>{{timer}}s</span>
    </p>
  </div>
</div>

<swiper-default height="auto">
  <div class="swiper-slide">
    <md-card class="example-card">
      <div class="card-progress"></div>
      <md-card-header>
        <div md-card-avatar class="example-header-image" [style.background-image]="'url(https://timg01.bdimg.com/timg?img&sec=1487606400&di=9193956066fc85257536346acd7654ce&wh_rate=0&quality=100&size=b240_240&src=http://pic.qingting.fm/2015/1119/20151119154415284.jpg!small)'"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
        <span>需要10人</span>
      </md-card-header>
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
    </md-card>
  </div>
</swiper-default>
