<swiper-default height="auto">
  <div class="swiper-slide" *ngFor="let item2s of navs">
    <div class="floor box-enter" >
      <div class="floor-item">
        <div class="position-r">
          <div class="container-bg quick-nav-box"></div>
          <nav class="quick-entry-nav position-ab hasBgImg quick-nav-five ">
            <a class="quick-entry-link fz12 J_ping" href="javascript:;"  [class.hide]="!item['active']"  (click)="onClick(item)" *ngFor="let item of item2s">
              <span class="quick-box">
                <img width="45" height="45" [src]="item?.icon">
                <span style="color:#000000">{{item?.title}}</span>
              </span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</swiper-default>
<ng-content></ng-content>
