* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

free-widget-view {
    display: block;
    position: relative;
}

@import "./text-color";
@import "./css/font-awesome.css";
@import "../../meepo-common.scss";
@import "../styles/iconfont.scss";
@import "./hover/hover.scss";
@import "../design/components/meepo-ui/meepo-advs/meepo-advs-view/meepo-advs-view.scss";
@import "../design/components/meepo-ui/meepo-swiper-tags/meepo-swiper-tags-view/meepo-swiper-tags-view.scss";
@import "../design/components/meepo-ui/meepo-filter/meepo-filter-view/meepo-filter-view.scss";
@import "../design/components/meepo-ui/meepo-list/meepo-list-view/meepo-list-view.scss";
@import "../design/components/meepo-ui/meepo-tasks/meepo-tasks-view/meepo-tasks-view.scss";
@import "../design/components/meepo-ui/meepo-marquee/meepo-marquee-view/meepo-marquee-view.scss";
@import "../design/components/meepo-ui/meepo-title/meepo-title-view/meepo-title-view.scss";
@import "../design/components/layouts/layout-footer/layout-footer-view/layout-footer-view.scss";
@import "../design/components/layouts/layout-header/layout-header-view/layout-header-view.scss";
@import "../design/components/layouts/layout-body/layout-body-view/layout-body-view.scss";
@import "../design/components/forms/meepo-form-order/meepo-form-order-view/meepo-form-order-view.scss";
@import "../design/components/forms/meepo-form-tag/meepo-form-tag-view/meepo-form-tag-view.scss";
@import "../design/components/uupao/uu-home-header/uu-home-header-view/uu-home-header-view.scss";
@import "../design/components/uupao/uu-home-item/uu-home-item-view/uu-home-item-view.scss";
@import "../design/components/uupao/uu-item-box/uu-item-box-view/uu-item-box-view.scss";
@import "../design/components/uupao/uu-swiper/uu-swiper-view/uu-swiper-view.scss";
@import "../design/components/uupao/uu-header/uu-header-view/uu-header-view.scss";
@import "../design/components/uupao/uu-benefit/uu-benefit-view/uu-benefit-view.scss";
// money
@import "../design/components/payui/pay-select-money/pay-select-money-view/pay-select-money-view.scss";
//
// @import "./zanui.css";
@import "../design/components/zan-ui/zan-search/zan-search-view/zan-search-view.scss";
// list
@import "../design/components/jd/jd-home-header/jd-home-header-view/jd-home-header-view.scss";
@import "../design/components/jd/jd-home-list/jd-home-list-view/jd-home-list-view.scss";
@import "../design/components/jd/jd-home-money/jd-home-money-view/jd-home-money-view.scss";
@import "../design/components/jd/jd-home-order/jd-home-order-view/jd-home-order-view.scss";
// hdb
@import "../design/components/hdb/hdb-channel/hdb-channel-view/hdb-channel-view.scss";
@import "../design/components/heimao/hm-marquee/hm-marquee-view/hm-marquee-view.scss";
//im
@import "../design/components/im/im-message/im-message-view/im-message-view.scss";
@import "../components/im-message-content/im-message-content.scss";

@import "../design/components/im/im-footer/im-footer-view/im-footer-view.scss";