<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>添加商品</h5>
                <div class="ibox-tools">
                    <button class="btn btn-default btn-xs" (click)="cancel()">X</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <label>所属店铺</label>
                    <select class="form-control" [(ngModel)]="form.shop_id">
                        <option *ngFor="let shop of shops" [attr.value]="shop.id">{{shop.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>商品分类</label>
                    <multi-select (onSelect)="onSelectGroup($event)" [list]="goodGroups"></multi-select>
                </div>
                <div class="form-group">
                    <label>商品标签</label>
                    <tag-select (onSelect)="onSelectTag($event)" [list]="goodTags"></tag-select>
                </div>
                <div class="form-group">
                    <label>商品名</label>
                    <input type="text" [(ngModel)]="form.title" class="form-control" placeholder="商品名">
                </div>
                <div class="form-group">
                    <label>商品简介</label>
                    <textarea rows="3" [(ngModel)]="form.desc" class="form-control" placeholder="商品简介"></textarea>
                </div>
                <div class="form-group">
                    <label>商品库存</label>
                    <input type="number" [(ngModel)]="form.count" class="form-control" placeholder="库存数量">
                </div>
                <div class="form-group">
                    <label>商品价格</label>
                    <input type="number" [(ngModel)]="form.price" class="form-control" placeholder="库存价格">
                </div>
                <div class="form-group">
                    <label>商品图片</label>
                    <img *ngFor="let thumb of form.thumbs" [src]="thumb" style="height: 4em;margin: 5px;" />
                    <a class="btn btn-primary btn-outline" uploader (uploaderChange)="addImage($event)">+</a>
                </div>
                <div class="form-group">
                    <label>商品详情</label>
                    <editor (onInit)="onInitEditor($event)">
                        <div [innerHtml]="form.content"></div>
                    </editor>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" (click)="save()">保存</a>
                    <a class="btn btn-default" (click)="cancel()">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>