@import '../../../scss/mixins';
$defaultIconSize: 44px;
$smallIconSize: 36px;

.am-steps {
  font-size: 0;
  width: 100%;
  line-height: $line-height-paragraph;

  .am-steps-item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &.am-steps-status-wait {
      .am-steps-head-inner {
        border-color: $color-text-placeholder;
        background-color: $fill-base;

        > .am-steps-icon {
          color: $color-text-placeholder;
        }
      }

      .am-steps-title {
        color: $color-text-base;
      }

      .am-steps-description {
        color: $color-text-placeholder;
      }

      .am-steps-tail > i {
        background-color: $color-text-placeholder;
      }
    }

    &.am-steps-status-process {
      .am-steps-head-inner {
        border-color: $brand-primary;
        background-color: $brand-primary;
        width: 44px;
        height: 44px;
        border-radius: $radius-circle;
        border: 0;

        > .am-steps-icon {
          color: $color-text-base-inverse;
        }
      }

      .am-steps-title {
        color: $color-text-base;
      }

      .am-steps-description {
        color: $color-text-placeholder;
      }

      .am-steps-tail > i {
        background-color: $brand-primary;
        width: 50%;
      }
    }

    &.am-steps-status-finish {
      .am-steps-head-inner {
        border-color: $brand-primary;
        background-color: $fill-base;

        > .am-steps-icon {
          color: $brand-primary;
        }
      }

      .am-steps-tail > i {
        background-color: $brand-primary;
      }

      .am-steps-title {
        color: $color-text-base;
      }

      .am-steps-description {
        color: $color-text-placeholder;
      }
    }

    &.am-steps-status-error {
      .am-steps-head-inner {
        border-color: $brand-error;
        background-color: $fill-base;

        > .am-steps-icon {
          color: $brand-error;
        }
      }

      .am-steps-title {
        color: $color-text-base;
      }

      .am-steps-description {
        color: $color-text-placeholder;
      }

      .am-steps-tail > i {
        background-color: $border-color-base;
      }
    }

    &.am-steps-next-error {
      .am-steps-tail > i,
      .am-steps-tail > i:after {
        background-color: $brand-error;
      }
    }

    &.am-steps-custom {
      .am-steps-head-inner {
        background: none;
        border: 0;
        width: auto;
        height: auto;

        > .am-steps-icon {
          display: block;
          font-size: $defaultIconSize;
          width: $defaultIconSize;
          height: $defaultIconSize;
          background-color: $fill-base;
          border-radius: $radius-circle;
        }
      }

      &.am-steps-status-process {
        .am-steps-head-inner > .am-steps-icon {
          color: $brand-primary;
        }
      }
    }

    .ellipsis-item.am-steps-status-wait.am-steps-custom {
      .am-steps-head-inner {
        > .am-steps-icon {
          font-size: $font-size-subhead;
          line-height: 40px;
          width: 40px;
          height: 40px;
          border: 4px solid $color-text-placeholder;
          border-radius: $radius-circle;

          .am-icon {
            width: 36px;
            height: 36px;
          }
        }
      }
    }

    &.error-tail .am-steps-tail {
      background-color: $brand-error;
    }
  }

  .am-steps-head,
  .am-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .am-steps-head-inner {
    display: block;
    box-sizing: border-box;
    border: 4px solid $color-text-placeholder;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 48px;
    font-size: 28px;
    margin-right: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    > .am-steps-icon {
      line-height: $line-height-base;
      top: -1.5px;
      color: $brand-primary;
      position: relative;
    }
  }

  .am-steps-title {
    font-size: $font-size-caption;
    margin-bottom: 4px;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
  }

  .am-steps-item:last-child {
    .am-steps-title {
      padding-right: 0;
    }

    .am-steps-tail {
      display: none;
    }
  }

  .am-steps-description {
    font-size: $font-size-subhead;
  }

  .am-steps-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 20px;

    > i {
      display: inline-block;
      vertical-align: top;
      background: $border-color-base;
      height: 4px;
      width: 100%;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        width: 0;
        background: $border-color-base;
        height: 100%;
        opacity: 0;
      }
    }
  }

  &.am-steps-small {
    .am-steps-main {
      margin-top: 0;
    }

    .am-steps-title {
      font-size: $font-size-caption;
      color: $color-text-base;
    }

    .am-steps-description {
      font-size: $font-size-caption-sm;
      color: $color-text-placeholder;
    }

    .am-steps-tail {
      padding: 0 8px;

      > i {
        height: 1px;
        border-radius: 1px;
        width: 100%;
      }
    }
  }

  &.am-steps-small .am-steps-item.am-steps-custom .am-steps-head-inner,
  .am-steps-item.am-steps-status-error .am-steps-head-inner,
  .am-steps-item.am-steps-custom .am-steps-head-inner {
    width: inherit;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    border: 0;
    background: none;
  }

  &.am-steps-small .am-steps-item.am-steps-custom .am-steps-head-inner {
    > .am-steps-icon {
      font-size: $smallIconSize;
      width: $smallIconSize;
      height: $smallIconSize;
      background-color: $fill-base;

      .am-icon {
        width: 36px;
        height: 36px;
      }
    }
  }

  &.am-steps-small .ellipsis-item.am-steps-item.am-steps-status-wait.am-steps-custom .am-steps-head-inner {
    > .am-steps-icon {
      .am-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &.am-steps-small .am-steps-item.am-steps-status-wait.am-steps-custom .am-steps-head-inner {
    > .am-steps-icon {
      font-size: 20px;
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
  }

  &.am-steps-small .am-steps-item.am-steps-status-process .am-steps-head-inner {
    box-sizing: border-box;
    width: $smallIconSize;
    height: $smallIconSize;
    line-height: $smallIconSize;
    border-radius: $radius-circle;
  }
}

.am-steps-vertical {
  .am-steps-item {
    display: block;
  }

  .am-steps-tail {
    position: absolute;
    left: 22px;
    height: 100%;
    width: 4px;
    padding: 0;
    background-color: $border-color-base;

    > i {
      height: 100%;
      width: 4px;

      &:after {
        height: 0;
        width: 100%;
      }
    }
  }

  .am-steps-status-finish {
    .am-steps-tail > i:after {
      height: 100%;
    }
  }

  .am-steps-head {
    float: left;

    .am-steps-inner {
      margin-right: $h-spacing-lg;
    }
  }

  .am-steps-main {
    min-height: 90px;
    overflow: hidden;
    display: block;
    .am-steps-description {
      padding-bottom: $v-spacing-md;
    }
  }

  .am-steps-item.am-steps-status-process .am-steps-tail > i {
    width: 4px;
    height: 55%;
  }
}

.am-steps-vertical.am-steps-small {
  .am-steps-tail {
    position: absolute;
    left: 16px;
    padding: 0;
    width: 2px;

    > i {
      height: 100%;
    }
  }

  .am-steps-item.am-steps-status-process .am-steps-tail > i {
    height: 50%;
    width: 2px;
  }

  .am-steps-item .am-steps-head-inner {
    margin-right: $h-spacing-md;
  }
}

.am-steps-horizontal {
  &.am-steps-hidden {
    visibility: hidden;
  }

  .am-steps-description {
    max-width: 150px;
  }

  &.am-steps-small .am-steps-tail {
    top: 16px;
  }
}

.am-steps-label-vertical {
  .am-steps-tail {
    left: 60px;
    right: 0;
    width: auto;
    background-color: $border-color-base;
  }

  .am-steps-item {
    .am-steps-step {
      display: inline-block;
      text-align: center;
    }
  }

  .am-steps-item:not(:first-child) .am-steps-head {
    margin-left: 0;
    padding-left: 0;
  }

  .am-steps-head {
    display: inline-block;

    .am-steps-inner {
      margin: 0 auto;
    }
  }

  .am-steps-main {
    display: block;
    margin-top: $v-spacing-sm;

    .am-steps-title {
      padding-right: 0;
    }

    .am-steps-description {
      text-align: left;
    }
  }
}
