<div class="head-img">
  <div class="my-id-pic">
    <img [src]="bgImg">
  </div>
  <a id="userimage" href="javascript:;">
    <div class="my-info cf">
      <div class="my-img-wrap">
        <span class="my-img">
          <img src="{{info.avatar}}"></span>
      </div>
      <div class="my-person-info">
        <p class="my-jd-head-name">{{info.nickname}} </p>
        <p class="my-jd-head-moible">{{info.mobile}}</p>
        <div class="my-jd-head-member">
          <span class="my-jd-head-type">{{info.tag}}</span>
          <div class="my-jd-head-plus">
            <span class="plus-icon-wrap">
              <img class="plus-icon" src="//m.360buyimg.com/mobilecms/jfs/t3835/278/642907156/1552/a6f2d3b2/58173a43Nc71052cf.png">
            </span>
            <span class="plus-icon-text" (click)="check()">{{info.desc}}</span>
            <span class="info-hint"></span>
          </div>
        </div>
      </div>
      <div class="head-meassage" (click)="onAccount()">
        <span class="head-meassage-name">账户管理</span>
        <span class="info-hint"></span>
      </div>
    </div>
  </a>
  <ul class="my-watch cf">
    <a href="javascript:;" *ngFor="let item of items" [routerLink]="item['link']">
      <li>
        <span class="watch-goods">
          <em class="watch-re">{{item['num']}}</em>
        </span>
        <span class="watch-shop">{{item['title']}}</span>
      </li>
    </a>
  </ul>
</div>