.shop-nav {
  position: fixed;
  bottom: -2px;
  left: 0px;
  width: 100%;
  z-index: 999;
  height: 50px;
  background: #fff;
  a {
    display: block;
    float: left;
    color: #666;
    text-align: center;
    height: 50px;
    font-size: 12px;
    border-top: 1px solid #eee;
  }
  .attention-shop {
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid #ececec;
    span {
      line-height: 0;
      display: block;
    }
    i {
      font-size: 20px;
      line-height: 36px;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      display: inline-block;
      margin-bottom: -7px;
    }
  }
  .make-a-call {
    width: 25%;
    box-sizing: border-box;
    i {
      font-size: 20px;
      line-height: 36px;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      display: inline-block;
      margin-bottom: -7px;
    }
  }
  .buy-btn {
    width: 50%;
    box-flex: 1;
    -webkit-box-flex: 1;
    color: #fff;
    background-color: #ff6600;
    font-size: 18px;
    line-height: 50px;
    border: none;
  }
}
