<suyun-shop-header [detail]="info"></suyun-shop-header>

<!--<div>-->
  <!--<a href="javascript:;">-->
    <!--<div class="shop-integrity-con">-->
      <!--<div class="integrity-icon">-->
        <!--<img src="http://m.zbjimg.com/j-mobile/output/static/image/page/shop/chengxin-icon_08099d0a.png"></div>-->
      <!--<div class="integrity-text">-->
        <!--<div class="text-dec">已缴纳保证金-->
          <!--<span>¥10000.00</span>,承诺交易出问题先行赔付</div>-->
        <!--<div class="text-icon">-->
          <!--<span class="dot">·</span>-->
          <!--<span>保证完成</span>-->
          <!--<span class="dot">·</span>-->
          <!--<span>保证原创</span>-->
          <!--<span class="dot">·</span>-->
          <!--<span>保证推广效果</span></div>-->
      <!--</div>-->
      <!--<div class="next-icon">-->
        <!--<img src="http://m.zbjimg.com/j-mobile/output/static/image/page/shop/chengxin-back_a2ef15bd.png"></div>-->
    <!--</div>-->
  <!--</a>-->
<!--</div>-->

<!--<div class="haopinlv">-->
  <!--好评率<span class="rate">99.36%</span>-->
  <!--<span class="employer-evaluation">1364位雇主评价<i class="iconfont icon-right-arrow"></i></span>-->
<!--</div>-->

<suyun-shop-goods-item [items]="info.services" [id]="id" [hasAdd]="openid == info.openid"></suyun-shop-goods-item>

<suyun-coach-footer></suyun-coach-footer>
