.modal {
    &.show {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(169, 169, 169, 0.4);
    }
}

.p10 {
    padding: 10px;
}

.btn-block {
    width: 100%;
    margin-bottom: 10px;
}