:host {
    max-height: 500px;
    display: block;
    width: 650px;
    overflow: auto;
}

.page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    .page-item {
        line-height: 2em;
        margin: 5px 10px;
        cursor: pointer;
        &:hover {
            background: #ccc;
        }
    }
}

.app-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    .app-item {
        cursor: pointer;
        padding: 0px 5px;
        margin-top: 5px;
        margin: 5px;
        line-height: 44px;
    }
}