<div class="weui-wepay-code-wrap">
<div class="weui-wepay-code weui-wepay-code_logo">
  <div class="weui-wepay-code__bd">
    <p class="weui-wepay-code__logo">
      <img [src]="_props.logo" alt="" width="190" height="48;">
    </p>
    <div class="weui-wepay-code__main">
      <div class="weui-wepay-code__img">
        <img [src]="_props.code" alt="" width="130" height="130">
      </div>
      <h2 class="weui-wepay-code__subtitle">{{_props.tip}}</h2>
    </div>
  </div>
  <div class="weui-wepay-code__ft">
    <div class="weui-wepay-code__business">
      <!--<div class="weui-wepay-code__business-logo">-->
        <!--<img src="assets/wepayui/img/logo_servives.jpg" alt="" width="200" height="28">-->
      <!--</div>-->
      <p class="weui-wepay-code__business-info">{{_props.footer}}</p>
    </div>
  </div>
</div>
</div>