<suyun-top-nav [items]="topNavs" (onItem)="onNav($event)"></suyun-top-nav>
<suyun-address-add [hasMember]="hasMember" *ngIf="show.add" (onSave)="onSave($event)"></suyun-address-add>

<div class="scroll" *ngIf="!show.add">
    <div class="scroll-content">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;" (click)="select(item)" *ngFor="let item of items">
                <div class="weui-cell__bd">
                    <p>{{item.poiname}}</p>
                    <p>{{item.detail}}</p>
                    <p *ngIf="hasMember">{{item.realname}} {{item.mobile}}</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        </div>
    </div>
</div>