.layim-chat-footer {
    position: absolute;
    height: 44px;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #ccc;
    .floor-container {
        overflow-x: hidden;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
        -webkit-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
        -moz-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
    }
    .layim-chat-send {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        a {
            line-height: 30px;
            margin: 5px 0px;
            padding: 0px 5px;
            background: #fff;
            color: #000;
            border-right: 1px solid #ccc;
        }
        input {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            height: 44px;
            padding-left: 10px;
            border: 0;
            background-color: #fff;
            border-radius: 0px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            font-size: .9em;
        }
        button {
            border-radius: 0px;
            height: 44px;
            padding: 0 20px;
            border: 0;
            margin-left: 2px;
            background-color: #5FB878;
            color: #fff;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            &.layui-disabled {
                background-color: #d2d2d2!important;
                color: #fff!important;
                cursor: not-allowed!important;
            }
        }
    }
}

.weui-grid {
    padding: 8px 5px;
    .weui-grid__icon {
        width: 20px;
        height: 20px;
    }
    .weui-grid__label {
        font-size: .7em;
    }
}