<div class="feed-view recommend-view-feed">

  <div class="feed-tab ch-sticky feed-sticky ch-scroll-tab-wrapper ch-tab-border-bottom">
    <div class="ch-scroller variant-no-scrollbar-x ch-scroll-tab" style="height: 44px; width: 100%; overflow-x: auto; overflow-y: hidden;">
      <div class="ch-scroller-body">
        <div class="ch-tab-item" (click)="_onClick(item)" [class.state-selected]="item.active" *ngFor="let item of navs">{{item.title}}</div>
        <suyun-edit-btn (onEditer)="onEditer()"></suyun-edit-btn>
      </div>
    </div>
    <div class="ch-scroll-tab-mask"></div>
  </div>
  <div class="ch-scroller-out ch-root-scroller">
    <div class="ch-scroller-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>


<div class="js_dialog" *ngIf="showEditer">
  <div class="weui-mask"></div>
  <div class="weui-dialog" *ngIf="showList">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" (click)="doEdit(item,i)" href="javascript:;" *ngFor="let item of navs;index as i;">
        <div class="weui-cell__bd">
          <p>{{item.title}}</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="add()">添加</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="save()">保存</a>
    </div>
  </div>

  <div class="weui-dialog" *ngIf="!showList">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">标题</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" [(ngModel)]="editItem['title']" placeholder="请输入标题">
        </div>
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancelEdit()">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="delEdit()">删除</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="defaultEdit()">默认</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="saveEdit()">保存</a>
    </div>
  </div>
</div>