<div class="weui-flex">
    <div class="weui-flex__item bdr-1px">
        <div class="placeholder">
            会员: {{totalMemberNum}}人
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">
            跑腿:{{totalRunnerNum}}人
        </div>
    </div>
</div>
<core-scroll top="56px">
    <im-item [items]="items" (onItem)="onItem($event)"></im-item>
    <div class="h65"></div>
    <suyun-geolocation *ngIf="showLocation" (onLocation)="onLocation($event)"></suyun-geolocation>
</core-scroll>