<div class="floor bottom-bar-pannel">
    <div class="floor-container bdr-top ">
        <ul class="tab5">
            <li *ngFor="let item of _items" [style.width.%]="100/_items.length">
                <a href="javascript:;" *ngIf="!item.active" [routerLink]="item.link" routerLinkActive="active">
                    <alion [base]="base" [name]="item.icon" size="20px"></alion>
                    <p>{{item.title}}</p>
                </a>
                <a href="javascript:;" *ngIf="item.active" (click)="onClick(item)">
                    <alion [name]="item.icon" size="20px"></alion>
                    <p>{{item.title}}</p>
                </a>
            </li>
        </ul>
        <ng-content></ng-content>
    </div>
</div>