.main{
  padding: 0px;
  margin: 0px;
}
.m0{
  margin: 0px;
}

.footer{
  position: fixed;
  bottom:0px;
  height: 54px;
  z-index: 999;
  background-color:#af1111;
  text-align:center;
  left: 0px;
  right: 0px;
  line-height: 55px;
  box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  -webkit-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  -moz-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  a{
    color:#fff;
  }
}

.text-sm{
  font-size: .8em;
}

.mt5{
  margin-top:5px;
}
