.weui-cell__hd{
  img{
    width: 36px;
    margin-right: 5px;
    display: block;
    height: 36px;
    border-radius: 50%;
  }
}
p {
  display: block;
  padding-right: 30px;
  line-height: 18px;
  font-size: 13px;
  color: #999;
}
.weui-cells{
  margin-top: 0px;
}
.h65{
  height: 65px;
}