{template 'common/header'}

<div class="jumbotron">
  <h1>你好, 微信小程序生成器!</h1>
  <p>
  	微信小程序太火爆了！
  </p>
  <h5>什么是微新小程序生成器！</h5>
  <p>
  	小程序生成器，可以帮助你在没有任何技术实力的情况下，经过简单的拖拽即可生成相应的小程序页面，下载上传后即可上线运营
  </p>
  <h5>适合什么场景！</h5>
  <p>
	适用于微官网，文章展示CMS等功能！
  </p>
  <h5>更多功能请联系升级</h5>
  <p>
	更多功能请联系升级！
  </p>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    软件注册码, 下载后首次登陆绑定，请填写此注册码
  </div>
	<div class="panel-body">
		<p style="
      word-wrap: break-word;
      word-spacing: normal;
      word-break: break-all;
    ">{$data}</p>

    <p style="color: red;">
      下载后首次登陆绑定，请填写此注册码
    </p>
	</div>
	<div class="panel-footer">
		<a href="javascript:;" class="btn btn-danger">立即下载</a>
		<a href="javascript:;" class="btn btn-success">联系我们</a>
    <a href="javascript:;" class="btn btn-info">加客户群</a>
	</div>
</div>

{template 'common/footer'}