<h2 class="main-1OkSR">账号绑定</h2>
<ul class="main-22cQX">
  <li class="main-3Idiu">
    <span>
      <alion name="phone" size="18px" color="green"></alion>
      手机
    </span>
    <span>
      <span class="main-2cJz_">{{info.mobile}}</span>
      <alion name="more"></alion>
    </span>
  </li>

  <li class="main-3Idiu">
    <span>
      <alion name="atm" size="18px" color="green"></alion>
      芝麻信用
    </span>
    <span>
      <span class="main-2cJz_">{{info.zhima}}</span>
      <alion name="more"></alion>
    </span>
  </li>
</ul>

<h2 class="main-1OkSR">安全设置</h2>
<ul class="main-22cQX">
  <li class="main-3Idiu">
    <span>登录密码</span>
    <span class="main-2cJz_">
      <span>未设置</span>
      <alion name="more"></alion>
    </span>
  </li>
</ul>

<button type="button" class="main-aGw6s">退出登录</button>
