
li{
  &:active{
    background: #ccc;
  }
}
.main-1OkSR {
  margin: 5px 0 0 10px;
  color: #666;
  font-weight: 400;
}
.main-22cQX {
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  font-weight: 700;
}
.main-3Idiu {
  border-top: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}
.main-2X7GQ {
  background-color: #10aeff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.main-oBMZZ {
  fill: #fff;
  height: 44px;
  width: 100px;
}
.main-2cJz_ {
  color: #999;
}
.main-1kNSK {
  fill: #ddd;
  height: 18px;
  width: 18px;
  display: inline-block;
  line-height: 18px;
  padding-top: 5px;
}
.main-aGw6s {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin: 30px auto;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  width: 90%;
  background-color: #d8584a;
}
