<div class="page msg_warn js_show">
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">{{config['title']}}</h2>
      <p class="weui-msg__desc">{{config['desc']}}</p>
    </div>
    <div class="weui-msg__opr-area">
      <opt-other></opt-other>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" [routerLink]="config['footer']['link']" class="weui-footer__link">{{config['footer']['title']}}</a>
        </p>
        <p class="weui-footer__text">{{config['footer']['desc']}}</p>
      </div>
    </div>
  </div>
</div>

<a routerLink="['/core/test']"></a>