<div class="ui-dialog" [class.show]="isShow">
  <div class="ui-dialog-cnt">
    <header class="ui-dialog-hd ui-border-b">
      <h3>{{title}}</h3>
      <i class="ui-dialog-close" data-role="button" (click)="hide()"></i>
    </header>
    <div class="ui-dialog-bd">
      <h4>{{subTitle}}</h4>
      <div>{{content}}</div>
    </div>
    <div class="ui-dialog-ft">
      <button type="button" data-role="button" [class.select]="item.active" (click)="onItem(item)" *ngFor="let item of items">{{item.title}}</button>
    </div>
  </div>
</div>