.ani{
  background-image: url('./ani.png');
}

.gifts{
  background-image: url('./gifts.png');
  margin-top: 2em !important;
}

.coupon{
  background-image: url('./coupon.png');
  margin-top: 5em !important;
}

.fixed-middle{
  position: fixed;
  right: 6px;
  width: 3em;
  height: 4em;
  margin-top: -2em;
  top: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 9;
}

.map{
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.chest-close {
  width: 320px;
  height: 135px;
  opacity: 0;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -160px;
  .tips {
    width: 166px;
    height: 60px;
    background: url(./txt-tips-open.png) 0px 0px no-repeat;
    background-size: 190px auto;
    position: absolute;
    left: 70px;
    top: 145px;
    -webkit-transition: all .5s;
    .arrow {
      width: 26px;
      height: 60px;
      background: url(./txt-tips-open.png) right 0px no-repeat;
      background-size: 190px auto;
      position: absolute;
      display: block;
      top: 0px;
      right: -28px;
      -webkit-animation: move .7s linear infinite alternate;
    }
  }
}