.page-list {
    display: flex;
    flex-direction: row;
    .page-item {
        line-height: 2em;
        margin: 0 10px;
        cursor: pointer;
        &:hover {
            background: #ccc;
        }
    }
}