.card {
  .list-block {
    > ul:after {
      display: none;
    }
    margin: 0;
  }
  background: #fff;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  position: relative;
  border-radius: 0.1rem;
  font-size: 0.7rem;
  .content-block {
    margin: 0;
  }
  .card-content {
    position: relative;
  }
  .card-content-inner {
    padding: 0.75rem;
    position: relative;
    > {
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .list-block, .content-block {
        margin: -0.75rem;
      }
    }
  }
}
