<styles></styles>
<div fxFlexFill fxLayout="row">
    <sidebar-container>
        <sidebar-list>
            <sidebar-header></sidebar-header>
            <sidebar-item (onItem)="onItem($event)" class="active">
                <i icon class="fa fa-home"></i> 门店
                <span sidebar-item-right class="label label-warning pull-right">16</span>
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-desktop"></i> 商品
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-group"></i> 会员
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-book"></i> 工单
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-credit-card"></i> 财务
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-signal"></i> 数据
            </sidebar-item>
            <sidebar-item>
                <i icon class="fa fa-cogs"></i> 设置
            </sidebar-item>
        </sidebar-list>
    </sidebar-container>
    <sidebar-content fxLayout="column">
        <topnav>
            <topnav-left>
                <a (click)="openSidebar()" class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;">
                    <i class="fa fa-bars"></i>
                </a>
            </topnav-left>
            <topnav-right>
                <dropdown>
                    <dropdown-toggle>
                        <i class="fa fa-envelope"></i>
                        <span label>16</span>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <dropdown-item>item</dropdown-item>
                    </dropdown-menu>
                </dropdown>
                <dropdown>
                    <dropdown-toggle>
                        <i class="fa fa-envelope"></i>
                        <span label>16</span>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <dropdown-item>item</dropdown-item>
                    </dropdown-menu>
                </dropdown>
                <dropdown>
                    <dropdown-toggle>
                        <i class="fa fa-envelope"></i>
                        <span label>16</span>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <dropdown-item>item</dropdown-item>
                    </dropdown-menu>
                </dropdown>
                <dropdown>
                    <dropdown-toggle>
                        <i class="fa fa-envelope"></i>
                        <span label>16</span>
                    </dropdown-toggle>
                    <dropdown-menu class="right">
                        <dropdown-item>item</dropdown-item>
                    </dropdown-menu>
                </dropdown>
            </topnav-right>
        </topnav>

        <div>导航</div>
        <div (click)="onContentClick()" style="flex: 1;overflow-y: scroll;">正文</div>
        <div>底部</div>
    </sidebar-content>
</div>