<div class="feed-view recommend-view-feed">
  <div class="feed-tab ch-sticky feed-sticky ch-scroll-tab-wrapper ch-tab-border-bottom">
    <div class="ch-scroller variant-no-scrollbar-x ch-scroll-tab" style="height: 44px; width: 100%; overflow-x: auto; overflow-y: hidden;">
      <div class="ch-scroller-body">
        <div class="ch-tab-item" (click)="_onClick(item)" [class.state-selected]="item.active" *ngFor="let item of items">{{item.title}}</div>
      </div>
    </div>
    <div class="ch-scroll-tab-mask"></div>
  </div>
  <div class="ch-scroller-out ch-root-scroller">
    <div class="ch-scroller-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>


