@import '../../core-scss/themes/default';

.am-wingblank {
  margin-left: $h-spacing-md;
  margin-right: $h-spacing-md;

  &.am-wingblank-sm {
    margin-left: $h-spacing-sm;
    margin-right: $h-spacing-sm;
  }

  &.am-wingblank-md {
    margin-left: $h-spacing-md;
    margin-right: $h-spacing-md;
  }

  &.am-wingblank-lg {
    margin-left: $h-spacing-lg;
    margin-right: $h-spacing-lg;
  }
}
