@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?5slv7l');
    src: url('fonts/icomoon.eot?5slv7l#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?5slv7l') format('truetype'), url('fonts/icomoon.woff?5slv7l') format('woff'), url('fonts/icomoon.svg?5slv7l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-tokeout-discount:before {
    content: "\e952";
}

.icomoon-tokeout-reduce:before {
    content: "\e953";
}

.icomoon-tokeout-mobile:before {
    content: "\e900";
}

.icomoon-tokeout:before {
    content: "\e901";
}

.icomoon-balance:before {
    content: "\e902";
}

.icomoon-addshoppingcart:before {
    content: "\e903";
}

.icomoon-integral:before {
    content: "\e904";
}

.icomoon-service:before {
    content: "\e905";
}

.icomoon-suspension:before {
    content: "\e906";
}

.icomoon-top:before {
    content: "\e907";
}

.icomoon-citylocation:before {
    content: "\e908";
}

.icomoon-vip-card:before {
    content: "\e909";
}

.icomoon-community:before {
    content: "\e90a";
}

.icomoon-coupon:before {
    content: "\e90b";
}

.icomoon-notify:before {
    content: "\e90c";
}

.icomoon-heart:before {
    content: "\e90d";
}

.icomoon-comment-bottom:before {
    content: "\e90e";
}

.icomoon-comment-right:before {
    content: "\e90f";
}

.icomoon-drag:before {
    content: "\e910";
}

.icomoon-cross:before {
    content: "\e911";
}

.icomoon-album:before {
    content: "\e912";
}

.icomoon-audio:before {
    content: "\e913";
}

.icomoon-plus:before {
    content: "\e914";
}

.icomoon-bbs:before {
    content: "\e915";
}

.icomoon-top-nav:before {
    content: "\e916";
}

.icomoon-colorstyle:before {
    content: "\e917";
}

.icomoon-breakline:before {
    content: "\e918";
}

.icomoon-addfolder:before {
    content: "\e919";
}

.icomoon-button:before {
    content: "\e91a";
}

.icomoon-addpage:before {
    content: "\e91b";
}

.icomoon-backward:before {
    content: "\e91c";
}

.icomoon-carousel:before {
    content: "\e91d";
}

.icomoon-arrow-right:before {
    content: "\e91e";
}

.icomoon-collect:before {
    content: "\e91f";
}

.icomoon-classify:before {
    content: "\e920";
}

.icomoon-config:before {
    content: "\e921";
}

.icomoon-help:before {
    content: "\e922";
}

.icomoon-form-vessel:before {
    content: "\e923";
}

.icomoon-history:before {
    content: "\e924";
}

.icomoon-edit:before {
    content: "\e925";
}

.icomoon-copy:before {
    content: "\e926";
}

.icomoon-delete:before {
    content: "\e927";
}

.icomoon-publish:before {
    content: "\e928";
}

.icomoon-save:before {
    content: "\e929";
}

.icomoon-count-ele:before {
    content: "\e92a";
}

.icomoon-folder:before {
    content: "\e92b";
}

.icomoon-template:before {
    content: "\e92c";
}

.icomoon-text:before {
    content: "\e92d";
}

.icomoon-title-ele:before {
    content: "\e92e";
}

.icomoon-bottom-nav:before {
    content: "\e92f";
}

.icomoon-page:before {
    content: "\e930";
}

.icomoon-video:before {
    content: "\e931";
}

.icomoon-conponent:before {
    content: "\e932";
}

.icomoon-location:before {
    content: "\e933";
}

.icomoon-notebook:before {
    content: "\e934";
}

.icomoon-shoppingcart:before {
    content: "\e935";
}

.icomoon-diamond:before {
    content: "\e936";
}

.icomoon-sort:before {
    content: "\e937";
}

.icomoon-forward:before {
    content: "\e938";
}

.icomoon-grade-ele:before {
    content: "\e939";
}

.icomoon-input-ele:before {
    content: "\e93a";
}

.icomoon-preview:before {
    content: "\e93b";
}

.icomoon-select-ele:before {
    content: "\e93c";
}

.icomoon-textarea-ele:before {
    content: "\e93d";
}

.icomoon-time-ele:before {
    content: "\e93e";
}

.icomoon-upload-img:before {
    content: "\e93f";
}

.icomoon-code:before {
    content: "\e940";
}

.icomoon-map:before {
    content: "\e941";
}

.icomoon-user-center:before {
    content: "\e942";
}

.icomoon-dynamic-vessel:before {
    content: "\e943";
}

.icomoon-free-vessel:before {
    content: "\e944";
}

.icomoon-goods-list:before {
    content: "\e945";
}

.icomoon-layout-vessel:before {
    content: "\e946";
}

.icomoon-list:before {
    content: "\e947";
}

.icomoon-list-vessel:before {
    content: "\e948";
}

.icomoon-picture:before {
    content: "\e949";
}

.icomoon-franchisee-list:before {
    content: "\e94a";
}

.icomoon-lens:before {
    content: "\e94b";
}

.icomoon-static-vessel:before {
    content: "\e94c";
}

.icomoon-search:before {
    content: "\e94d";
}

.icomoon-earphone:before {
    content: "\e94e";
}

.icomoon-pic:before {
    content: "\e94f";
}

.icomoon-bubble:before {
    content: "\e950";
}

.icomoon-seckill:before {
    content: "\e951";
}

.icomoon-fontStyle-bold:before {
    content: "\e972";
}

.icomoon-textAlign-center:before {
    content: "\e973";
}

.icomoon-fontStyle-underline:before {
    content: "\e975";
}

.icomoon-fontStyle-italic:before {
    content: "\e976";
}

.icomoon-textAlign-left:before {
    content: "\e978";
}

.icomoon-fontStyle-color:before {
    content: "\e979";
}

.icomoon-textAlign-right:before {
    content: "\e97a";
}