.qrcode{
  margin: 0 auto;
  display: inline-block;
}

p{
  text-align: left;
  font-size: .8em;
  color:gray;
  padding: 10px 20px;
}

.qrcode-container{
  text-align:center;
}


.swiper-slide{
  img{
    width: 100%;
  }
}