<nx-tabbar [items]="items" (onSelect)="onSelect($event)">
    <div class="weui-cells" *ngIf="activeItem['code'] == 'base_info'">
        <div class="title">
            背景颜色
        </div>
        <card-colors [color]="base_info.color" (onSelect)="onColorSelect($event)"></card-colors>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">会员卡标题</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" [(ngModel)]="base_info.title" placeholder="请输入会员卡标题">
                <p class="desc-help">建议会员卡标题包含商户名或服务内容，如腾讯会员黄钻尊享卡</p>
            </div>
        </div>
        <div class="title">
            有效期
        </div>
        <card-date></card-date>
        <div class="title">
            时间段
        </div>
        <card-week></card-week>
        <div class="title">
            优惠设置
        </div>
        <card-bonus></card-bonus>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">享受折扣</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" [(ngModel)]="base_info.discount" placeholder="请输入折扣">
                <p class="desc-help">请填写1-9.9之间的数字，精确到小数点后1位</p>
            </div>
        </div>
    </div>

    <div class="weui-cells" *ngIf="activeItem['code'] == 'detail'">
        <div class="title">
            特权说明
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="激活成功即赠送10积分,每消费1元，赠送1积分单次赠送上限10积分,每使用10积分，抵扣1元，单笔使用上限10积分" rows="3"></textarea>
            </div>
        </div>
        <div class="title">
            使用须知
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入使用须知" rows="3"></textarea>
            </div>
        </div>
        <div class="title">
            图片附件
        </div>
        <suyun-uploader></suyun-uploader>
    </div>

    <div class="weui-cells" *ngIf="activeItem['code'] == 'shop'">
        <div class="title">
            电话
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel" pattern="[0-9]*" placeholder="请输入电话">
            </div>
        </div>
        <div class="title">
            商户服务
        </div>
        <shop-tag></shop-tag>
    </div>

    <div class="weui-cells" *ngIf="activeItem['code'] == 'used'">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">会员卡价格</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入价格">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">操作提示</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入价格">
                <p class="desc-help">建议引导用户到店出示会员卡，由店员完成核销操作</p>
            </div>
        </div>
        <div class="title">
            可使用任务类型
        </div>
        <bonus-tag [items]="usedItems"></bonus-tag>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary">保存提交</a>
    <div class="h65"></div>
</nx-tabbar>
