.price-intro {
  height: 44px;
  overflow: hidden;
  padding-left: 15px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  >h4 {
    position: relative;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
  }
}
