<swiper-default height="150px">
  <div class="swiper-slide">
    <div class="edit" *ngIf="util.edit">
      <a class="md-mini-fab" href="javascript:;" (click)="util.editOpt({})">编辑</a>
    </div>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497647400882&di=ef8b43b6c10cc9db8ae2444f4f6a4078&imgtype=0&src=http%3A%2F%2Fpic49.nipic.com%2Ffile%2F20141008%2F19668545_122303184506_2.jpg" alt="">
  </div>
  <div class="swiper-slide">
    <div class="edit" *ngIf="util.edit">
      <a class="md-mini-fab" href="javascript:;">编辑</a>
    </div>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497647400882&di=ef8b43b6c10cc9db8ae2444f4f6a4078&imgtype=0&src=http%3A%2F%2Fpic49.nipic.com%2Ffile%2F20141008%2F19668545_122303184506_2.jpg" alt="">
  </div>
</swiper-default>
