$popover-arrow-width: 14px;

// Base class
.am-popover {
  position: absolute;
  z-index: $popover-zindex;

  .am-popover-hidden {
    display: none;
  }

  .am-popover-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $fill-mask;
    height: 100%;
    z-index: $popup-zindex;

    .am-popover-hidden {
      display: none;
    }
  }
}

// Arrows
.am-popover-arrow {
  position: absolute;
  width: $popover-arrow-width;
  height: $popover-arrow-width;
  border-radius: 2px;
  background-color: $fill-base;
  transform: rotate(45deg);
  z-index: 0;
}

.am-popover {
  .am-popover-placement-top .am-popover-arrow,
  .am-popover-placement-topLeft .am-popover-arrow,
  .am-popover-placement-topRight .am-popover-arrow {
    transform: rotate(225deg);
    bottom: -$popover-arrow-width/2;
  }

  .am-popover-placement-top .am-popover-arrow {
    left: 50%;
  }

  .am-popover-placement-topLeft .am-popover-arrow {
    left: $h-spacing-md;
  }

  .am-popover-placement-topRight .am-popover-arrow {
    right: $h-spacing-md;
  }

  .am-popover-placement-right .am-popoverarrow,
  .am-popoverplacement-rightTop .am-popoverarrow,
  .am-popoverplacement-rightBottom .am-popoverarrow {
    transform: rotate(-45deg);
    left: -$popover-arrow-width/2;
  }

  .am-popoverplacement-right .am-popoverarrow {
    top: 50%;
  }

  .am-popoverplacement-rightTop .am-popoverarrow {
    top: $h-spacing-md;
  }

  .am-popoverplacement-rightBottom .am-popoverarrow {
    bottom: $h-spacing-md;
  }

  .am-popoverplacement-left .am-popoverarrow,
  .am-popoverplacement-leftTop .am-popoverarrow,
  .am-popoverplacement-leftBottom .am-popoverarrow {
    transform: rotate(135deg);
    right: -$popover-arrow-width/2;
  }

  .am-popoverplacement-left .am-popoverarrow {
    top: 50%;
  }

  .am-popoverplacement-leftTop .am-popoverarrow {
    top: $h-spacing-md;
  }

  .am-popoverplacement-leftBottom .am-popoverarrow {
    bottom: $h-spacing-md;
  }

  .am-popoverplacement-bottom .am-popoverarrow,
  .am-popoverplacement-bottomLeft .am-popoverarrow,
  .am-popoverplacement-bottomRight .am-popoverarrow {
    top: -$popover-arrow-width/2;
  }

  .am-popoverplacement-bottom .am-popoverarrow {
    left: 50%;
  }

  .am-popoverplacement-bottomLeft .am-popoverarrow {
    left: $h-spacing-md;
  }

  .am-popoverplacement-bottomRight .am-popoverarrow {
    right: $h-spacing-md;
  }
}
