@import '../../core-scss/mixins';
@import '../../core-scss/themes/default';

@import './base';

.am-popover-inner {
  font-size: $font-size-subhead;
  color: $color-text-base;
  background-color: $fill-base;
  border-radius: $radius-sm;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.21);
  overflow: hidden; // for popover item active background color not overflow
}

.am-popover .am-popover-item {
   padding: 0 $h-spacing-md;

   &-container {
     display: flex;
     align-items: center;
     height: 78px;
     box-sizing: border-box;
     border-top: $border-width-sm solid $border-color-base;
     padding: 0 $h-spacing-md;
   }

   &:first-child,
   &.am-popover-item-active {
     .am-popover-item-container {
       border-top-color: transparent;
     }
   }

   &.am-popover-item-active + .am-popover-item .am-popover-item-container {
     border-top-color: transparent;
   }

   &.am-popover-item-active {
     background-color: $border-color-base;
   }

   &.am-popover-item-active.am-popover-item-fix-active-arrow {
     position: relative;
   }

   &.am-popover-item-disabled {
     color: $color-text-disabled;
     &.am-popover-item-active {
       background-color: transparent;
     }
   }

   &-icon {
     margin-right: $h-spacing-md;
     width: $icon-size-xs;
     height: $icon-size-xs;
   }
}
