<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="setting-row">
        <p class="margin-top-ele margin-bottom-ele">标题
            <input class="js-select-input select-input" type="text" [(ngModel)]="currentWidget.content.title">
        </p>
        <span class="btn orange block" (click)="addClassify()">添加选项</span>
        <ul class="select-item-set-container">
            <li *ngFor="let list of currentWidget.content.lists;let i=index">
                <span class="js-text">选项{{i+1}}</span>
                <input class="select-input js-select-input" type="text" #input [value]="currentWidget.content.lists[i]" (change)="inp(i,input.value)">
                <span class="icon-container icon-delete delete-icon" (click)="deleteFormVesellSelectEle(i)"></span>
            </li>
        </ul>
    </div>
    <div class="setting-row">
        <span><label class="input-type">可选项数：</label><input-type [currentWidget]="currentWidget" [maxOption]="currentWidget.content.lists"></input-type></span>
    </div>
    <div class="setting-row bind-data-field" *ngIf="ifShowBindDataField">
        <label>绑定数据对象字段：</label>
        <bind-data-field [currentWidget]="currentWidget"></bind-data-field>
    </div>
    <div class="setting-row note-tip ">
        <label>备注：</label>放置于自定义表单组件中才能正常使用组件功能
    </div>
</div>
<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-row">
        <div class="setting-inline">
            <label>标题颜色：</label>
            <second-font-color [currentWidget]="currentWidget"></second-font-color>
        </div>
        <div class="setting-inline">
            <label>背景颜色：</label>
            <line-background-color [currentWidget]="currentWidget"></line-background-color>
        </div>
    </div>
    <div class="setting-row">
        <label>标题字号：</label>
        <second-font-size [currentWidget]="currentWidget"></second-font-size>
        <second-font-decoration [currentWidget]="currentWidget"></second-font-decoration>
    </div>
    <div class="setting-row">
        <label>标题行高：</label>
        <second-line-height [currentWidget]="currentWidget"></second-line-height>
    </div>
    <div class="setting-row">
        <label>行高：</label>
        <line-height [currentWidget]="currentWidget"></line-height>
    </div>
    <div class="setting-row">
        <div class="setting-inline">
            <label>颜色：</label>
            <font-color [currentWidget]="currentWidget"></font-color>
        </div>
        <div class="setting-inline">
            <label>字号：</label>
            <font-size [currentWidget]="currentWidget"></font-size>
            <font-decoration [currentWidget]="currentWidget"></font-decoration>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-inline">
            <label>背景颜色：</label>
            <background-color [currentWidget]="currentWidget"></background-color>
        </div>
        <div class="setting-inline">
            <background-image [currentWidget]="currentWidget"></background-image>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-inline">
            <label>上间距：</label>
            <margin-top [currentWidget]="currentWidget"></margin-top>
        </div>
        <div class="setting-inline">
            <label>左间距：</label>
            <margin-left [currentWidget]="currentWidget"></margin-left>
        </div>
        <div class="setting-inline">
            <widget-align [currentWidget]="currentWidget"></widget-align>
        </div>
    </div>
    <div class="setting-row">
        <div class="setting-inline">
            <label>宽度：</label>
            <width-style [currentWidget]="currentWidget"></width-style>
        </div>
        <div class="setting-inline" *ngIf="false">
            <label>高度：</label>
            <height-style [currentWidget]="currentWidget"></height-style>
        </div>
    </div>
    <div class="setting-row">
        <label>透明度：</label>
        <opacity-style [currentWidget]="currentWidget"></opacity-style>
    </div>
</div>