<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content">
    <div class="content-set-wrap">
        <div class="setting-inline">关联列表：
            <select #object id="formSelect" class="refresh-object-select" value="{{ currentWidget.customFeature.sort_object }}" (change)="refreshSortObject(object.value)">
                    <option value="">无</option>
                    <option *ngFor="let list of widgetService.getCurrentPageWidgets(['list-vessel','goods-list','franchisee-list'])" [attr.widgetId]="list.id" value="{{ list.customFeature.id }}">{{ list.customFeature.name }}</option>
                </select>
        </div>
        <!--<div *ngIf="false" class="setting-inline">选中的排序：
                <select #selType (change)="selectedInd(selType.value)" value="{{currentWidget.customFeature.selected}}">
                    <option value="-1">无</option>
                    <option *ngFor="let sort of currentWidget.content;let i=index"  value={{i}} [selected]="selected===i ? 'selected' : ''">第{{i+1}}个 ( {{sort.text}} )</option>
                </select>
            </div>-->
        <span class="full-yellow-btn green" (click)="addSortItem(currentWidget.content.length)">添加排序</span>
        <ul class="accordion-container js-accordion-container">
            <li class="accordion" *ngFor="let sort of currentWidget.content;let i=index" [class.expand]="paraShow === i && isDetail">
                <p class="set-title"><span (click)="showDetail(i)" class="js-text">{{sort.text}}</span><span *ngIf="i !== 0" (click)="deleteSortItem(sort)" class="delete-btn icon-container icon-delete"></span></p>
                <div class="set-content">
                    <div class="setting-row"><span class="setting-label">名称：</span><input class="input" type="text" [(ngModel)]="sort.text"></div>
                    <div *ngIf="i !== 0" class="setting-row">
                        <span class="setting-label">默认：</span>
                        <span class="btn mr-10" [class.active]="currentWidget.content[i].customFeature.sort_direction === 0" (click)="changeSort(0,i)">降序</span>
                        <span class="btn mr-10" [class.active]="currentWidget.content[i].customFeature.sort_direction === 1" (click)="changeSort(1,i)">升序</span>
                    </div>
                    <div class="setting-row">
                        <span class="setting-label">字段：</span>
                        <select #index *ngIf="i !== 0" class="refresh-segment-select" value="{{ currentWidget.content[i].customFeature.sort_key }}" (change)="refreshIndex(index.value,i)">
                                <option value="">无</option>
                                <option *ngFor="let item of getListVesselForm(currentWidget.customFeature.sort_object)" value="{{item.field}}" [selected]="currentWidget.content[i].customFeature.sort_key == item.field" [innerHTML]="item.name"></option>
                            </select>
                        <select *ngIf="i === 0" [attr.disabled]="i === 0" class="refresh-segment-select" value="{{ currentWidget.content[0].customFeature.sort_key }}">
                                <option value="weight">权重</option>
                            </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">组件设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">背景</div>
                <background-color [currentWidget]="currentWidget"></background-color>
                <background-image [currentWidget]="currentWidget"></background-image>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">尺寸</div>
                <div class="setting-inline">
                    <label>高</label>
                    <class-line-height [currentWidget]="currentWidget"></class-line-height>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">间距</div>
                <div class="setting-inline">
                    <label>上</label>
                    <margin-top [currentWidget]="currentWidget"></margin-top>
                </div>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">透明</div>
                <opacity-style [currentWidget]="currentWidget"></opacity-style>
            </div>
        </div>
    </div>
    <div class="setting-accordion active">
        <div class="setting-accordion-title" (click)="showAccordionExpand($event)">文字设置</div>
        <div class="setting-accordion-content">
            <div class="setting-row">
                <div class="setting-row-text">初始颜色</div>
                <font-color [currentWidget]="currentWidget"></font-color>
            </div>
            <div class="setting-row">
                <div class="setting-row-text">选中颜色</div>
                <selected-color [currentWidget]="currentWidget"></selected-color>
            </div>
            <div class="setting-row">
                <div class="setting-inline" style="margin-bottom: 10px;">
                    <font-size [currentWidget]="currentWidget"></font-size>
                    <div class="divide-line"></div>
                    <font-decoration [currentWidget]="currentWidget"></font-decoration>
                </div>
            </div>
        </div>
    </div>
</div>