<div class="top-tab-nav operate-navs">
    <span (click)="setWidgetSettingType('content')" [class.active]="widgetSettingType === 'content'" id="cur-com-name" class="active">{{currentWidget.name}}组件</span>
    <span (click)="setWidgetSettingType('style')" [class.active]="widgetSettingType === 'style'">组件样式</span>
</div>
<div [class.active]="widgetSettingType === 'content'" class="tab-content tab-content-selector">
    <div class="setting-row" style="margin-top: 0px;">
        <label>是否显示店铺信息：</label><input type="checkbox" name="" (change)="isShowShopInfo()" [checked]="currentWidget.customFeature['showShopInfo']">
    </div>
    <div class="setting-row">
        <label>绑定数据对象：</label><select disabled class="bind-data-object-select"><option value="goods">外卖</option></select>
    </div>
    <div class="setting-row">
        <a class="full-yellow-btn green bgmanager-waimai" (click)="addWaimaiInBackground()" target="_blank">后台添加外卖</a>
    </div>
    <div class="setting-row">
        <div class="setting-title">列表项点击事件：</div>
        <div>
            跳转至：
            <select disabled><option>商品详情页</option></select>
            <div class="question-note">
                <span class="icon-help"></span>
                <div class="help-tip left-help-tip">
                    商品详情页无需设置, 绑定数据后可在预览时查看页面效果
                </div>
            </div>
        </div>
    </div>
    <div class="content-set-wrap">
        <span class="full-yellow-btn green" (click)="addWaimaiItem(currentWidget.content.length)">添加分类</span>
        <ul class="accordion-container js-accordion-container">
            <li class="accordion" *ngFor="let waimai of currentWidget.content;let i=index" [class.expand]="paraShow === i && isDetail">
                <p class="set-title"><span (click)="showDetail(i)" class="js-text">{{waimai.text}}</span><span *ngIf="i !== 0" (click)="deleteWaimaiItem(waimai)" class="delete-btn icon-container icon-delete"></span></p>
                <div class="set-content">
                    <div class="setting-row"><span class="setting-label">名称：</span><input class="input" type="text" [(ngModel)]="waimai.text"></div>
                    <div class="setting-row">
                        <span class="setting-label">绑定分类：</span>
                        <select #select class="data-source-select" value="{{waimai.source}}" (change)="bindSource(select.value,i)">
                                <option *ngFor="let item of waimaitype" value="{{ item.id }}" [selected]="item.id == waimai.source">{{ item.name }}</option>
                            </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div [class.active]="widgetSettingType === 'style'" class="tab-content">
    <div class="setting-row">
        <div class="setting-inline">
            <label>宽度：</label>
            <width-style-waimai [currentWidget]="currentWidget"></width-style-waimai>
        </div>
        <!-- <div class="setting-inline">
                <label>高度：</label><height-style-waimai [currentWidget]="currentWidget"></height-style-waimai>
            </div>-->
    </div>
    <div class="setting-row">
        <label>文字颜色：</label>
        <font-color-waimai [currentWidget]="currentWidget"></font-color-waimai>
    </div>
    <div class="setting-row">
        <label>选中后的文字颜色：</label>
        <selected-color [currentWidget]="currentWidget"></selected-color>
    </div>
    <div class="setting-row">
        <label>字号：</label>
        <font-size-waimai [currentWidget]="currentWidget"></font-size-waimai>
        <font-decoration-waimai [currentWidget]="currentWidget"></font-decoration-waimai>
    </div>
    <div class="setting-row">
        <label>背景色：</label>
        <background-color-waimai [currentWidget]="currentWidget"></background-color-waimai>
    </div>
    <div class="setting-row">
        <label>选中后背景色：</label>
        <selected-background-color [currentWidget]="currentWidget"></selected-background-color>
    </div>
    <div class="setting-row">
        <label>透明度：</label>
        <opacity-style [currentWidget]="currentWidget"></opacity-style>
    </div>
</div>