<div class="footer">
  <div style="display:inline-block;vertical-align:middle;">
    <a class="bubble bubble-red" href="javascript:;" *ngIf="isUpload" (click)="startRecord()">
      <span class="bubble-tail"></span>
      <span class="wave1"></span>
      <span class="wave2"></span>
      <span class="wave3"></span>
      <span class="bubble-tip">{{audioBtnTitle}}</span>
      <span *ngIf="hasGift" class="gift gift-swing"></span>
    </a>

    <a class="bubble bubble-blue" href="javascript:;" *ngIf="!isUpload" (click)="playVoice()">
      <span class="bubble-tail"></span>
      <span class="wave1" *ngIf="playIcon<4"></span>
      <span class="wave2" *ngIf="playIcon<3"></span>
      <span class="wave3" *ngIf="playIcon<2"></span>
      <span class="bubble-tip">点击播放</span>
      <span *ngIf="hasGift" class="gift gift-swing"></span>
    </a>
  </div>
  <span class="tips-right" *ngIf="!isUpload">{{desc}}</span>
  <span class="tips-right" *ngIf="isUpload">{{desc}}</span>
</div>
