<!-- {if $widget['type'] == 'uu-header'} -->
<header class="meepo-header">
    <div class="header-left click-to-url">
        <a href="{$widget['left']['link']}">
            <i class="{$widget['left']['icon']}"></i>
            <span>{$widget['left']['title']}</span>
        </a>
    </div>
    <span class="title">{$widget['content']}</span>
    <div class="header-right click-to-url">
        <a href="{$widget['right']['link']}">
            <span class="curCity">{$widget['right']['title']}</span>
            <i class="{$widget['right']['icon']}"></i>
        </a>
    </div>
</header>

<script>
    $('.click-to-url').click(function() {
        var url = $(this).data('url');
        window.location.href = url;
    });
</script>
<!-- {/if} -->