.FL_detail {
  float: left;
  width: 100%;
  height: auto !important;
  margin-bottom: 70px;
  .FL_detailnow {
    display: block;
  }
}
.Tz_box {
  width: 100%;
  height: auto !important;
  float: left;
  >li:first-child {
    margin-top: 0px;
  }
  .Tz {
    width: 100%;
    height: auto !important;
    background-color: #fff;
    padding: 8px 0px;
    float: left;
    padding-bottom: 0px;
    margin-top: 10px;
    .Tzs {
      width: 94%;
      margin-left: 3%;
      display: inline-block;
      .Tzs02 {
        line-height: 25px;
        font-size: 14px;
        color: #333;
        font-weight: bold;
        width: 100%;
        padding-bottom: 5px;
        overflow: hidden;
      }
      .Tzs03 {
        width: 100%;
        height: auto !important;
        float: left;
        overflow: hidden;
        .Tzs032 {
          color: #666;
          line-height: 25px;
          font-size: 15px;
          text-align: justify;
          padding-bottom: 10px;
        }
      }
      .Tzs04 {
        clear: both;
        width: 100%;
        height: auto !important;
        float: left;
        >li {
          position: relative;
          float: left;
          width: calc( 25% - 15px);
          margin-right: 10px;
          margin-bottom: 5px;
          >img {
            width: 100%;
          }
        }
      }
      .Tzs01 {
        width: 100%;
        height: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        position: relative;
        .Tzs011 {
          display: inline-block;
          height: 50px;
          width: 50px;
          overflow: hidden;
          float: left;
          margin-right: 8px;
          border: 1px #eee solid;
          padding: 2px;
          >img {
            width: 44px;
            height: 44px;
          }
        }
        .Tzs012 {
          display: inline-block;
          float: left;
          text-align: left;
          width: calc( 100% - 158px);
          overflow: hidden;
          height: 60px;
          .Tzs0121 {
            height: 25px;
            line-height: 25px;
            overflow: hidden;
            position: relative;
            width: 100%;
            .Tzs01211 {
              float: left;
              margin-right: 10px;
              width: 100%;
              font-size: 14px;
              color: #4395f5;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
          }
          .Tzs0122 {
            height: 25px;
            line-height: 25px;
            font-size: 12px;
            color: #999;
            margin-top: 2px;
            >span {
              display: inline-block;
              padding: 0px 3px;
              height: 19px;
              line-height: 19px;
              text-align: center;
              background-color: #ff8e14;
              color: #fff;
              border-radius: 3px;
              margin-top: 3px;
              margin-right: 2px;
              font-size: 12px;
            }
            .Tzs0311 {
              background-color: #1ddc9b;
            }
          }
        }
      }
    }
  }
}


.Tzs05 {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  >img {
    width: 38px;
    height: 38px;
    position: relative;
    top: -3px;
  }
}
a {
  display: block;
  height: auto;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  color: #666;
}
.Tzs014 {
  width: 88px;
  height: 30px;
  float: right;
  margin-top: 14px;
  border: 1px #ed414a solid;
  box-sizing: content-box;
  padding: 0px 2px;
  border-radius: 3px;
  overflow: hidden;
  background: #ed414a;
  position: absolute;
  right: 0px;
  top: 0px;
}

.Tzs0141 {
  display: inline-block;
  width: 88px;
  height: 31px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  >img {
    width: 22px;
    position: relative;
    top: 3px;
  }
  span {
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: 2px;
  }
}

.hmdetailtog {
  color: #758096;
  margin-bottom: 10px;
  display: block;
  clear: both;
  font-size: 14px;
  text-align: left;
}

.hmfenleit {
  height: 20px;
  line-height: 20px;
  width: 100%;
  clear: both;
  color: #999;
  font-size: 13px;
  overflow: hidden;
  text-align: left;
  .hmfldetail {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 70px;
    float: right;
    position: relative;
    span {
      font-size: 13px;
      float: left;
      color: #97abd1;
      margin-right: 3px;
    }
    .mgr3 {
      margin-right: 3%;
    }
  }
}


.youarrow {
  width: 4px;
  height: 4px;
  border: 1px #97abd1 solid;
  border-width: 1px 0px 0px 1px;
  float: left;
  transform: rotate(135deg);
  margin-right: -1%;
  margin-top: 7px;
}

.liuyan_huifus {
  font-size: 14px;
  line-height: 26px;
  padding: 2px 10px;
  background: #eee;
  position: relative;
  margin-top: 12px;
  color: #666;
  margin-bottom: 15px;
  clear: both;
  .triangles {
    width: 0;
    height: 0;
    border-width: 10px 10px 10px 10px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -19px;
    left: 8px;
  }
  .hmfeninf {
    overflow: hidden;
  }
  .hmfenpro {
    float: left;
    margin-right: 10px;
    font-size: 13px;
    >em {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 5px;
      margin-right: 4px;
      float: left;
      img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .yanse {
    color: #4395f5;
    font-size: 14px;
    margin-right: 2px;
  }
}

.imgnum {
  width: 100%;
  height: 96%;
  overflow: hidden;
  background: rgba(0,0,0,.3);
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 3.5;
  font-family: inherit;
  span {
    margin-left: 2px;
  }
}

.icon{
  display: inline-block !important;
  width: 30px !important;
  height: 30px !important;
  vertical-align: middle !important;
}
.timg2{
  background: url('./timg2.gif');
  background-size: cover;
}
.phonegb{
  background: url('./phonegb.gif');
  background-size: cover;
  width: 18px !important;
  height: 15px !important;
}
