.bindQr{
  width: 128px;
  height: 128px;
  margin: 10px auto;
}

.footer{
  padding: 10px;
  text-align: center;
  background: #f85f48;
  margin: 10px 10%;
  border-radius: 5px;
  color: #fff;
  position: relative;
  a{
    color:#fff;
    line-height: 2em;
    display: block;
  }
}


p.jijia{
  text-align: center;
  color: #EC8B89;
  a{
    color: #EC8B89;
  }
}


.mt10{
  margin-top: 10px;
}
