<div class="js_dialog">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="container">
            <div *ngFor="let detail of tasks">
                <div class="detail">
                    <core-forms-view [type]="detail.type" [detail]="detail"></core-forms-view>
                </div>
            </div>
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel()">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="sure()">发送</a>
        </div>
    </div>
</div>