// 图层

$footer-zindex: 999;  //底部菜单
$toast-zindex: 1000; // toast
$dialog-zindx: 1001; // dialog
$page-zindex: 999; // page
$quick-menu-zindex: 1001; // 葵姐菜单
$alloy-selector-zindex: 1002; // 时间地址选择
$bottom-zindex: 999; //底部菜单
$sticky-zindex: 999; //
$select-index: 1002; //
$actionsheet-zindex: 1003;


//背景颜色
$bg-color: #f5f5f5;