<div class="van-tabs van-tabs--line">
  <div class="van-tabs__nav-wrap" #wrap>
    <div class="van-tabs__swipe" #swipe>
      <div class="van-tabs__nav van-tabs__nav--line">
        <div class="van-tabs__nav-bar" #bar style="width: 90px; transform: translate3d(0px, 0px, 0px); transition-duration: 0.3s;"></div>
        <div class="van-tab" [class.van-tab--active]="item.active" *ngFor="let item of items">{{item.title}}</div>
      </div>
    </div>
  </div>
  <div class="van-tabs__content">
    <div class="van-tab__pane van-tab__pane--select">
      <ng-content></ng-content>
    </div>
</div>
