<div class="weui-cells weui-cells_form">
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <div class="weui-uploader">
        <div class="weui-uploader__hd">
          <p class="weui-uploader__title">{{title}}</p>
        </div>
        <div class="weui-uploader__bd">
          <ul class="weui-uploader__files" *ngIf="total > 1">
            <li  class="weui-uploader__file" (click)="reUpload(i)" *ngFor="let img of images;index as i;">
              <img class="image" [src]="img" alt="">
            </li>
          </ul>
          <ul class="weui-uploader__files" *ngIf="total == 1">
            <li *ngIf="images"  class="weui-uploader__file" (click)="reUpload(0)">
              <img class="image" [src]="images" alt="">
            </li>
          </ul>
          <div class="weui-uploader__input-box" (click)="upload()">
            <!--<input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
