:host {
    overflow-y: auto;
}

.member-search-model {
    display: flex;
    flex-direction: column;
}

.member-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    &.member-row {
        flex-direction: row !important;
        .member-item {
            padding: 0px;
        }
    }
    .member-item {
        margin: 3px;
        color: white;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        min-height: 40px;
        padding: 5px 10px;
        &:hover {
            background-color: white;
            color: #000;
        }
        .content {
            flex: 1;
        }
        .member-item-avatar {
            width: 2em;
            height: 2em;
        }
        p {
            text-align: center;
        }
        &.active {
            background-color: white;
            color: #000;
        }
    }
}

.member-item-avatar {
    width: 3em;
}

.member-search-model {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 888;
    background: rgba(0, 0, 0, 0.6);
    .member-search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}