.swiper-slide{
  img{
    width: 100%;
  }
}

.detail{
  padding: 10px;
  background: #fff;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rate{
  overflow: scroll;
  position: absolute;
  left: 0px;
  right: 0px;
  height: calc( 100% - 225px);
}