<swiper-default hasWater="true">
  <div class="swiper-slide" *ngFor="let img of info.images">
    <img [src]="img" alt="">
  </div>
</swiper-default>
<suyun-top-nav [items]="tabs" (onItem)="onItem($event)"></suyun-top-nav>


<div class="" *ngIf="activeItem['code'] == 'coach'">
  <days-navs (onSelect)="onDaySelect($event)">
    <div class="flex-column">
      <suyun-coach-seat-time-tag #timeTag (onSelect)="onTimeSelect($event)" [code]="code"></suyun-coach-seat-time-tag>
      <div class="weui-cells" *ngIf="showMobile">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" [(ngModel)]="post['realname']" type="text" placeholder="请输入姓名">
          </div>
        </div>
        <suyun-mobile-verity [post]="post" (onSuccess)="onSuccess($event)"></suyun-mobile-verity>
      </div>
    </div>

  </days-navs>
  <div class="h65"></div>
  <pay-order [price]="post['price']" (onPay)="onPay()" [tip]="tip"></pay-order>

  <suyun-order-create (onSuccess)="onPaySuccess($event)" [post]="post" *ngIf="showPay"></suyun-order-create>
</div>


<div class="detail" *ngIf="activeItem['code'] == 'detail'">
  <p>{{info.desc}}</p>
</div>

<div class="rate" *ngIf="activeItem['code'] == 'rate'">
  <im-message-list #imlist (onInit)="onInit($event)" [myOpenid]="openid" [openid]="toOpenid"></im-message-list>
  <div class="h65"></div>
  <div class="h65"></div>
  <im-footer (onSend)="onSend($event)" (onFocus)="onFocus($event)"></im-footer>
</div>

<div class="h65"></div>
