<div class="a-feed">
  <div class="container">
    <a class="avatar-link" href="javascript:;">
      <div class="avatar">
        <img class="avatarImg" src="http://medias.zaih.com/FnUxmt1TuQwMIXA27f1LhkPVfEoR!avatar">
        <span></span>
      </div>
    </a>
    <span class="feed-desc">先见</span>
    <span class="feed-desc">推荐话题：分答精选</span>
  </div>
  <div class="feed-body" (click)="_onClick()">
    <p class="text-question-content">33年后工作被机器人替代，人类会怎样？</p>
    <p class="answer">2050年可能会出现一个新的社会阶级——无用阶级，这群人会以“玩家”的名义，被载入未来的史册。</p>
  </div>
</div>
