<!-- <frozen-header (onMore)="onMore()" title="发布"></frozen-header> -->
<core-tabbar code="core.runner.tasks" [end]="end"></core-tabbar>
<!-- <zan-popup duration="right" *ngIf="showMenu" (onClose)="onClose()">
    <head-img [info]="myinfo" (onItem)="onRight()"></head-img>
    <myjd-qianbao [orders]="memberNavs"></myjd-qianbao>
    <myjd-order></myjd-order>
    <myjd-content style="display: block;position: relative;">
        <ul class="in-list bdt-1px bdb-1px">
            <li *ngFor="let item of grids" [class.hide]="!item.active" [routerLink]="item.link">
                <div class="in-item my-item">
                    <div class="couponIn-icon w-18">
                        <img [src]="item.icon">
                    </div>
                    <div class="in-item-info my-item bdb-1px">
                        <div class="fl">
                            <span class="myJD-Order">{{item.title}}</span>
                        </div>
                        <div class="fr">
                            <span class="myJD-arrow"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </myjd-content>
</zan-popup> -->