<li class="dd-item" [attr.data-id]="child.id" *ngFor="let child of items;index as i;">
    <a style="margin-top: 10px;margin-left: 10px;" class="label label-success" (click)="addChild({item: child, index: i})"><i class="fa fa-plus-square-o"></i></a>
    <a style="margin-top: 10px;margin-left: 3px;" class="label label-primary" (click)="edit({item: child,index: i})"><i class="fa fa-edit"></i></a>
    <el-tooltip style="margin-top: 0px;" placement="right" effect="light">
        <a class="label label-danger"><i class="fa fa-trash-o"></i></a>
        <ng-template #tip>
            <el-alert [closable]="false" type="warning">
                您确定要删除此分类么？如存在子分类，则全部清除！此操作不可逆，请谨慎操作！
                <a class="btn btn-danger btn-xs" (click)="delete({item: child,index: i})">确定</a>
            </el-alert>
        </ng-template>
    </el-tooltip>
    <div class="dd-handle">
        {{child.title}}
    </div>
    <ol class="dd-list" (onAddChild)="addChild($event)" (onEdit)="edit($event)" (onDelete)="delete($event)" nestable-item [items]="child['children']" *ngIf="child['children']"></ol>
</li>