.input-group-addon {
    cursor: pointer;
}

:host {
    width: 400px;
    display: block;
}

.ui-icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}