:host {
    position: relative;
    min-height: 20px;
    display: block;
    overflow: hidden;
    &:hover {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px dashed #00a0e9;
            cursor: move;
            z-index: 10;
        }
        .btn-edit-del {
            display: block;
        }
    }
}

.btn-edit-del {
    height: 16px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: none;
    z-index: 90;
    >div {
        width: 32px;
        height: 16px;
        line-height: 16px;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background: rgba(0, 0, 0, .4);
        margin-left: 2px;
        cursor: pointer;
        position: relative;
        z-index: 11;
    }
}