<div class="row">
    <div class="col-md-4" *ngFor="let group of widgets">
        <div class="ibox">
            <div class="ibox-title" style="text-primary">
                <h5>{{group['title']}}</h5>
                <div class="ibox-tools">
                    <a href="javascript:;" (click)="addWidgetGroup()" class="btn btn-white btn-xs btn-bitbucket">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                    <a href="javascript:;" (click)="deleteWidgetGroup(group)" class="btn btn-danger btn-xs">
                        删除
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <ul>
                    <li *ngFor="let widget of group.widgets">
                        <span>{{widget.name || '组件名字'}}</span>
                        <div class="opts">
                            <span class="fa fa-edit" (click)="editWidget(widget)"></span>
                            <span class="fa fa-trash-o" (click)="deleteWidget(widget)"></span>
                        </div>
                    </li>
                    <li (click)="addWidget(group)">
                        添加
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<blank *ngIf="widgets.length<=0" title="还没有数据">
    立即添加<a class="btn btn-primary btn-xs" (click)="addWidgetGroup()">添加</a>
</blank>