<div class="pricing-list text-left">
    <div class="pricing-header bg-blue-grey-600">
        <div class="pricing-title">单核2G</div>
        <div class="pricing-price">
            <span class="pricing-currency">¥</span>
            <span class="pricing-amount">40</span>
            <span class="pricing-period">/ 月</span>
        </div>
        <p class="padding-horizontal-30 padding-bottom-25">
            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月
        </p>
    </div>
    <ul class="pricing-features">
        <li>
            <strong>10GB</strong> 存储空间
        </li>
        <li>
            <strong>200MB</strong> 单文件限制
        </li>
        <li>
            <strong>2G</strong> CPU
        </li>
        <li>
            <strong>256MB</strong> 内存
        </li>
        <li>
            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
        </li>
    </ul>
    <div class="pricing-footer text-center bg-blue-grey-100">
        <a class="btn btn-primary btn-lg">
            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i> 开通
        </a>
    </div>
</div>