.pricing-list {
    margin-bottom: 22px;
    text-align: center;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    [class*=bg-] * {
        color: #fff !important;
    }
    .pricing-header {
        border-bottom: 1px solid #e4eaec;
        border-radius: 3px 3px 0 0;
        .pricing-price {
            padding: 20px 30px;
            margin: 0;
            font-size: 33px;
            font-weight: 700;
            color: #37474f;
        }
    }
    .pricing-title {
        padding: 15px 30px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 3px 3px 0 0;
    }
    .pricing-period {
        font-size: 14px;
        font-weight: 400;
    }
    .pricing-features {
        padding: 0 18px;
        margin: 0;
        &li:first-child {
            border-top: none;
        }
        li {
            display: block;
            padding: 15px;
            list-style: none;
            border-top: 1px dashed #e4eaec;
        }
    }
    .pricing-footer {
        padding: 30px;
        border-radius: 0 0 3px 3px;
    }
}

.padding-horizontal-30 {
    padding-right: 30px!important;
    padding-left: 30px!important;
}

.bg-blue-grey-600 {
    background-color: #526069!important;
}

.bg-blue-600 {
    background-color: #62a8ea!important;
}

.bg-red-600 {
    background-color: #f96868!important;
}

.bg-orange-600 {
    background-color: #f2a654!important;
}