.container{
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  background: rgb(192, 71, 69);
  .icon{
    width: 90px;
    height: 90px;
    margin: 40px auto 40px;
    background: #fff;
    border-radius: 50%;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  .btn1{
    width: 75%;
    height: 47px;
    background: #ffbc49;
    border-radius: 7px;
    margin: 0 auto;
    text-align: center;
    line-height: 47px;
  }
  .btn2{
    width: 75%;
    height: 47px;
    background: #ffbc49;
    border-radius: 7px;
    margin: 26px auto;
    text-align: center;
    line-height: 47px;
  }
  .line{
    margin: 55px auto 23px;
    height: auto;
    width: 75%;
    p{
      text-align: center;
      color: #ffffff;
      font-size: .9em;
    }
  }
  .input{
    width: 75%;
    margin: 5px auto;
    height: 55px;
    border-radius: 9px;
    padding-top: 2px;
    input{
      height: 100%;
      line-height: 1;
      width: 100%;
      padding: 0 10px;
      border-radius: 5px;
      font-size: 1.2em;
    }
  }
  .tip{
    height: 1.5em;
    margin: 13px auto;
    text-align: center;
    font-size:.8em;
    color:#fff;
  }
}

.xiang{
  background-image: url('./xiang.png');
}