.uploader{
  position: relative;
  padding: 5px;
  .placeholder{
    margin:0 10px;
  }
  .des-upload-title{
    text-align: center;
    font-color:#ccc;
    font-size: .8em;
    padding: 5px 0px;
  }
  .des-upload-pic{
    position: relative;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .des-uploader-info{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0px;
    height: 25px;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 25px;
  }
}
