.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .preview {
        position: relative;
        height: 100%;
        width: 400px;
        border: 1px solid #ccc;
    }
    .editor {
        flex: 1;
        position: relative;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

page-runner-index {
    height: 100%;
    width: 100%;
    display: block;
}