.weui-cells{
  margin: 0px;
}

.mt10{
  margin-top: 10px;
}



.weui-cell__ft{
  font-size: .8em;
}

p.jijia{
  text-align: center;
  color: #EC8B89;
  a{
    color: #EC8B89;
  }
}

.footer{
  padding: 10px;
  text-align: center;
  background: #ff8b03;
  margin: 10px 10%;
  border-radius: 5px;
  color: #fff;
  position: relative;
  a{
    color:#fff;
    line-height: 2em;
    display: block;
  }
}
