.decorate-content {
  background: #f8f8f8;
  .decorate-item {
    background: #fff;
    padding: 10px;
    &.pic img {
      width: 100%;
    }
    &.title {
      h4 {
        font-size: 16px;
      }
      &.small {
        margin-bottom: 0;
        border-bottom: 1px solid #e8e8e8;
      }
      i {
        float: right;
        color: #666;
        line-height: 16px;
        margin-right: -2px;
        font-size: 18px;
      }
    }
    &.content p {
      color: #666;
      font-size: 13px;
    }
    &.single-img img {
      width: 100%;
    }
    &.double-img img {
      width: 50%;
      float: left;
    }
    &.multi-img {
      padding: 10px 0;
    }
    &.hot-service, &.classic-case {
      padding-bottom: 0;
    }
  }
}


.hot-service {
  background: #fff;
  overflow: hidden;
  /*height: 578px;*/
  a {
    float: left;
    width: 48.8%;
    &:nth-child(2n) {
      float: right;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
  }
  .hot-list {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 2%;
    .hot-img-box {
      /* text-align: center;
           display: table-cell;
           vertical-align: middle;
     */
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .hot-title {
      font-size: 14px;
      color: #666;
      height: 38px;
      line-height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      margin-top: 3px;
    }
    p {
      width: 94%;
    }
    .price {
      color: #ff6600;
      font-size: 12px;
    }
    .sale-number {
      font-size: 10px;
      color: #b0b0b0;
      float: right;
      line-height: 22px;
    }
  }
}
