<ul class="col-4">
    <li data-id="4"><img src="https://imgs6.mxthcdn.com/g/I754aoo97k646043355_QrfTIG.jpg">
        <p>美容护肤</p>
    </li>
    <li data-id="6"><img src="https://imgs6.mxthcdn.com/o/I754aoogbl467795819_KQXmET.jpg">
        <p>彩妆香氛</p>
    </li>
    <li data-id="7"><img src="https://imgs6.mxthcdn.com/h/I754aooplh1547797947_GKkpcH.jpg">
        <p>礼盒套装</p>
    </li>
    <li data-id="42"><img src="https://imgs6.mxthcdn.com/z/I757bfe1272480490265_RvxVOk.png">
        <p>个人洗护</p>
    </li>
    <li class="more"><img src="https://imgs2.mxthcdn.com/g/I274opn79n23963737538_mpCQpX.png"></li>
</ul>