<div class="layim-chat-footer" [style.bottom]="focus ? '60px' : '0px'">
  <div class="floor-container">
    <div class="layim-chat-send">
      <input type="text" [(ngModel)]="key" (focus)="_onFocus()" autocomplete="off" placeholder="请输入信息">
      <button class="layim-send" [class.layui-disabled]="key.length<=0" (click)="send()">发送</button>
    </div>
    <div class="layim-chat-tool">
      <div class="weui-grids">
        <a href="javascript:;" style="width: 20%;" class="weui-grid" (click)="onTool(tool)" *ngFor="let tool of tools">
          <div class="weui-grid__icon">
            <img [src]="tool.icon" alt="">
          </div>
          <p class="weui-grid__label">{{tool.title}}</p>
        </a>
      </div>
    </div>
  </div>
</div>


<im-reddpack *ngIf="show.redpack" (onCancel)="cancel()" (onSure)="sure($event)"></im-reddpack>
<im-shoukuan *ngIf="show.shouqian" (onCancel)="cancel()" (onSure)="sure($event)"></im-shoukuan>
<im-location *ngIf="show.location" (onCancel)="cancel()" (onSure)="sure($event)"></im-location>
<im-video *ngIf="show.video" (onCancel)="cancel()" (onSure)="sure($event)"></im-video>
<im-vioce *ngIf="show.voice" (onSure)="sure($event)" (onCancel)="cancel()"></im-vioce>
<im-image *ngIf="show.image" (onCancel)="cancel()" (onSure)="sure($event)"></im-image>
<im-task *ngIf="show.task" (onSure)="sure($event)" (onCancel)="cancel()"></im-task>
<im-card *ngIf="show.card" (onCancel)="cancel()" (onSure)="sure($event)"></im-card>