<el-collapse [accordion]="true">
    <el-collapse-item [label]="group.title" [value]="i" *ngFor="let group of widgets;index as i;">
        <div class="widgets-container">
            <div draggable [dragTag]="'widget-new'" [dragData]="item.__that" class="widget ui-draggable ui-draggable-handle" (click)="selectWidget(item)" *ngFor="let item of group.widgets">
                <i class="icon-container icomoon-text"></i>
                <label>{{item.name}}</label>
            </div>
        </div>
    </el-collapse-item>
</el-collapse>