.meepo_picker-container {
    position: absolute !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

// 布局
.layout {
    width: 100%;
    height: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .layout-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100% !important;
        position: relative;
        overflow: hidden;
        .layout-menu {
            position: absolute;
            top: 0px;
            bottom: 0px;
            display: flex;
            flex-direction: column;
            width: 60%;
            background: #ccc;
            &.left {
                left: 0px;
            }
            &.right {
                right: 0px;
            }
        }
        .layout-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-height: 44px;
            background-color: red;
        }
        .layout-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-height: 44px;
            background-color: red;
        }
        .layout-body {
            flex: 1;
            overflow-y: auto;
            height: 100% !important;
            width: 100%;
            background-color: #efefef;
        }
    }
}

.left {
    &.layout-menu-close {
        left: -100% !important;
        transition: .5s ease;
    }
}

.right {
    &.layout-menu-close {
        right: -100% !important;
        transition: .5s ease;
    }
}