* {
    margin: 0px;
    padding: 0px;
}

html,
body,
admin-root,
routers-page,
nz-layout,
setting-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar-label-title {
    display: block;
}

.sidebar-container-close {
    .sidebar-label-title {
        display: none;
    }
}