// css 初始化
// @import "~element-angular/theme/index.css";
* {
    margin: 0px;
    padding: 0px;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

// css 初始化
html,
body,
admin-root,
routers-page,
nz-layout,
setting-page,
main-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar-label-title {
    display: block;
}

.sidebar-container-close {
    .sidebar-label-title {
        display: none !important;
    }
    .sidebar-header-avatar {
        max-width: 2em !important;
    }
}

@import "overlay.scss";
.mat-dialog-container {
    background: #fff;
    padding: 0px !important;
    margin: 0px;
}

.row {
    width: 100%;
}

.panel-body,
.panel-footer,
.panel-heading {
    display: block;
}

.ibox-title {
    border: none !important;
}

body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}

ul {
    list-style: none
}

.page,
body {
    background-color: #f8f8f8
}

.link {
    color: #1aad19
}

.container {
    overflow: hidden
}

.container,
.page {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0
}

.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    z-index: 1
}

.page.js_show {
    opacity: 1
}

.page__hd {
    padding: 40px
}

.page__bd_spacing {
    padding: 0 15px
}

.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center
}

.page__ft img {
    height: 19px
}

.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400
}

.page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px
}

.page.home .page__intro-icon {
    margin-top: -.2em;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.page.home .page__title {
    font-size: 0;
    margin-bottom: 15px
}

.page.home .page__bd img {
    width: 30px;
    height: 30px
}

.page.home .page__bd li {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer
}

.page.home .page__bd li.js_show .weui-flex {
    opacity: .4
}

.page.home .page__bd li.js_show .page__category {
    height: auto
}

.page.home .page__bd li.js_show .page__category-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.page.home .page__bd li:first-child {
    margin-top: 0
}

.page.home .page__category {
    height: 0;
    overflow: hidden
}

.page.home .page__category-content {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: .3s
}

.page.home .weui-flex {
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s
}

.page.home .weui-cells {
    margin-top: 0
}

.page.home .weui-cells:after,
.page.home .weui-cells:before {
    display: none
}

.page.home .weui-cell {
    padding-left: 20px;
    padding-right: 20px
}

.page.home .weui-cell:before {
    left: 20px;
    right: 20px
}

.page.button .page__bd {
    padding: 0 15px
}

.page.button .button-sp-area {
    margin: 0 auto;
    padding: 15px 0;
    width: 60%
}

.page.cell .page__bd,
.page.form .page__bd {
    padding-bottom: 30px
}

.page.actionsheet,
.page.dialog {
    background-color: #fff
}

.page.dialog .page__bd {
    padding: 0 15px
}

.page.msg,
.page.msg_success,
.page.msg_warn,
.page.toast {
    background-color: #fff
}

.page.panel .page__bd {
    padding-bottom: 20px
}

.page.article {
    background-color: #fff
}

.page.icons {
    text-align: center
}

.page.icons .page__bd {
    padding: 0 40px;
    text-align: left
}

.page.icons .icon-box {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.page.icons .icon-box i {
    margin-right: 18px
}

.page.icons .icon-box__ctn {
    -webkit-flex-shrink: 100;
    flex-shrink: 100
}

.page.icons .icon-box__title {
    font-weight: 400
}

.page.icons .icon-box__desc {
    margin-top: 6px;
    font-size: 12px;
    color: #888
}

.page.icons .icon_sp_area {
    margin-top: 10px;
    text-align: left
}

.page.icons .icon_sp_area i:before {
    margin-bottom: 5px
}

.page.flex .placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf
}

.page.loadmore {
    background-color: #fff
}

.page.layers {
    overflow-x: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

@media only screen and (max-width:320px) {
    .page.layers .page__hd {
        padding-left: 20px;
        padding-right: 20px
    }
}

.page.layers .page__bd {
    position: relative
}

.page.layers .page__desc {
    min-height: 4.8em
}

.page.layers .layers__layer {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 266px;
    margin-left: -75px;
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s;
    background: url(./assets/images/layers/transparent.gif) no-repeat 50%;
    background-size: contain;
    font-size: 14px;
    color: #fff
}

.page.layers .layers__layer span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s
}

.page.layers .layers__layer:last-child span {
    color: #aaa
}

.page.layers .layers__layer.j_hide {
    opacity: 0
}

.page.layers .layers__layer.j_pic span {
    color: transparent
}

@media only screen and (min-width:375px) and (min-height:603px) {
    .page.layers .layers__layer {
        width: 180px;
        height: 320px;
        margin-left: -90px
    }
}

@media only screen and (min-width:414px) and (min-height:640px) {
    .page.layers .layers__layer {
        width: 200px;
        height: 355px;
        margin-left: -100px
    }
}

.page.layers .layers__layer_popout {
    border: 1px solid hsla(0, 0%, 80%, .5);
    z-index: 4
}

.page.layers .layers__layer_popout.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_popout.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px)
    }
}

.page.layers .layers__layer_popout.j_pic {
    border-color: transparent;
    background-image: url(./assets/images/layers/popout.png)
}

.page.layers .layers__layer_mask {
    background-color: rgba(0, 0, 0, .5);
    z-index: 3
}

.page.layers .layers__layer_mask.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_mask.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px)
    }
}

.page.layers .layers__layer_navigation {
    background-color: rgba(40, 187, 102, .5);
    z-index: 2
}

.page.layers .layers__layer_navigation.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_navigation.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px)
    }
}

.page.layers .layers__layer_navigation.j_pic {
    background-color: transparent;
    background-image: url(./assets/images/layers/navigation.png)
}

.page.layers .layers__layer_content {
    background-color: #fff;
    z-index: 1
}

.page.layers .layers__layer_content.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px)
}

@media only screen and (max-width:320px) {
    .page.layers .layers__layer_content.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
    }
}

.page.layers .layers__layer_content.j_pic {
    background-image: url(./assets/images/layers/content.png)
}

.page.searchbar .searchbar-result {
    display: none;
    margin-top: 0;
    font-size: 14px
}

.page.searchbar .searchbar-result .weui-cell__bd {
    padding: 2px 0 2px 20px;
    color: #666
}

.page.actionsheet,
.page.picker {
    overflow: hidden
}

.page.picker {
    background-color: #fff
}

.page.gallery {
    overflow: hidden
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.page.slideIn {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.page.slideOut {
    -webkit-animation: b .2s forwards;
    animation: b .2s forwards
}

@import "./meepo-common.scss";
.layout-body {
    color: #000;
}

@import "./app/design/layouts/common.scss";
header {
    background: #fff !important;
}

.el-menu-scroll-y {
    .el-menu {
        overflow: auto;
        width: 100%;
    }
}

.el-menu-right {
    &>ul {
        padding-left: 0px !important;
    }
}

.el-menu-item-group {
    &>ul {
        padding-left: 0px !important;
    }
}

.top-nav {
    background: #fff;
    border: 0;
    border-radius: 0;
    position: fixed;
    min-height: 44px;
    box-shadow: 0 0 10px 0 hsla(0, 6%, 58%, .6);
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    padding-left: 100px;
    .top-nav-title {
        text-align: center;
        display: block;
        width: 100%;
        line-height: 44px;
        height: 44px;
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: 600;
    }
}

.el-menu {
    width: 100%;
    min-width: 250px;
}

.row {
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.right-menu {
    .nav-tabs {
        height: 44px;
        line-height: 44px;
        a {
            padding: 5px !important;
            line-height: 32px;
        }
    }
    .el-menu {
        min-width: 100px;
        overflow: hidden;
    }
}

.nav-tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    li {
        min-width: 8em;
    }
}

.tabs-container {
    padding-top: 10px;
    ul.meepo-tabs {
        display: flex;
        box-shadow: 0 0 10px 0 rgba(154, 141, 141, 0.6);
        overflow: auto;
        height: 44px;
        line-height: 44px;
        li {
            line-height: 44px;
            height: 44px;
            min-width: 6em;
            text-align: center;
            &.active {
                border-bottom: 2px solid red;
            }
        }
    }
    ul.nav-tabs {
        border: none !important;
        margin: 0px;
        padding: 0px;
        li.active {
            border: none;
            a {
                margin: 0px !important;
                padding: 0px !important;
                border-bottom: 2px solid red;
                text-align: center;
                border: none;
            }
        }
    }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 0px;
    /*滚动条宽度*/
    height: 0px;
    /*滚动条高度*/
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    /*滚动条的背景区域的圆角*/
    background-color: red;
    /*滚动条的背景颜色*/
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
    background-color: green;
    /*滚动条的背景颜色*/
}

.cdk-overlay-container {
    z-index: 999999999;
}

body,
html {
    overflow: hidden;
}

.js-marquee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.meepo-dragged {
    border: 1px dashed red;
    background-color: gray;
}

.meepo-dragenter {
    background-color: gray !important;
    .control-wrap {
        display: block !important;
        background-color: rgba(0, 0, 0, 0.38) !important;
    }
}

.sortable-active::after {
    content: "放这里";
    position: relative;
    width: 99%;
    height: 25px;
    line-height: 25px;
    background-color: rgb(255, 229, 205);
    color: rgb(236, 105, 65);
    text-align: center;
    font-size: 14px;
    z-index: 99;
    display: block;
    margin: 0px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(236, 105, 65);
    border-image: initial;
}