.timeaxis{
  height: 48px;
}
.timeaxis-wrap{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 48px;
  color: #999;
  z-index: 999;
  background: #2d3845;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.timeaxis-pass{
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  background-color: #2d3845;
  color: #fff;
  z-index: 9999;
  text-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  .timeaxis-time{
    font-size: 14px;
    height: 20px;
  }
  .timeaxis-info{
    font-size: 12px;
  }
}

.timeaxis-bar{
  display: -webkit-box;
  z-index: 99;
  position: relative;
  height: 100%;
  transition: all 0.3s ease-out;
  .timeaxis-item{
    text-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
    z-index: 99;
    transform: translateZ(0);
    transition: all 0.3s ease-out;
    &.timeaxis-active{
      position: relative;
      color: #fff;
      .timeaxis-item{
        font-size: 18px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        color: #fff;
        position: relative;
        z-index: 99;
        text-align: center;

      }
      .timeaxis-info{
        position: relative;
        z-index: 99;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
      }
    }
    .timeaxis-time{
      font-size: 16px;
      height: 20px;
      line-height: 20px;
      color: #fff;
      font-weight: 700;
      position: relative;
      z-index: 99;
      text-align: center;
    }
    .timeaxis-info{
      position: relative;
      z-index: 99;
      text-align: center;
      font-size: 12px;
    }
  }
}

.timeaxis-current{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 50%;
  z-index: 18;
  background: #fc353a;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 18;
    display: block;
    height: 0;
    width: 0;
    margin: auto;
    border-top: 7px solid #fc353a;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }
}