<div class="timeaxis">
  <div class="timeaxis-wrap">
    <div class="timeaxis-pass" style="width: 103px;">
      <div class="timeaxis-item-inner" (click)="reset()">
        <div class="timeaxis-time">{{label['title'] || '热卖榜单'}}</div>
        <div class="timeaxis-info">{{label['desc'] || '已开抢'}}</div>
      </div>
    </div>
    <div class="timeaxis-bar" [style.width]="(items.length * 103 )+'px'" [style.transform]="'translate3d(-'+width+'px, 0px, 0px)'">
      <div class="timeaxis-item timeaxis-item-padding" style="width: 103px;"></div>
      <div class="timeaxis-item" (click)="_onItem(item)" [class.timeaxis-active]="item['status'] == 'current'" style="width: 103px;" *ngFor="let item of items">
        <div class="timeaxis-item-inner">
          <div class="timeaxis-time">{{item['title']}}</div>
          <div class="timeaxis-info">{{item['desc']}}</div>
        </div>
      </div>
      <div class="timeaxis-item timeaxis-item-padding" style="width: 103px;"></div>
      <div class="timeaxis-item timeaxis-item-padding" style="width: 103px;"></div>
    </div>
    <div class="timeaxis-current"></div>
  </div>
</div>