<div class="van-steps van-steps--vertical">
  <div class="van-steps__items van-steps__items--alone">
    <div class="van-step van-step--vertical" [class.van-step--process]="item.active" *ngFor="let item of items">
      <div class="van-step__circle-container">
        <i class="van-icon" [class.van-icon-checked]="item.active" [style.color]="item.active? 'color: rgb(255, 102, 0)' : '#000'"></i>
      </div>
      <div class="van-step__title" [style.color]="item.active?'rgb(255, 102, 0)': '#000'">
        <h3>{{item.title}}</h3>
        <p>{{item.time}}</p>
      </div>
      <div class="van-step__line"></div>
    </div>
  </div>
</div>