.ticket_xq {
  background-color: #FFF;
  padding-left: 12px;
  li {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    color: #999;
    border-top: 1px solid #f5f5f5;
    &.desc{
      overflow: auto;
      height: auto;
      line-height: 20px;
      padding-right: 10px;
      p{
        word-break: break-all;
        word-wrap: break-word;
      }
    }
    > :first-child {
      border: none;
    }
    span {
      color: #333;
    }
  }
}
