<div class="cap-deep-select cap-action--clearfix" style="height: 176px;">
  <div class="cap-deep-select__nav">
    <div class="cap-deep-select__nitem cap-action--ellipsis">所有城市</div>
    <div class="cap-deep-select__nitem cap-action--ellipsis cap-deep-select__nitem--active">浙江</div>
    <div class="cap-deep-select__nitem cap-action--ellipsis">江苏</div></div>
  <div class="cap-deep-select__content" style="height: 176px;">
    <div class="cap-deep-select__item cap-action--ellipsis cap-deep-select__item--active">杭州
      <i class="van-icon cap-deep-select__selected cap-action--pull-right van-icon-success"></i>
    </div>
    <div class="cap-deep-select__item cap-action--ellipsis">温州</div>
    <div class="cap-deep-select__item cap-action--ellipsis">宁波</div>
    <div class="cap-deep-select__item cap-action--ellipsis">义乌</div>
  </div>
</div>
