@import "../../core-scss/themes/default";
@import "../../core-scss/flex";

.am-flexbox-item {
  box-sizing: border-box;
  @include flex(1);
  margin-left: $h-spacing-md;
  min-width: 20px;

  &:first-child {
    margin-left: 0;
  }
}