<div class="shop-header" style="background-image: url('../addons/imeepos_runner/template/mobile/assets/images/bg.jpg'); background-size: 100% 100%;">
  <!-- needData 店铺背景 -->
  <div class="shop-header-details">
    <div class="bg-grey">
      <div class="details-box">
        <img [src]="detail['avatar']">
        <div class="shop-tit-a">
          <h3>{{detail['nickname']}}</h3>
          <span class="provider-grade grade-2">{{detail['xinyu']}}信誉</span>
          <i class="medal-level medal-0"></i>
        </div>
        <p class="details">
          <span class="income">{{detail['realname']}}</span>
          <span class="details-number">{{detail['moible']}}</span>
        </p>
        <p class="city"></p>
      </div>
    </div>
  </div>
</div>
