.shop-header {
  background: url("http://m.zbjimg.com/j-mobile/output/static/image/page/shop/shop-bg_46070fed.png") no-repeat;
  height: 120px;
  background-size: 100% 100%;
  position: relative;
  /* .shop-tit-a{
     display: inline-block;
   }*/
  h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%;
    vertical-align: bottom;
  }
  .tpw {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    padding: 0 5px;
    color: #fff;
    background: #de352f;
    border-radius: 2px;
    vertical-align: middle;
  }
  .bg-grey {
    padding-left: 10px;
    background: rgba(88, 88, 88, 0.01);
  }
  p {
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .details-number {
    margin-left: 5px;
  }
  .details-box {
    /*float: left;
      margin-left: 3px;*/
    padding-left: 70px;
    position: relative;
    img {
      width: 60px;
      height: 60px;
      float: left;
      position: absolute;
      left: 0;
      border-radius: 6px;
    }
  }
  .medal-level {
    vertical-align: bottom;
  }
}


.shop-header-details {
  padding-top: 48px;
  padding-right: 60px;
  padding-bottom: 20px;
  background: rgba(88, 88, 88, 0.2);
}

.bg-grey {
  background-color: #f4f4f4;
}

.provider-grade {
  margin-right: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  &.grade-0 {
    display: none;
  }
  &.grade-1 {
    background-color: #fdc245;
    border: 1px solid #ffad1e;
  }
  &.grade-2 {
    background-color: #ffa856;
    border: 1px solid #ff902e;
  }
  &.grade-3 {
    background-color: #ff7676;
    border: 1px solid #ff6161;
  }
  &.grade-4 {
    background-color: #97e068;
    border: 1px solid #8bd55e;
  }
  &.grade-5 {
    background-color: #6bd892;
    border: 1px solid #40d27e;
  }
  &.grade-6 {
    background-color: #43d4be;
    border: 1px solid #30c6af;
  }
  &.grade-7 {
    background-color: #34beff;
    border: 1px solid #2fafef;
  }
  &.grade-8 {
    background-color: #5da2ff;
    border: 1px solid #4f94f3;
  }
  &.grade-9 {
    background-color: #b391fd;
    border: 1px solid #a07eed;
  }
  &.grade-10 {
    background: url(http://m.zbjimg.com/j-mobile/output/static/image/widget/81-bg_2dd8d47d.png);
    background-size: 100% 100%;
    padding: 3px 7px;
  }
}


.follow {
  font-size: 10px;
  background: #ff6900;
  color: #fff;
  width: 14%;
  height: 40px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 20px;
  span {
    padding-top: 3px;
    display: block;
  }
}
