<ng-template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn">
    <im-system-message *ngIf="item['openid'] == 'system'">
        <im-message-content [item]="item"></im-message-content>
    </im-system-message>
    <im-my-message [item]="item" *ngIf="item.openid == _myOpenid">
        <im-message-content [item]="item"></im-message-content>
    </im-my-message>
    <im-other-message [item]="item" *ngIf="item.openid == _openid">
        <im-message-content [item]="item"></im-message-content>
    </im-other-message>
</ng-template>