:host {
    display: block;
    height: auto;
    width: 100%;
    position: relative;
    &.active {
        cursor: move;
        .opts {
            display: block;
        }
        .control-wrap {
            display: block;
            .move-handle {
                display: block;
            }
            .ele-delete-icon {
                display: block;
            }
        }
    }
}

p {
    margin: 0px;
    padding: 0px;
}

.opts {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #000;
    font-size: 1.2em;
    display: none;
    z-index: 999;
    .fa {
        margin: 5px;
        cursor: pointer;
        background: #ccc;
        padding: 5px 10px;
        border-radius: 3px;
        &:hover {
            color: red;
        }
    }
}

.control-wrap {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    color: #000;
    font-size: 1.2em;
    display: none;
    z-index: 999;
    height: 100%;
}