:host {
    display: block;
    height: auto;
    width: 100%;
    position: relative;
    &:hover {
        border: 2px dashed #00a0e9;
        cursor: move;
    }
}

p {
    margin: 0px;
    padding: 0px;
}