
.cap-contact {
  .popup-slide-right-enter, .popup-slide-right-leave-active {
    left: 100%;
    .cap-contact-list__add {
      left: 100%;
    }
  }
}

.cap-contact__list {
  box-sizing: border-box;
  padding-bottom: 44px;
  overflow: auto;
  background-color: #eee;
  top: 0;
  left: 0;
  -webkit-transform: none;
  transform: none;
}

.cap-contact__edit, .cap-contact__list {
  width: 100%;
  height: 100%;
}

.cap-contact-list {
  .van-cell__value {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  .van-radio__label {
    padding-left: 32px;
    margin-left: 0;
  }
  .van-radio__input {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }
  .van-icon-checked {
    color: #38f;
  }
}

.cap-contact-list__text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.cap-contact-list__edit {
  position: absolute;
  top: 50%;
  font-size: 26px;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4px;
  color: #999;
}

.cap-contact-list__add {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #f5f5f5;
  line-height: 44px;
  z-index: 9;
  background-color: #fff;
  color: #333;
  padding-left: 15px;
  box-sizing: border-box;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  .van-icon-add {
    margin-right: 5px;
    font-size: 20px;
    color: #38f;
  }
  .van-icon-arrow {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
  }
}

.cap-contact-edit .van-button {
  margin-bottom: 10px;
}

.cap-contact-edit__buttons {
  padding: 20px 10px;
}

.cap-contact-edit__default {
  .van-cell__title {
    line-height: 31px;
  }
  .van-cell__value {
    height: 31px;
  }
}

.cap-contact-namecard {
  position: relative;
  background-color: #fff;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
  }
}

.cap-contact-namecard--add {
  .cap-contact-namecard__icon {
    color: #3283fa;
    font-size: 40px;
  }
  .cap-contact-namecard__text {
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.cap-contact-namecard--edit .cap-contact-namecard__icon {
  vertical-align: top;
}

.cap-contact-namecard__content {
  padding: 15px;
}

.cap-contact-namecard__icon {
  display: inline-block;
  margin-right: 10px;
}

.cap-contact-namecard__text {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
}

.cap-contact-namecard__arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.cap-contact-namecard__bottom {
  width: 100%;
  height: 2px;
  background-image: url("data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAECAYAAAA3S5neAAAAAXNSR0IArs4c6QAAAIpJREFUOBHF0iESg1AMBNDshx4H0+EUSCxnQKBAVDIMjhnOgO8NOADTI7V/CcjU58ckq/aJQHTYto2u7bpdB3hjXWvb+Ry/jTC6e6CeQBIK6i3KJWfZbHsuDxiTeCCcc+m6SlGFhTnkHcty2J5y+lVM4NHv2D+vxxEkxsGiXHIIf99x95JJPIDcnhMVeyVty5S/SAAAAABJRU5ErkJggg==");
  background-size: 34px 2px;
}
