:host {
    display: flex;
    width: 100%;
    min-height: 44px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: #ccc;
    }
    &:hover {
        border: 2px dashed #00a0e9;
        cursor: move;
    }
}

.title {
<<<<<<< HEAD
    font-size: 1em;
    font-weight: 600;
    color: #fff;
=======
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
>>>>>>> master
}