.bmap-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .bmap-container {
        flex: 1;
        height: 100%;
        position: relative;
        min-height: 300px;
        .bmap {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
}