<div class="fixed">
    <suyun-top-nav [items]="topNavs" (onItem)="onTopNavItem($event)"></suyun-top-nav>
    <suyun-address-select [hasMember]="hasMember" *ngIf="activeItem['code'] == 'myaddress'" (onSelect)="select($event)"></suyun-address-select>
    <div class="" *ngIf="activeItem['code'] == 'selectAddress'">
        <div class="weui-search-bar" [class.weui-search-bar_focusing]="focused">
            <div class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" #input class="weui-search-bar__input" [formControl]="term" [placeholder]="placeholder" required="">
                    <a href="javascript:" class="weui-icon-clear"></a>
                </div>
                <label class="weui-search-bar__label" (click)="onFocus()">
        <i class="weui-icon-search"></i>
        <span>{{placeholder}}</span>
      </label>
            </div>
            <a href="javascript:" class="weui-search-bar__cancel-btn" (click)="cancel()">取消</a>
        </div>
        <div class="weui-cells" *ngIf="count>0">
            <a class="weui-cell weui-cell_access" href="javascript:;" (click)="select(item)" *ngFor="let item of result.pois">
                <div class="weui-cell__bd">
                    <p>{{item.title}}</p>
                    <p class="desc">{{item.address}}</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>

        <!--{{info | json}}-->
        <div class="empty" *ngIf="count<=0">
            <h2>{{region}}</h2>
            没有找得到相应地址,换个关键字试试吧
        </div>
    </div>
</div>

<suyun-geolocation *ngIf="showLocation" (onLocation)="onLocation($event)"></suyun-geolocation>