<div class="sku-container">
  <zan-modal (onModal)="_close()"></zan-modal>
  <zan-popup>
    <div class="cap-sku-container">
      <div class="cap-sku-layout">
        <div class="cap-sku-header">
          <div class="cap-sku-header__img-wrap">
            <img [src]="good['image']" class="cap-sku__goods-img"></div>
          <div class="cap-sku-header__goods-info">
            <div class="cap-sku__goods-name">{{good['title']}}</div>
            <div class="cap-sku__goods-price">
              <span class="cap-sku__price-symbol">￥</span>
              <span class="cap-sku__price-num">{{good['price']}}</span>
            </div>
            <span class="cap-sku__close-icon" (click)="_close()"></span>
          </div>
        </div>
        <div class="cap-sku-wrapper">

          <div class="cap-sku-quantity-stock">
            <div class="cap-sku-quantity-container">
              <div class="cap-sku__quantity-title">购买数量：</div>
              <zan-quantity [num]="good['num']" [max]="good['limit']" (onChange)="onChange($event)"></zan-quantity>
            </div>
            <div class="cap-sku__stock">剩余{{good['total']}}件</div>
            <div class="cap-sku__quota">每人限购{{good['limit']}}件</div>
          </div>
          <ng-content></ng-content>
          <div class="cap-sku-actions">
            <button class="cap-sku__add-cart-btn" (click)="_addToCart()">加入购物车</button>
            <button class="cap-sku__buy-btn" (click)="_nowBuy()">立即购买</button>
          </div>
        </div>
      </div>
    </div>
  </zan-popup>
</div>
