suyun-coach-seat {
    display: block;
}

.weui-dialog {
    .main {
        text-align: left;
        height: calc( 300px - 55px);
        overflow: hidden;
        position: relative;
        .main-scroll {
            overflow: scroll;
            height: 250px;
        }
    }
}