<div>
  <form>
    <div class="form-3Tdoe">
      <div class="form-raDPn">
        <label class="form-2_aRs">
          手机号
        </label>
        <input type="text" readonly="readonly" maxlength="11" class="form-2FeH8">
        <input type="tel" maxlength="11" class="form-2FeH8" style="display: none;">
        <button type="button" class="form-3glkS form-mT-9h">
          获取验证码
        </button>
      </div>
      <div class="form-raDPn">
        <label class="form-2_aRs">验证码</label>
        <input placeholder="请输入验证码" maxlength="6" type="tel" class="form-2FeH8">
      </div>
    </div>
    <div class="Home-1fj6O_1">
      <button disabled="disabled" ubt-click="3525" type="submit" class="Home-R8t_y_1 form-3glkS form-1M79q">
        验证后绑定新手机号
      </button>
    </div>
  </form>
  <footer class="Home-2dRju_1 Home-RJ7j8_1">
  若当前号码已不用或丢失，请选用
    <a href="#/Apply" class="" ubt-click="3932">在线申诉</a>
  </footer>
  <div data-v-2955bf86="" style="display: none;"></div>
</div>
