<div class="weui-wepay-pay-wrap">
  <div class="weui-wepay-pay">
    <div class="weui-wepay-pay__bd">
      <div class="weui-wepay-pay__inner">
        <h1 class="weui-wepay-pay__title">{{_props.title}}</h1>
        <div class="weui-wepay-pay__inputs"> <strong class="weui-wepay-pay__strong">￥</strong>
          <input type="number" [(ngModel)]="money" class="weui-wepay-pay__input" [placeholder]="_props.placeholder"></div>
        <div class="weui-wepay-pay__intro">{{_props.desc}}</div>
      </div>
    </div>
    <div class="weui-wepay-pay__ft">
      <p class="weui-wepay-pay__info">{{_props.tip}}</p>
      <div class="weui-wepay-pay__btn" *ngIf="_props.haspay">
        <a href="javascript:;" class="weui-btn weui-btn_primary" (click)="pay()">立即支付</a>
      </div>
    </div>
  </div>
</div>